// --------------------------------

// Content

// --------------------------------

.page {
  overflow-x: hidden; // prevent horizontal scrolling
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1680px;
  position: relative;
}

.border-offscreen {
  position: relative;

  &:after {
    background-color: alpha(var(--color-black), 0.2);
    border-top: 1px solid transparent; // High Contrast Mode
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 400%;
  }

}