// --------------------------------

// Typography

// --------------------------------

.text-xxxl {
  @include typography(144);
}

.text-xxl {
  @include typography(84);
}

.text-xl {
  @include typography(48);
}

.text-lg {
  @include typography(36);
}

.text-md {
  @include typography(24);
}

.text-base {
  @include typography(20);
}

.text-sm {
  @include typography(16);
}

.text-xs {
  @include typography(14);
}

// --------------------------------

// Text component

// --------------------------------

.text-component {

  h1 {
    @extend .text-xxl;
    margin-bottom: var(--space-sm);
  }

  h2 {
    @extend .text-xl;
    margin-bottom: var(--space-xxs);
    margin-top: var(--space-md);
  }

  h3 {
    @extend .text-lg;
    margin-bottom: var(--space-xxs);
    margin-top: var(--space-md);
  }

  h4 {
    @extend .text-md;
    margin-bottom: var(--space-xxs);
    margin-top: var(--space-md);
  }

  ul,
  ol,
  p {
    margin-bottom: var(--space-xxs);
  }

  ul,
  ol {
    @extend .list;
  }

  ul:not([class]) {
    @extend .list-ul;
  }

  ol:not([class]) {
    @extend .list-ol;
  }

  ul:not([class]) li,
  ol:not([class]) li {
    display: block;
    margin-bottom: var(--space-xxxs);
  }

  a:not([class]) {
    @include link-common;
    @include link-style-default;
  }

  em {
    font-style: italic;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

}