// --------------------------------

// Typography

// --------------------------------

%heading-xxxl {
  @include typography(144);
}

%heading-xxl {
  @include typography(84);
}

%heading-xl {
  @include typography(48);
}

%heading-lg {
  @include typography(36);
}

%heading-md {
  @include typography(24);
}

%heading-sm {
  @include typography(20);
}

%body-lg {
  @include typography(24);
}

%body {
  @include typography(20);
}

%body-sm {
  @include typography(16);
}

%body-xs {
  @include typography(14);
}

// --------------------------------

// Headings

// --------------------------------

.heading-xxxl {
  @extend %heading-xxxl;
}

.heading-xxl {
  @extend %heading-xxl;
}

.heading-xl {
  @extend %heading-xl;
}

.heading-lg {
  @extend %heading-lg;
}

.heading-md {
  @extend %heading-md;
}

.heading-sm {
  @extend %heading-sm;
}

// --------------------------------

// Body

// --------------------------------

.body-lg {
  @extend %body-lg;
}

.body {
  @extend %body;
}

.body-sm {
  @extend %body-sm;
}

.body-xs {
  @extend %body-xs;
}

// --------------------------------

// Text

// --------------------------------

.text-xl {
  @include typography(48);
}

.text-lg {
  @include typography(36);
}

.text-md {
  @include typography(24);
}

.text-sm {
  @include typography(20);
}

// --------------------------------

// Text component

// --------------------------------

.text-component {

  h1 {
    @extend %heading-xxl;
    margin-bottom: var(--space-sm);
  }

  h2 {
    @extend %heading-xl;
    margin-bottom: var(--space-xxs);
    margin-top: var(--space-md);
  }

  h3 {
    @extend %heading-lg;
    margin-bottom: var(--space-xxs);
    margin-top: var(--space-md);
  }

  h4 {
    @extend %heading-md;
    margin-bottom: var(--space-xxs);
    margin-top: var(--space-md);
  }

  ul,
  ol,
  p {
    margin-bottom: var(--space-xxs);
  }

  ul:not([class]) {
    @extend .list--ul;
  }

  ol:not([class]) {
    @extend .list--ol;
  }

  ul:not([class]) li,
  ol:not([class]) li {
    display: block;
    margin-bottom: var(--space-xxxs);
  }

  a:not([class]) {
    @include link-common;
    @include link-style-default;
  }

  em {
    font-style: italic;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

}