@use "../base" as *;

// --------------------------------

// Typography

// --------------------------------

.text-xxxl {
  @include typography(144);
}

.text-xxl {
  @include typography(84);
}

.text-xl {
  @include typography(48);
}

.text-lg {
  @include typography(36);
}

.text-md {
  @include typography(24);
}

.text {
  @include typography(20);
}

.text-sm {
  @include typography(16);
}

.text-xs {
  @include typography(14);
}

// --------------------------------

// Text component

// --------------------------------

.text-component {

  h1 {
    @extend .text-xxl;
    margin-bottom: var(--space-sm);
  }

  h2 {
    @extend .text-xl;
    margin-bottom: var(--space-xxs);
    margin-top: var(--space-md);
  }

  h3 {
    @extend .text-lg;
    margin-bottom: var(--space-xxs);
    margin-top: var(--space-md);
  }

  h4 {
    @extend .text-md;
    margin-bottom: var(--space-xxs);
    margin-top: var(--space-md);
  }

  ul,
  ol,
  p {
    margin-bottom: var(--space-xxs);
  }

  ul,
  ol {
    padding-left: 0;

    ul,
    ol {
      margin: 0;
      padding-left: var(--space-xs);
      padding-top: var(--space-xxxs);
    }

    li {
      display: block;
      margin-bottom: var(--space-xxxs);
    }

  }

  ul:not([class]) {
    --bullet-size: 6px; // dot width and height
    --bullet-margin-right: var(--space-xxs); // gap between bullet and content

    li {
      padding-left: calc(var(--bullet-size) + var(--bullet-margin-right));
    }

    // bullet
    li::before {
      background-color: currentColor;
      border: 2px solid currentColor;
      border-radius: 50%;
      color: inherit; // bullet color
      display: inline-flex;
      content: "";
      height: var(--bullet-size);
      left: calc(var(--bullet-margin-right) * -1);
      margin-top: calc(-1 * var(--bullet-size) / 2); // half bullet size
      margin-left: calc(var(--bullet-size) * -1);
      position: relative;
      vertical-align: middle;
      width: var(--bullet-size);
    }

    ul li::before {
      background-color: transparent;
    }
  }

  ol:not([class]) {
    --bullet-size: 24px; // circle width and height
    --bullet-margin-right: var(--space-xxxs); // gap between circle and content

    counter-reset: list-items;

    li {
      padding-left: calc(var(--bullet-size) + var(--bullet-margin-right));
      counter-increment: list-items;
    }

    ol {
      counter-reset: list-items;
    }

    li::before {
      @include typography(16);
      align-items: center;
      background-color: var(--color-contrast-lower);
      border: 2px solid var(--color-contrast-lower);
      border-radius: 50%;
      color: inherit;
      content: counter(list-items);
      display: inline-flex;
      height: var(--bullet-size);
      justify-content: center;
      left: calc(var(--bullet-margin-right) * -1);
      margin-left: calc(var(--bullet-size) * -1);
      position: relative;
      vertical-align: middle;
      width: var(--bullet-size);
    }

    ol li::before {
      background-color: transparent;
    }
  }

  ul:not([class]) li,
  ol:not([class]) li {
    display: block;
    margin-bottom: var(--space-xxxs);
  }

  a:not([class]) {
    @include link-common;
    @include link-style-default;
  }

  em {
    font-style: italic;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

}