{% macro backLink(params) %}

  {%- from "macros/_icons.njk" import icon -%}

  <a class="back-link{{ ' ' + params.classes if params.classes else '' }}" href="{{ params.url }}">
    {{
      icon({
        "icon": 'chevron-left'
      })
    }}
    {{ params.text }}
  </a>
{% endmacro %}