// --------------------------------

// Previous / Next Links

// --------------------------------

.pn-links {
  border-bottom: 1px solid alpha(var(--color-black), .2);
  border-top: 1px solid alpha(var(--color-black), .2);
}

.pn-links__item {
  display: block;
  padding: var(--space-md);

  position: relative;
}

.pn-links__item:first-child {
  border-bottom: 1px solid alpha(var(--color-black), .2);
}

.pn-links__link {
  @include link-common;
  @include link-style-text;
  align-items: flex-start;
  color: inherit;
  display: flex;

  // trick to make whole area clickable
  &::after {
    content: "";
    position: absolute; left: 0; right: 0; bottom: 0; top: 0;
  }

}

.pn-links__icon {
  flex-shrink: 0;
}

@include breakpoint(md) {

  .pn-links__item:first-child {
    border-bottom: none;
    border-right: 1px solid alpha(var(--color-black), .2);
  }

}