{% macro quote(params) %}

  <blockquote class="quote text-component{%- if params.classes is defined %} {{ params.classes }}{% endif %}"{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>

    {% if params.text %}<p>{{ params.text }}</p>{% else %}{{ params.html | safe }}{% endif %}

    <footer class="quote__cite">
      <span class="quote__cite-name">{{ params.cite.name }}</span>
      <span class="quote__cite-role">{{ params.cite.role }}</span>
    </footer>

  </blockquote>

{% endmacro %}