{% macro quote(params) %}

  <blockquote class="quote text-component{{ ' ' + params.classes if params.classes else '' }}"{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>

    {% if params.text %}<p>{{ params.text }}</p>{% else %}{{ params.html | safe }}{% endif %}

    <footer class="quote__cite">
      {% if params.cite.url %}
        <a class="quote__cite-name" href="{{ params.cite.url }}" rel="nofollow">{{ params.cite.name }}</a>
      {% else %}
        <span class="quote__cite-name">{{ params.cite.name }}</span>
      {% endif %}
      <span class="quote__cite-role">{{ params.cite.role }}</span>
    </footer>

  </blockquote>

{% endmacro %}