// --------------------------------

// Quote

// --------------------------------

.quote__cite {
  @include typography(16);
}

.quote__cite-name {
  display: block;
  font-weight: var(--font-bold);
  padding-left: var(--space-md);
  position: relative;

  &::before {
    background-color: var(--color-contrast-high);
    border-top: 1px solid transparent; // High Contrast Mode
    content: "";
    left: 0;
    position: absolute;
    top: 50%;
    width: 24px;
  }

}

.quote__cite-role {
  color: var(--color-contrast-medium);
  padding-left: var(--space-md);
}