{% set pageTitle       = "Thank you" %}
{% set pageDescription = "Thank you for contacting Trevor Saint. He will respond as soon as possible." %}
{% set pageUrl         = "thank-you" %}
{% set pageId          = "thank-you" %}

{% extends "layout.njk" %}

{% block content %}

    <section class="padding-top-xs padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

      <div class="container">

        <div class="max-width-lg">

          <h1 class="heading-xxxl margin-bottom-xxs margin-bottom-xs@md margin-bottom-lg@lg">Thank you</h1>

          <div class="text-component color-contrast-medium body-lg">
            <p>I will respond to your message as soon as possible.</p>
          </div>

        </div>

      </div>

    </section>

{% endblock %}