/* --------------------------------

Buttons

-------------------------------- */


.button {
  @include fontSmooth;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: var(--radius-sm);
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: inline-flex;
  font-weight: var(--font-semibold);
  padding: var(--space-xxxs) var(--space-xxs);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:link,
  &:visited {
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-contrast-high);
  }

  &:focus {
    background-color: var(--color-tertiary);
    box-shadow: 0 0 0 var(--space-xxxxs) var(--color-tertiary);
    color: var(--color-contrast-high);
  }

}


.button--full-width {
  display: flex;
  justify-content: center;
  width: 100%;
}


.button__label {
  position: relative;
  top: -2px;
}


.button--small {
  @include typography(16);
  padding: var(--space-xxxs) var(--space-xxs);
}


.button--icon-leading {
  padding-left: calc(var(--space-xxs) - var(--space-xxxxs)); // 12px
}


.button--icon-trailing {
  padding-right: calc(var(--space-xxs) - var(--space-xxxxs)); // 12px
}