{% set pageTitle       = "A complete rebrand and design for Max Powder" %}
{% set pageDescription = "Trevor Saint rebranded and designed Max Powder" %}
{% set pageId          = "casestudy" %}

{% extends "layout.html" %}

{% block content %}


<section>


  <div class="container">


    <a class="back-link margin-y-md" href="/projects"><svg class="icon icon--sm" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="{{assetPath}}images/sprite.svg#chevron-left"/></svg>Back</a>


    <h1 class="heading-xxl">A complete rebrand and design for Max Powder</h1>


    <figure class="margin-top-xs">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">Overview</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>Max Powder wanted a complete rebrand with a more up-to-date look and feel. They wanted the website to work on all devices, small and large with the ability to manage their prices, photo galleries and other important information.</p>
              <p>The rebrand and design had to convey the high-quality work Max Powder produce.</p>
              <p>The goal was to keep content to a bare minimum, with nice use of photography and emphasis on customer feedback from the work they do.</p>
            </div>
          </div>

          <div class="col-3@sm">
            <dl>
              <dt class="font-bold">Client</dt>
              <dd class="margin-bottom-xs">Max Powder</dd>
              <dt class="font-bold">Industry</dt>
              <dd class="margin-bottom-xs">Automotive</dd>
              <dt class="font-bold">Year</dt>
              <dd>2018 <span class="color-contrast-medium body-sm">(updated 2020)</span></dd>
            </dl>
          </div>

        </div>

      </div>

    </div>


    <figure>

      <div class="grid gap-xs">

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
        </div>

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
        </div>

      </div>

      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Building a brand identity with a photographic style throughout</figcaption>

    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <h2>Brand Identity</h2>
              <p>I started investigating various typefaces that I feel worked with the words ‘max’ and ‘powder’, with greater emphasis on ‘max’.</p>
              <p>Avant Garde, one of my personal favourite typefaces, was the perfect candidate for the vision I had in mind.</p>
              <p>Inspired by the FedEx logo created by Lindon Leader, I manipulated the typeface to adopt a similar style which I feel worked very well.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>

      <div class="grid gap-xs">

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

      </div>

      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Max Powder logo design on a dark and light background</figcaption>

    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <h2>Style guide and visual design</h2>
              <p>An important process was the preparation of designed elements on pages. A carefully selected typeface and a responsive scale to maintain vertical rhythm.</p>
              <p>The design system included carefully designed and prepared elements which incorporated everything from buttons, grid, colours, icons, form elements and more to define the style and image for Max Powder.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Style guide to include typography, colour palette, form controls, errors, grid, buttons and ui components</figcaption>
    </figure>


    <figure class="margin-top-xs">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Home page visual design to include style guide assets</figcaption>
    </figure>


    <figure class="margin-top-xs">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Gallery page visual design to include style guide assets</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <h2>Managing their content</h2>
              <p>ExpressionEngine was used as the content management system for Max Powder and was a perfect fit for this type of project. It’s flexible, secure and very powerful.</p>
              <p>They have the ability to manage most of their site content, anything ranging from prices to photo galleries, which was exactly what they wanted.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">ExpressionEngine CMS to manage Max Powder online content</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <h2>Quality assurance</h2>
              <p>I ensure that the website is secure and running at its best. It is also fully accessible, search engine friendly, and up-to-date. I use Google Lighthouse as an automated testing tool to improve the quality of Max Powder.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Google Lighthouse automated testing tool and Media Temple SSL firewall protection and monitoring</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <h2>The results</h2>
              <p>I delivered a complete brand identity including logo design to be used on various materials from signage, business cards and invoices. I also designed and built the website from scratch to fulfil the needs of the client. This includes:</p>
              <ul>
                <li>logo design</li>
                <li>design and development</li>
                <li>ExpressionEngine integration</li>
                <li>mobile friendly design</li>
                <li>website hosting and management</li>
                <li>continued support and maintenance</li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="container padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-top">

      <nav class="pagination" aria-label="Pagination Navigation">

        <a class="pagination__link" href="/projects/servelec" rel="prev">

          <span class="pagination__direction">
            <svg class="icon icon--sm margin-right-xxxs" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-back"/></svg>
            Previous
          </span>

          <span class="pagination__subtext display@sm">Servelec</span>

        </a>

        <a class="pagination__link pagination__link--next" href="/projects/judicial-case-manager" rel="next">

          <span class="pagination__direction">
            Next
            <svg class="icon icon--sm margin-left-xxxs" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
          </span>

          <span class="pagination__subtext display@sm">Judicial Case Manager</span>

        </a>

      </nav>

    </div>


  </div>


</section>


{% endblock %}
