{% set pageTitle       = "A complete rebrand and design for Max Powder" %}
{% set pageDescription = "" %}
{% set pageId          = "projects" %}

{% extends "layout.html" %}

{% block content %}


  <div class="container">


    {{ backLink({
      "url": '/projects',
      "text": 'Back'
    }) }}


    <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">A complete rebrand and design for Max Powder</h1>


    <figure class="figure">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
    </figure>


    <div class="flex justify-between items-start margin-top-md">

      {{ entryDetails({
        "rows": [
          {
            "key": {
              "text": 'Client'
            },
            "value": {
              "text": 'Max Powder'
            }
          },
          {
            "key": {
              "text": 'Industry'
            },
            "value": {
              "text": 'Automotive'
            }
          },
          {
            "key": {
              "text": 'Year'
            },
            "value": {
              "text": '2018 (updated 2020)'
            }
          }
        ]
      }) }}

      <p>
        <a class="link-icon" href="#0" rel="external">
          <span class="link-icon__label">Visit website</span>
          <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#launch"/></svg>
        </a>
      </p>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>Overview</h2>

        <div class="color-contrast-medium">
          <p>Max Powder wanted a complete rebrand with a more up-to-date look and feel. They wanted the website to work on all devices, small and large with the ability to manage their prices, photo galleries and other important information.</p>
          <p>The rebrand and design had to convey the high-quality work Max Powder produce. The goal was to keep content to a bare minimum, with nice use of photography and emphasis on customer feedback from the work they do.</p>
        </div>

      </div>

    </div>


    <div class="grid gap-xs">

      <div class="col-6@sm">
        <figure class="figure">
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1">
            <img class="block width-100%" srcset="/images/projects/project/max-powder/max-powder-photography-style.png 1x, /images/projects/project/max-powder/max-powder-photography-style@2x.png 2x, /images/projects/project/max-powder/max-powder-photography-style@3x.png 3x" src="/images/projects/project/max-powder/max-powder-photography-style.png" alt="Close up of an alloy wheel on a Farrari">
          </div>
          <figcaption class="figure__caption margin-top-xxs">Building a brand identity with a photographic style</figcaption>
        </figure>
      </div>

      <div class="col-6@sm">
        <figure class="figure">
          <div class="bg-black media-wrapper media-wrapper--1:1">
            <img class="block width-100%" srcset="/images/projects/project/max-powder/max-powder-on-samsung.png 1x, /images/projects/project/max-powder/max-powder-on-samsung@2x.png 2x, /images/projects/project/max-powder/max-powder-on-samsung@3x.png 3x" src="/images/projects/project/max-powder/max-powder-on-samsung.png" alt="Max Powder website on a Samsung Galaxy S9 device">
          </div>
          <figcaption class="figure__caption margin-top-xxs">A fully responsive website for mobile devices</figcaption>
        </figure>
      </div>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>Brand identity</h2>

        <div class="color-contrast-medium">
          <p>I started investigating various typefaces that I feel worked with the words ‘max’ and ‘powder’, with greater emphasis on ‘max’.</p>
          <p>Avant Garde, one of my personal favourite typefaces, was the perfect candidate for the vision I had in mind. Inspired by the FedEx logo created by Lindon Leader, I manipulated the typeface to adopt a similar style which I feel worked very well.</p>
        </div>

      </div>

    </div>


    <div class="grid gap-xs">

      <div class="col-6@sm">
        <figure class="figure">
          <div class="bg-black media-wrapper media-wrapper--3:2">
            <img src="/images/projects/project/max-powder/max-powder-logo-ondark.svg" alt="Image description">
          </div>
          <figcaption class="figure__caption margin-top-xxs">Max Powder logo on a dark background</figcaption>
        </figure>
      </div>

      <div class="col-6@sm">
        <figure class="figure">
          <div class="bg-contrast-lower media-wrapper media-wrapper--3:2">
            <img src="/images/projects/project/max-powder/max-powder-logo-onlight.svg" alt="Image description">
          </div>
          <figcaption class="figure__caption margin-top-xxs">Max Powder logo on light background</figcaption>
        </figure>
      </div>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>Style guide and visual design</h2>

        <div class="color-contrast-medium">
          <p>An important process was the preparation of designed elements on pages. A carefully selected typeface and a responsive scale to maintain vertical rhythm.</p>
          <p>The design system included carefully designed and prepared elements which incorporated everything from buttons, grid, colours, icons, form elements and more to define the style and image for Max Powder.</p>
        </div>

      </div>

    </div>


    <figure class="figure">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="/images/projects/project/max-powder/max-powder-styleguide-styles.png 1x, /images/projects/project/max-powder/max-powder-styleguide-styles@2x.png 2x, /images/projects/project/max-powder/max-powder-styleguide-styles@3x.png 3x" src="/images/projects/project/max-powder/max-powder-styleguide-styles.png" alt="A collection of style guide styles prepared in Sketch">
      </div>
      <figcaption class="figure__caption margin-top-xxs">Style guide to include typography, colour palette, icons, spacing, breakpoints, buttons and more</figcaption>
    </figure>


    <figure class="figure margin-top-lg">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="/images/projects/project/max-powder/max-powder-styleguide-components.png 1x, /images/projects/project/max-powder/max-powder-styleguide-components@2x.png 2x, /images/projects/project/max-powder/max-powder-styleguide-components@3x.png 3x" src="/images/projects/project/max-powder/max-powder-styleguide-components.png" alt="A collection of style guide components prepared in Sketch">
      </div>
      <figcaption class="figure__caption margin-top-xxs">Style guide to include reusable components, including buttons, switches, reviews, form controls and more</figcaption>
    </figure>


    <figure class="figure margin-top-lg">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="/images/projects/project/max-powder/max-powder-home-page-design.png 1x, /images/projects/project/max-powder/max-powder-home-page-design@2x.png 2x, /images/projects/project/max-powder/max-powder-home-page-design@3x.png 3x" src="/images/projects/project/max-powder/max-powder-home-page-design.png" alt="Home page design for Max Powder prepared in Sketch">
      </div>
      <figcaption class="figure__caption margin-top-xxs">Home page design for desktop and mobile devices, utilising styleguide assets</figcaption>
    </figure>


    <figure class="figure margin-top-lg">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="/images/projects/project/max-powder/max-powder-gallery-page-design.png 1x, /images/projects/project/max-powder/max-powder-gallery-page-design@2x.png 2x, /images/projects/project/max-powder/max-powder-gallery-page-design@3x.png 3x" src="/images/projects/project/max-powder/max-powder-gallery-page-design.png" alt="Gallery page design for Max Powder prepared in Sketch">
      </div>
      <figcaption class="figure__caption margin-top-xxs">Gallery page design for before and after alloy wheel refurbishment</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>Managing their content</h2>

        <div class="color-contrast-medium">
          <p>ExpressionEngine was used as the content management system for Max Powder and was a perfect fit for this type of project. It’s flexible, secure and very powerful.</p>
          <p>They have the ability to manage most of their site content, anything ranging from prices to photo galleries, which was exactly what they wanted.</p>
        </div>

      </div>

    </div>


    <figure class="figure">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="/images/projects/project/max-powder/max-powder-expression-engine-cms.png 1x, /images/projects/project/max-powder/max-powder-expression-engine-cms@2x.png 2x, /images/projects/project/max-powder/max-powder-expression-engine-cms@3x.png 3x" src="/images/projects/project/max-powder/max-powder-expression-engine-cms.png" alt="A preview of managing content using Expression Engine">
      </div>
      <figcaption class="figure__caption margin-top-xxs">ExpressionEngine CMS to manage online content</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>Quality assurance</h2>

        <div class="color-contrast-medium">
          <p>I ensure that the website is secure and running at its best. It is also fully accessible, search engine friendly, and up-to-date. I use Google Lighthouse as an automated testing tool to improve the quality of Max Powder.</p>
        </div>

      </div>

    </div>


    <figure class="figure">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="figure__caption margin-top-xxs">Google Lighthouse automated testing tool along with clean, accessible and well structured code</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>The results</h2>

        <div class="color-contrast-medium">
          <p>I delivered a complete brand identity including logo design to be used on various materials from signage, business cards and invoices. I also designed and built the website from scratch to fulfil the needs of the client. This includes:</p>
          <ul>
            <li>logo design</li>
            <li>design and development</li>
            <li>ExpressionEngine integration</li>
            <li>Google Cloud Platform</li>
            <li>mobile friendly design</li>
            <li>continued support and maintenance</li>
          </ul>
        </div>

      </div>

    </div>


    <div class="container max-width-sm">

      <div class="margin-bottom-sm">
        <p class="font-bold text-sm text-center">Share this project</p>
      </div>

      <ul class="sharebar flex flex-wrap gap-xs justify-center">

        <li class="sharebar__item">
          <a class="sharebar__link js-social-share" data-social="twitter" data-text="Hi there! https://trevorsaint.uk via @trevorsaint" data-hashtags="#govuk, #design, #government, #dev, #ux, #interaction-design, #brexit, #eu-funding, #double-opt-in" href="https://twitter.com/intent/tweet">
            <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share on Twitter</title><path d="M32,6.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6C25.7,3.8,24,3,22.2,3 c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5C10.3,10.8,5.5,8.2,2.2,4.2c-0.6,1-0.9,2.1-0.9,3.3c0,2.3,1.2,4.3,2.9,5.5 c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1C2.9,27.9,6.4,29,10.1,29c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C30,8.5,31.1,7.4,32,6.1z"></path></svg>
          </a>
        </li>

        <li class="sharebar__item">
          <a class="sharebar__link js-social-share" data-social="facebook" data-url="https://trevorsaint.uk" href="http://www.facebook.com/sharer.php">
            <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share on Facebook</title><path d="M32,16A16,16,0,1,0,13.5,31.806V20.625H9.438V16H13.5V12.475c0-4.01,2.389-6.225,6.043-6.225a24.644,24.644,0,0,1,3.582.312V10.5H21.107A2.312,2.312,0,0,0,18.5,13v3h4.438l-.71,4.625H18.5V31.806A16,16,0,0,0,32,16Z"></path></svg>
          </a>
        </li>

        <li class="sharebar__item">
          <a class="sharebar__link js-social-share" data-social="pinterest" data-description="Description for my Pinterest share" data-media="https://trevorsaint.uk/app/assets/img/social-sharing-img-1.jpg" data-url="https://trevorsaint.uk" href="http://pinterest.com/pin/create/button">
            <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share on Pinterest</title><path d="M16,0C7.2,0,0,7.2,0,16c0,6.8,4.2,12.6,10.2,14.9c-0.1-1.3-0.3-3.2,0.1-4.6c0.3-1.2,1.9-8,1.9-8 s-0.5-1-0.5-2.4c0-2.2,1.3-3.9,2.9-3.9c1.4,0,2,1,2,2.3c0,1.4-0.9,3.4-1.3,5.3c-0.4,1.6,0.8,2.9,2.4,2.9c2.8,0,5-3,5-7.3 c0-3.8-2.8-6.5-6.7-6.5c-4.6,0-7.2,3.4-7.2,6.9c0,1.4,0.5,2.8,1.2,3.7c0.1,0.2,0.1,0.3,0.1,0.5c-0.1,0.5-0.4,1.6-0.4,1.8 C9.5,21.9,9.3,22,9,21.8c-2-0.9-3.2-3.9-3.2-6.2c0-5,3.7-9.7,10.6-9.7c5.6,0,9.9,4,9.9,9.2c0,5.5-3.5,10-8.3,10 c-1.6,0-3.1-0.8-3.7-1.8c0,0-0.8,3.1-1,3.8c-0.4,1.4-1.3,3.1-2,4.2c1.5,0.5,3.1,0.7,4.7,0.7c8.8,0,16-7.2,16-16C32,7.2,24.8,0,16,0z "></path></svg>
          </a>
        </li>

        <li class="sharebar__item">
          <a class="sharebar__link js-social-share" data-social="linkedin" data-url="https://trevorsaint.uk" href="https://www.linkedin.com/shareArticle">
            <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share on Linkedin</title><path d="M29,1H3A2,2,0,0,0,1,3V29a2,2,0,0,0,2,2H29a2,2,0,0,0,2-2V3A2,2,0,0,0,29,1ZM9.887,26.594H5.374V12.25H9.887ZM7.63,10.281a2.625,2.625,0,1,1,2.633-2.625A2.624,2.624,0,0,1,7.63,10.281ZM26.621,26.594H22.2V19.656c0-1.687,0-3.75-2.35-3.75s-2.633,1.782-2.633,3.656v7.126H12.8V12.25h4.136v1.969h.094a4.7,4.7,0,0,1,4.231-2.344c4.513,0,5.359,3,5.359,6.844Z"></path></svg>
          </a>
        </li>

        <li class="sharebar__item">
          <a class="sharebar__link js-social-share" data-social="mail" data-subject="Email Subject" data-body="Content of my email." href="mailto:">
            <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share by Email</title><path d="M28,3H4A3.957,3.957,0,0,0,0,7V25a3.957,3.957,0,0,0,4,4H28a3.957,3.957,0,0,0,4-4V7A3.957,3.957,0,0,0,28,3Zm.6,6.8-12,9a1,1,0,0,1-1.2,0l-12-9A1,1,0,0,1,4.6,8.2L16,16.75,27.4,8.2a1,1,0,1,1,1.2,1.6Z"></path></svg>
          </a>
        </li>

      </ul>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      {{ previousNextLinks({
        "previousNextLinksItems": [
          {
            "rel": 'prev',
            "text": 'Previous project',
            "url": '#0',
            "label": 'A complete rebrand and design for Max Powder'
          },
          {
            "rel": 'next',
            "text": 'Next project',
            "url": '#0',
            "label": 'A complete rebrand and design for Max Powder'
          }
        ]
      }) }}

    </div>


  </div>


{% endblock %}