{% set pageTitle       = "Max Powder by Trevor Saint | A complete brand identity for a small alloy wheel refurbishment company" %}
{% set pageDescription = "I created a complete Brand Identity package to present the professional, friendly alloy wheel refurbishment company based in Hemel Hempstead." %}
{% set pageUrl         = "projects/max-powder" %}
{% set pageId          = "projects" %}

{% extends "layout.njk" %}

{% block content %}

  <section class="padding-top-xs">

    <div class="container">

      {{ backLink({
        "url": rootPath + 'projects',
        "text": 'Back to projects'
      }) }}

      <h1 class="text-xxl margin-y-sm margin-y-lg@sm">A complete rebrand and design for Max Powder</h1>

      <div class="hero">
        <picture>
          <source type="image/webp" srcset="{{rootPath}}images/projects/max-powder/hero.webp, {{rootPath}}images/projects/max-powder/hero@2x.webp 2x">
          <source type="image/png" srcset="{{rootPath}}images/projects/max-powder/hero.png, {{rootPath}}images/projects/max-powder/hero@2x.png 2x">
          <img height="800" width="1200" src="{{rootPath}}images/projects/max-powder/hero.png" alt="" loading="lazy">
        </picture>
      </div>

      <div class="flex@sm justify-between items-start margin-top-md">

        {{ entryDetails({
          "rows": [
            {
              "key": {
                "text": 'Client'
              },
              "value": {
                "text": 'Max Powder'
              }
            },
            {
              "key": {
                "text": 'Industry'
              },
              "value": {
                "text": 'Automotive'
              }
            },
            {
              "key": {
                "text": 'Year'
              },
              "value": {
                "text": '2018 (updated 2020)'
              }
            }
          ]
        }) }}

        <p class="margin-xs margin-bottom-0 margin-0@sm">
          <a class="link link--icon link--underline" href="https://maxpowder.co.uk" rel="external" aria-label="Visit website for Max Powder">
            Visit website
            {{
              icon({
                "classes": 'margin-left-xxxxs',
                "icon": 'launch'
              })
            }}
          </a>
        </p>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Overview</h2>

          <div class="color-contrast-medium">
            <p>Max Powder wanted a complete rebrand with a more up-to-date look and feel. They wanted the website to work on all devices, small and large with the ability to manage their prices, photo galleries and other important information.</p>
            <p>The rebrand and design had to convey the high-quality work Max Powder produce. The goal was to keep content to a bare minimum, with nice use of photography and emphasis on customer feedback from the work they do.</p>
          </div>

        </div>

      </div>

      <div class="grid gap-xs">

        <div class="col-6@sm">
          <figure class="figure" role="figure" aria-label="Photographic style">
            <div class="bg-contrast-lower aspect-ratio-1:1">
              <img height="588" width="588" srcset="{{rootPath}}images/projects/max-powder/photography-style.jpg 1x, {{rootPath}}images/projects/max-powder/photography-style@2x.jpg 2x" src="{{rootPath}}images/projects/max-powder/photography-style.jpg" alt="" loading="lazy">
            </div>
            <figcaption class="figure__caption margin-top-xxs">Photographic style</figcaption>
          </figure>
        </div>

        <div class="col-6@sm">
          <figure class="figure" role="figure" aria-label="Responsive design for mobile">
            <div class="bg-contrast-lower aspect-ratio-1:1">
              <picture>
                <source type="image/webp" srcset="{{rootPath}}images/projects/max-powder/on-samsung-phone.webp, {{rootPath}}images/projects/max-powder/on-samsung-phone@2x.webp 2x">
                <source type="image/png" srcset="{{rootPath}}images/projects/max-powder/on-samsung-phone.png, {{rootPath}}images/projects/max-powder/on-samsung-phone@2x.png 2x">
                <img height="588" width="588" src="{{rootPath}}images/projects/max-powder/on-samsung-phone.png" alt="" loading="lazy">
              </picture>
            </div>
            <figcaption class="figure__caption margin-top-xxs">Responsive design for mobile</figcaption>
          </figure>
        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Brand identity</h2>

          <div class="color-contrast-medium">
            <p>I started investigating various typefaces that I feel worked with the words ‘max’ and ‘powder’, with greater emphasis on ‘max’.</p>
            <p>Avant Garde, one of my personal favourite typefaces, was the perfect candidate for the vision I had in mind. Inspired by the FedEx logo created by Lindon Leader, I manipulated the typeface to adopt a similar style which I feel worked very well.</p>
          </div>

        </div>

      </div>

      <div class="grid gap-xs">

        <div class="col-6@sm">
          <figure class="figure" role="figure" aria-label="Max Powder logo on dark background">
            <div class="bg-contrast-lower aspect-ratio-3:2">
              <picture>
                <source type="image/webp" srcset="{{rootPath}}images/projects/max-powder/logo-ondark.webp, {{rootPath}}images/projects/max-powder/logo-ondark@2x.webp 2x">
                <source type="image/png" srcset="{{rootPath}}images/projects/max-powder/logo-ondark.png, {{rootPath}}images/projects/max-powder/logo-ondark@2x.png 2x">
                <img height="392" width="588" src="{{rootPath}}images/projects/max-powder/logo-ondark.png" alt="" loading="lazy">
              </picture>
            </div>
            <figcaption class="figure__caption margin-top-xxs">Max Powder logo on dark background</figcaption>
          </figure>
        </div>

        <div class="col-6@sm">
          <figure class="figure" role="figure" aria-label="Max Powder logo on light background">
            <div class="bg-contrast-lower aspect-ratio-3:2">
              <picture>
                <source type="image/webp" srcset="{{rootPath}}images/projects/max-powder/logo-onlight.webp, {{rootPath}}images/projects/max-powder/logo-onlight@2x.webp 2x">
                <source type="image/png" srcset="{{rootPath}}images/projects/max-powder/logo-onlight.png, {{rootPath}}images/projects/max-powder/logo-onlight@2x.png 2x">
                <img height="392" width="588" src="{{rootPath}}images/projects/max-powder/logo-onlight.png" alt="" loading="lazy">
              </picture>
            </div>
            <figcaption class="figure__caption margin-top-xxs">Max Powder logo on light background</figcaption>
          </figure>
        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Style guide and visual design</h2>

          <div class="color-contrast-medium">
            <p>An important process was the preparation of designed elements on pages. A carefully selected typeface and a responsive scale to maintain vertical rhythm.</p>
            <p>The design system included carefully designed and prepared elements which incorporated everything from buttons, grid, colours, icons, form elements and more, to define the style and image for Max Powder.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Styleguide includes design foundations">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/max-powder/styleguide-styles.webp, {{rootPath}}images/projects/max-powder/styleguide-styles@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/max-powder/styleguide-styles.png, {{rootPath}}images/projects/max-powder/styleguide-styles@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/max-powder/styleguide-styles.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Styleguide includes design foundations</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Styleguide includes designed components">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/max-powder/styleguide-components.webp, {{rootPath}}images/projects/max-powder/styleguide-components@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/max-powder/styleguide-components.png, {{rootPath}}images/projects/max-powder/styleguide-components@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/max-powder/styleguide-components.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Styleguide includes designed components</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Home page design utilising styleguide assets">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/max-powder/home-page-design.webp, {{rootPath}}images/projects/max-powder/home-page-design@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/max-powder/home-page-design.png, {{rootPath}}images/projects/max-powder/home-page-design@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/max-powder/home-page-design.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Home page design utilising styleguide assets</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Gallery page design utilising styleguide assets">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/max-powder/gallery-page-design.webp, {{rootPath}}images/projects/max-powder/gallery-page-design@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/max-powder/gallery-page-design.png, {{rootPath}}images/projects/max-powder/gallery-page-design@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/max-powder/gallery-page-design.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Gallery page design utilising styleguide assets</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Managing their content</h2>

          <div class="color-contrast-medium">
            <p>ExpressionEngine was used as the content management system for Max Powder and was a perfect fit for this type of project. It’s flexible, secure and very powerful.</p>
            <p>They have the ability to manage most of their site content, anything ranging from prices to photo galleries, which was exactly what they wanted.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Client management of online content">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/max-powder/expression-engine-cms.webp, {{rootPath}}images/projects/max-powder/expression-engine-cms@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/max-powder/expression-engine-cms.png, {{rootPath}}images/projects/max-powder/expression-engine-cms@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/max-powder/expression-engine-cms.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Client management of online content</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-bottom">

        <div class="container text-component max-width-sm">

          <h2>Quality assurance</h2>

          <div class="color-contrast-medium">
            <p>I ensure that the website is secure and running at its best. It is also fully accessible, search engine friendly, and up-to-date. I use Google Lighthouse as an automated testing tool to improve the quality of Max Powder.</p>
          </div>

          <h2>The results</h2>

          <div class="color-contrast-medium">
            <p>I delivered a complete brand identity including logo design to be used on various materials from signage, business cards and invoices. I also designed and built the website from scratch to fulfil the needs of the client.</p>
            <p class="font-bold">This includes:</p>
            <ul>
              <li>logo design</li>
              <li>design and development</li>
              <li>ExpressionEngine integration</li>
              <li>Google Cloud Platform</li>
              <li>mobile friendly design</li>
              <li>continued support and maintenance</li>
            </ul>
          </div>

        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container max-width-sm">

          <div class="margin-bottom-xs">
            <p class="font-bold text-md text-center">Share this project</p>
          </div>

          {{ socialShare({
            "twitter": {
              "attributes": {
                "data-social": 'twitter',
                "data-text": 'Hi there! https://trevorsaint.uk/projects/max-powder via @trevorsaint',
                "data-hashtags": '#alloywheels, #logodesign, #branding, #design, #dev, #ux, #interactiondesign'
              }
            },
            "facebook": {
              "attributes": {
                "data-social": 'facebook',
                "data-url": 'https://trevorsaint.uk/projects/max-powder'
              }
            },
            "pinterest": {
              "attributes": {
                "data-social": 'pinterest',
                "data-url": 'https://trevorsaint.uk/projects/max-powder',
                "data-description": 'A complete rebrand and design for Max Powder',
                "data-media": 'https://trevorsaint.uk/images/projects/max-powder/pinterest.png'
              }
            },
            "linkedin": {
              "attributes": {
                "data-social": 'linkedin',
                "data-url": 'https://trevorsaint.uk/projects/max-powder'
              }
            },
            "email": {
              "attributes": {
                "data-social": 'mail',
                "data-url": 'https://trevorsaint.uk/projects/max-powder',
                "data-subject": 'A complete rebrand and design for Max Powder - Trevor Saint',
                "data-body": 'https://trevorsaint.uk/projects/max-powder'
              }
            }
          }) }}

        </div>

      </div>

      <div class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

        {{ previousNextLinks({
          "previousNextLinksItems": [
            {
              "rel": 'prev',
              "text": 'Previous project',
              "url": rootPath + 'projects/paramount-packaging',
              "label": 'Redesigning the look and feel throughout for Paramount'
            },
            {
              "rel": 'next',
              "text": 'Next project',
              "url": rootPath + 'projects/judicial-case-manager',
              "label": 'Manage cases in a simple, accessible and efficient way'
            }
          ]
        }) }}

      </div>

    </div>

  </section>

{% endblock %}