// --------------------------------

// Form

// --------------------------------

.form {}

.form__control {
  background-color: alpha(var(--color-black), 0.05);
  border: 2px solid transparent;
  border-radius: var(--radius-sm);
  height: var(--space-lg); // IE11 fix (48px)
  padding: calc(var(--space-xxxs) - 2px);
  width: 100%;

  &::placeholder {
    color: var(--color-contrast-medium);
    opacity: 1; // Firefox
  }

  &:focus {
    background-color: var(--color-white);
    border-color: var(--color-contrast-high);
    box-shadow: 0 0 0 var(--space-xxxxs) var(--color-tertiary);
    outline: none;
  }

}

.form__control--textarea {
  resize: none;
  height: auto;
}

.form__label {
  display: inline-block;
  margin-bottom: var(--space-xxxs);
}

// error
.form__group--error {
  border-left: var(--space-xxxxs) solid var(--color-primary);
  padding-left: var(--space-xxs);
}

.form__control--error {
  background-color: var(--color-white);
  border-color: var(--color-primary);

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px alpha(var(--color-primary), 0.2);
    outline: none;
  }

}

// error message
.form__error-message {
  color: var(--color-primary);
  display: block;
  margin-bottom: var(--space-xxxs);
}

// reCAPTCHA
.grecaptcha-badge {
  display: none;
}