{% set pageTitle       = "Helping Government Digital Service with Interaction Design" %}
{% set pageDescription = "" %}
{% set pageId          = "projects" %}

{% extends "layout.html" %}

{% block content %}


<section class="padding-top-xs padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">


  <div class="container">


    {{
      backLink({
        "url": '/projects',
        "text": 'Back'
      })
    }}


    <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">Helping Government Digital Service with Interaction Design</h1>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs justify-between">

        <div class="col-11@sm offset-1@sm">
          <h2 class="heading-xl">Overview</h2>
        </div>

        <div class="col-7@sm offset-1@sm">

          <div class="color-contrast-medium text-component">

            <p>I was approached by Government Digital Service (GDS) to help with Interaction Design for Brexit related services to enable people to prepare for new rules in 2021 now that the UK has left the EU.</p>

            <p>They wanted me to join the team due to extensive experience in Government departments and having worked with GDS on several different projects. I worked on three different services.</p>

          </div>

        </div>

        <div class="col-3@sm">
          <dl>
            <dt class="font-bold">Client</dt>
            <dd class="color-contrast-medium margin-bottom-xxs">Government Digital Service</dd>
            <dt class="font-bold">Industry</dt>
            <dd class="color-contrast-medium margin-bottom-xxs">Government</dd>
            <dt class="font-bold">Year</dt>
            <dd class="color-contrast-medium">2020</dd>
          </dl>
        </div>

        <div class="col-11@sm offset-1@sm">
          <nav class="toc">
            <ul class="toc__list">
              <li class="toc__item toc__label" tabindex="0">Contents</li>
              <li class="toc__item"><a class="toc__link" href="#brexit-checker">Brexit checker</a></li>
              <li class="toc__item"><a class="toc__link" href="#eu-funding">EU funding</a></li>
              <li class="toc__item"><a class="toc__link" href="#double-opt-in">Double opt-in</a></li>
            </ul>
          </nav>
        </div>

      </div>

    </div>


    <!-- Contents -->
    <div class="toc-content">


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h2 id="brexit-checker">Brexit checker</h2>
              <div class="color-contrast-medium">
                <p>Families and businesses need to know what they need to do to deal with the impact of Brexit changes. We aimed to fill this gap by asking them to answer a few questions to get a personalised list of actions.</p>
                <p>A considerable amount of user research and testing went into this project. We had a clear understanding of participant views on Brexit and the checker as a service. We were able to use this information to iterate and improve on design and offering.</p>
                <p>I worked closely with a content designer to improve the questions flow and remove any doubt users had with some questions. I prototyped and designed the complete flow, ready for testing.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h3>User testing</h3>
              <div class="color-contrast-medium">
                <p>We had many opportunities to test our prototype, which added a lot of value towards design decisions. We first tested our prototype internally with the collaboration and expertise of our team, as well as performing pop-up testing at King’s Cross Station.</p>
                <p>We attended an SME business event with Islington Council, where we were able to get businesses interacting on mobile devices with our prototype, whilst taking notes for further discussions with the rest of the team. All user testing was a valuable insight towards delivering a User-Centred Design service.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <div class="grid gap-xs">

        <div class="col-6@sm">
          <figure>
            <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
            <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
          </figure>
        </div>

        <div class="col-6@sm">
          <figure>
            <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
            <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
          </figure>
        </div>

      </div>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h3>What did we learn</h3>
              <div class="color-contrast-medium">
                <p>We found that all participants were aware of the campaign through billboards and online advertising. Participants were broadly reluctant to prepare for Brexit due to either thinking it was not impacting them or because they wanted to get certainty on the outcome first.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h3>Ongoing challenges</h3>
              <div class="color-contrast-medium">
                <p>Without going into too much detail, we had many challenges, not just with the Brexit checker as a service, but individual questions, one, in particular, was ‘business sector’. Research had shown that users found it frustrating finding and choosing options relevant to them.</p>
                <p>This challenge meant users would get non-related actions in their results page, and would also miss out on necessary tasks they needed to do.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h3>Exploration of SIC codes</h3>
              <div class="color-contrast-medium">
                <p>We decided that an exploration of how we could use SIC codes to help businesses find the right sector in the business question of the checker.</p>
                <p>SIC codes describe the main business activity when registered at Companies House. Business owners would be more familiar with the wording and terminology used when forming a business.</p>
                <p>We felt that we could potentially tap into Companies House API, and use that data to help business users identify their sector. I designed and prototyped a solution presented to businesses as an alternative to the question that was not working as expected.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h2 id="eu-funding">EU funding</h2>
              <div class="color-contrast-medium">
                <p>UK organisations have been getting funding directly from the EU. The Government guaranteed some of that funding if there was a no-deal Brexit. The problem was that Government departments didn’t know who all of those organisations were, so they wanted them to register.</p>
                <p>This process previously consisted of a business completing a spreadsheet and emailing it to the Cabinet office for review. If an organisation met these criteria, they would be eligible for funding.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h3>How we did it</h3>
              <div class="color-contrast-medium">
                <p>We only had four days, and no time for user research. We combined our collective experience and knowledge of working on many different services over the years and set off with a plan.</p>
                <p>We were able to build a prototype using patterns from the GOV.UK Design System. I worked closely with two Content Designer working different days to keep content clear and easy to understand. The questions were refined and made simple as with streamlining the user journey.</p>
                <p>With a few days remaining, we were able to make a few bug fixes, improve error validation and make small content tweaks. Developers were then able to work with this prototype as a reference and build functionality needed to fulfil the task.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h2 id="double-opt-in">Double opt-in</h2>
              <div class="color-contrast-medium">
                <p>The team agreed we needed a pattern for a double opt-in feature for our email subscription signup journey. Initially, we started talking about the sign up for Brexit-centric notifications, but quickly realised the potential for an extended, service-agnostic, pattern that could improve services across GOV.UK.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h3 id="double-opt-in">The reason behind this decision</h3>
              <div class="color-contrast-medium">
                <p>Legal requirements imposed by GDPR meant we must not send emails to a user without their consent. These rules also govern the storage of personal data. There was also a user need to protect data and to help the user make an informed decision about signing up.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h3 id="double-opt-in">What is double opt-in?</h3>
              <div class="color-contrast-medium">
                <p>Double opt-in is a standard feature of email and other subscription journeys as part of an online service.</p>
                <p>The existing journey consisted of a poor User Experience and was not legally compliant. We proposed a new simplified journey with a better User Experience and double opt-in functionality.</p>
                <p>A user would choose to signup for alerts/updates and enter their email address. They would then receive an email containing a link they must click to confirm their subscription. In doing this, they validated an email account.</p>
                <p>The existing user journey consisted of a poor User Experience and was not legally compliant. We proposed a simplified user flow, with an improved User Experience which included the double opt-in feature.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h3 id="double-opt-in">What did we do</h3>
              <div class="color-contrast-medium">
                <p>We captured all existing GOV.UK notification journeys and agreed we would start with a service agnostic user journey which would bring clarity of purpose; start small etc. We identified requirements page by page and drafted and refined content. I then designed and built a prototype that we tested with users.</p>
                <p>We organised research planning sessions, where we analysed the journey from a user perspective. We then built a list of user research questions of things we wanted to confirm. We then tested the prototype again and made refinements and improvements based off of these findings.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


      <figure>
        <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        <figcaption class="color-contrast-medium body-xs margin-top-xxs text-center">Fig caption</figcaption>
      </figure>


      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="grid gap-xs">

          <div class="col-7@sm offset-1@sm">
            <div class="text-component">
              <h3 id="double-opt-in">What we delivered</h3>
              <div class="color-contrast-medium">
                <p>Due to technical implications and time pressures, we had to role out with an MVP version of our prototype that improved the user journey and included the double opt-in feature but did not include everything we wanted.</p>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>


    <!-- Previous / Next Links -->
    <ul class="pn-links grid">

      <li class="pn-links__item col-6@md">

        <a class="pn-links__link justify-center justify-between@md" href="/projects/rural-payments" rel="prev">

          <svg class="pn-links__icon icon icon--md" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-back"/></svg>

          <span class="margin-left-sm">
            <i class="sr-only">Previous project: </i>Rural grants and payments to help the farming industry
          </span>

        </a>

      </li>

      <li class="pn-links__item col-6@md">

        <a class="pn-links__link justify-center justify-between@md" href="/projects/max-powder" rel="next">

          <span class="margin-right-sm">
            <i class="sr-only">Next project: </i>A complete rebrand and design for Max Powder
          </span>

          <svg class="pn-links__icon icon icon--md" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>

        </a>

      </li>

    </ul>


  </div>


</section>


{% endblock %}
