{% macro backLink(params) %}
  <a class="back-link{% if params.classes is defined %} {{ params.classes }}{% endif %}" href="{{ params.url }}">
    <svg class="icon icon--sm" viewBox="0 0 24 24" role="presentation" focusable="false" aria-hidden="true">
      <path d="M15 6.7a.996.996 0 00-1.41 0L9 11.3a.996.996 0 000 1.41l4.59 4.59A.996.996 0 1015 15.89L11.12 12 15 8.11c.39-.39.38-1.02 0-1.41z"/>
    </svg>
    <span class="back-link__label">{{ params.text }}</span>
  </a>
{% endmacro %}