<a class="back-link" href="{{ params.url }}">
  <svg class="icon icon--sm" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true">
    <use xlink:href="/images/sprite.svg#chevron-left"/>
  </svg>
  {{ params.text }}
</a>
