/* --------------------------------

Hero

-------------------------------- */


.hero {
  background-color: alpha(var(--color-black), 0.05);
  border-radius: var(--radius-lg);
  position: relative;
}


@include breakpoint(lg) {

  .hero {
    margin-bottom: var(--space-xxl);
    margin-top: var(--space-xxl);
  }

  .hero img {
    margin-bottom: calc(var(--space-xxl) * -1);
    margin-top: calc(var(--space-xxl) * -1);
  }

}