/* --------------------------------

 Legal list

-------------------------------- */


.legal-list {
  display: flex;
}


.legal-list__item {
  @include typography(14);
  display: flex;

  &:not(:last-child) {
    margin-right: var(--space-xs);
  }

}