.contact {

  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
  }

}


.contact__heading {
  margin-bottom: spacing(2);
  margin-top: 0;
}


.contact__details .contact__heading:first-child {
  padding-top: spacing(6);

  @include mq(tablet) {
    border-top: spacing(1) solid colour("black");
  }

}


.contact__body {

  @include mq($until: tablet) {

    p:last-child {
      margin-bottom: 0;
    }

  }

}


.contact__form,
.contact__body,
.contact__details {

  @include mq(tablet) {
    flex: 1;
  }

}


.contact__form {
  max-width: 585px; // Ideal content width
}


.contact__details {
  max-width: 380px;

  @include mq(tablet) {
    padding-left: spacing(9);
  }

}