.image-grid {

  @include mq($from: 500px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: - ($gutter-half);
    margin-left: - ($gutter-half);
  }

}


.image-grid__item {

  @include mq($until: 500px) {
    &:not(:last-child) {
      margin-bottom: spacing(4);
    }
  }

  @include mq($from: 500px) {
    box-sizing: border-box;
    padding: 0 $gutter-half;
    width: grid-width(one-half);
  }

}