{% set pageTitle       = "Cookies" %}
{% set pageDescription = "Cookies are used to measure how you use the website, so it can be updated and improved based on your needs." %}
{% set pageId          = "cookies" %}

{% extends "layout.html" %}

{% block content %}

<section class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

  <div class="container">

    <div class="grid gap-xs justify-between">

      <div class="col-8@sm">

        <h1 class="heading-xxxl margin-bottom-lg">Cookies</h1>

        <div class="text-component">

          <p>This website puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>

          <p>Cookies are used to measure how you use the website, so it can be updated and improved based on your needs.</p>

          <p>Find out more about <a class="link link--underline" href="https://goo.gl/c93ALV" rel="noreferrer external">how to manage cookies</a></p>

          <h2>Measuring website usage</h2>

          <p>I use Google Analytics software (Universal Analytics) to collect information about how you use trevorsaint.uk. I do this to help make sure the site is meeting the needs of its users and to help make improvements.</p>

          <p class="font-bold">Google Analytics stores information about:</p>

          <ul>
            <li>the pages you visit</li>
            <li>how long you spend on each page</li>
            <li>how you got to the site</li>
            <li>what you click on while you’re visiting the site</li>
          </ul>

          <p>I do not collect or store your personal information (for example your name or address) so this information can’t be used to identify who you are.</p>

          <p>I do not allow Google to use or share my analytics data.</p>

          <p>Google Analytics sets the following cookies.</p>

          <p>You can opt out of <a class="link link--underline" href="https://goo.gl/eumKrc" rel="noreferrer external">Google Analytics cookies</a></p>

        </div>

      </div>

      <div class="col-3@sm">

        <aside class="border-top border-primary border-4">

          <ul class="list margin-top-xs">
            <li class="list__item"><a class="link" href="{{rootPath}}support/accessibility"{% if pageId == "accessibility" %} aria-current="true"{% endif %}>Accessibility</a></li>
            <li class="list__item"><a class="link" href="{{rootPath}}support/privacy"{% if pageId == "privacy" %} aria-current="true"{% endif %}>Privacy</a></li>
            <li class="list__item"><a class="link" href="{{rootPath}}support/cookies"{% if pageId == "cookies" %} aria-current="true"{% endif %}>Cookies</a></li>
          </ul>

        </aside>

      </div>

    </div>

  </div>

</section>

{% endblock %}