<footer class="footer">

  <div class="footer__container container padding-y-xxxxl">

    <div class="footer__content">

      <h2 class="heading-xl padding-bottom-xxxxl">Do you have a project in mind? <br> <a class="link" href="#0">Get in touch</a></h2>

      <div class="flex@sm items-center justify-between">

        <ul class="menu-list margin-bottom-xxs margin-y-0">
          <li class="menu-list__item"><a class="link-muted" href="/"{% if pageId == 'home' %} aria-current="true" tabindex="-1"{% endif %}>Home</a></li>
          <li class="menu-list__item"><a class="link-muted" href="/about"{% if pageId == 'about' %} aria-current="true" tabindex="-1"{% endif %}>About</a></li>
          <li class="menu-list__item"><a class="link-muted" href="/projects"{% if pageId == 'projects' %} aria-current="true" tabindex="-1"{% endif %}>Projects</a></li>
          <li class="menu-list__item"><a class="link-muted" href="/testimonials"{% if pageId == 'testimonials' %} aria-current="true" tabindex="-1"{% endif %}>Testimonials</a></li>
          <li class="menu-list__item"><a class="link-muted" href="/contact"{% if pageId == 'contact' %} aria-current="true" tabindex="-1"{% endif %}>Contact</a></li>
        </ul>

        <ul class="legal-list">
          <li class="legal-list__item"><a class="link-muted" href="/support/accessibility"{% if pageId == 'accessibility' %} aria-current="true" tabindex="-1"{% endif %}>Accessibility</a></li>
          <li class="legal-list__item"><a class="link-muted" href="/support/privacy"{% if pageId == 'privacy' %} aria-current="true" tabindex="-1"{% endif %}>Privacy</a></li>
          <li class="legal-list__item"><a class="link-muted" href="/support/cookies"{% if pageId == 'cookies' %} aria-current="true" tabindex="-1"{% endif %}>Cookies</a></li>
          <li class="legal-list__item">&copy;2020</li>
        </ul>

      </div>

    </div>

  </div>

</footer>
