
  <footer class="footer">

    <div class="footer__container">

      <div class="footer__contact">
        <p>Fleet, Hampshire<br>07783 809 087<br><a class="link link--ondark" href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#116;&#114;&#101;&#118;&#111;&#114;&#115;&#97;&#105;&#110;&#116;&#46;&#117;&#107;">&#104;&#101;&#108;&#108;&#111;&#64;&#116;&#114;&#101;&#118;&#111;&#114;&#115;&#97;&#105;&#110;&#116;&#46;&#117;&#107;</a></p>
      </div>

      <div class="footer__meta">

        <div class="footer__social">

          <ul class="social-list">

            <li class="social-list__item">
              <a class="social-list__link" href="https://pinterest.co.uk/trevorsaint" target="_blank" rel="noopener noreferrer">
                <span class="social-list__icon  social-list__icon--pinterest"></span>
                <span class="visually-hidden">Follow Trevor Saint on Pinterest (opens in a new window)</span>
              </a>
            </li>

            <li class="social-list__item">
              <a class="social-list__link" href="https://linkedin.com/in/trevorsaint" target="_blank" rel="noopener noreferrer">
                <span class="social-list__icon  social-list__icon--linkedin"></span>
                <span class="visually-hidden">Follow Trevor Saint on LinkedIn (opens in a new window)</span>
              </a>
            </li>

            <li class="social-list__item">
              <a class="social-list__link" href="https://twitter.com/trevorsaint" target="_blank" rel="noopener noreferrer">
                <span class="social-list__icon  social-list__icon--twitter"></span>
                <span class="visually-hidden">Follow Trevor Saint on Twitter (opens in a new window)</span>
              </a>
            </li>

            <li class="social-list__item">
              <a class="social-list__link" href="https://instagram.com/trevorsaint" target="_blank" rel="noopener noreferrer">
                <span class="social-list__icon  social-list__icon--instagram"></span>
                <span class="visually-hidden">Follow Trevor Saint on Instagram (opens in a new window)</span>
              </a>
            </li>

            <li class="social-list__item">
              <a class="social-list__link" href="https://github.com/trevorsaint" target="_blank" rel="noopener noreferrer">
                <span class="social-list__icon  social-list__icon--github"></span>
                <span class="visually-hidden">Follow Trevor Saint on GitHub (opens in a new window)</span>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer__support">

          <small class="copyright">&copy;Trevor Saint 2019</small>

          <ul class="meta-list">
            <li class="meta-list__item"><a class="link  link--ondark" href="/cookies"{% if pageId == 'cookies' %} aria-current="page"{% endif %}>Cookies</a></li>
            <li class="meta-list__item"><a class="link  link--ondark" href="/privacy-policy"{% if pageId == 'privacy policy' %} aria-current="page"{% endif %}>Privacy policy</a></li>
          </ul>

        </div>

      </div>

    </div>

  </footer>