<footer class="footer" role="contentinfo">

  <div class="footer__container container padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

    <div class="footer__content">

      <div class="max-width-sm">
        <h2 class="heading-xl padding-bottom-xs padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">Do you have a project in mind? <a class="link" href="{{rootPath}}contact">Contact me</a></h2>
      </div>

      <div class="flex@md items-center justify-between">

        <ul class="menu-list margin-bottom-xs margin-bottom-0@md">
          <li class="menu-list__item"><a class="menu-list__link" href="{{rootPath}}"{% if pageId == 'home' %} aria-current="true"{% endif %}>Home</a></li>
          <li class="menu-list__item"><a class="menu-list__link" href="{{rootPath}}about"{% if pageId == 'about' %} aria-current="true"{% endif %}>About</a></li>
          <li class="menu-list__item"><a class="menu-list__link" href="{{rootPath}}projects"{% if pageId == 'projects' %} aria-current="true"{% endif %}>Projects</a></li>
          <li class="menu-list__item"><a class="menu-list__link" href="{{rootPath}}testimonials"{% if pageId == 'testimonials' %} aria-current="true"{% endif %}>Testimonials</a></li>
          <li class="menu-list__item"><a class="menu-list__link" href="{{rootPath}}contact"{% if pageId == 'contact' %} aria-current="true"{% endif %}>Contact</a></li>
        </ul>

        <ul class="legal-list">
          <li class="legal-list__item"><a class="link-text" href="{{rootPath}}accessibility"{% if pageId == 'accessibility' %} aria-current="true"{% endif %}>Accessibility</a></li>
          <li class="legal-list__item">&copy;2021 All rights reserved</li>
        </ul>

      </div>

    </div>

  </div>

</footer>