<a class="skip-link" href="#content">
  <span class="skip-link__label">Skip to main content</span>
</a>

<header class="header js-header">

  <div class="header__container container">

    <div class="header__logo">
      <a class="header__logo-link" href="/">
        <svg class="header__logo-svg" viewBox="0 0 85 80" focusable="false">
          <title>Trevor Saint</title>
          <use xlink:href="{{ assetPath }}images/sprite.svg#trevor-saint"/>
        </svg>
      </a>
    </div>

    <button class="header__trigger js-header__trigger button button--small button--icon-trailing" aria-label="Toggle menu" aria-expanded="false" aria-controls="header-nav">
      <span class="button__label">Menu</span>
      <svg class="icon icon--sm" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
        <use xlink:href="{{ assetPath }}images/sprite.svg#expand-more"/>
      </svg>
    </button>

    <nav class="header__nav js-header__nav" id="header-nav" aria-label="Main navigation">
      <div class="header__nav-inner">
        <ul class="header__list">
          <li class="header__item"><a class="header__link" href="/"{% if pageId == 'home' %} aria-current="true"{% endif %}>Home</a></li>
          <li class="header__item"><a class="header__link" href="/about"{% if pageId == 'about' %} aria-current="true"{% endif %}>About</a></li>
          <li class="header__item"><a class="header__link" href="/projects"{% if pageId == 'projects' %} aria-current="true"{% endif %}>Projects</a></li>
          <li class="header__item"><a class="header__link" href="/testimonials"{% if pageId == 'testimonials' %} aria-current="true"{% endif %}>Testimonials</a></li>
          <li class="header__item"><a class="header__link" href="/contact"{% if pageId == 'contact' %} aria-current="true"{% endif %}>Contact</a></li>
        </ul>
      </div>
    </nav>

  </div>

</header>
