<script src="{{rootPath}}javascripts/main.js"></script>
<script>"serviceWorker"in navigator&&navigator.serviceWorker.getRegistrations().then(function(e){for(let o of e)o.unregister()}).catch(function(e){console.log("Fail: ",e)});</script>

{% if pageId == 'contact' %}
<script src="https://www.google.com/recaptcha/api.js?render=6Lf33JcaAAAAAN5oC8LMQjEKbH4Nl-jn55bbk-3o"></script>
<script>grecaptcha.ready(function(){grecaptcha.execute("6Lf33JcaAAAAAN5oC8LMQjEKbH4Nl-jn55bbk-3o",{action:"homepage"}).then(function(e){document.getElementById("captchaResponse").value=e})});</script>
{% endif %}