<script src="{{rootPath}}javascripts/main.min.js"></script>
<!--script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js');
    });
  }
</script-->