{% set pageTitle       = "Rural grants and payments to help the farming industry - Trevor Saint" %}
{% set pageDescription = "Trevor Saint designed and built a design system to instil design consistency, clean semantic accessible code, guidance for designers and developers, which helped to shape the Rural Payments service for the farming community." %}
{% set pageId          = "casestudy" %}

{% extends "layout.html" %}

{% block content %}


<section>


  <div class="container">


    <a class="back-link margin-y-md" href="/projects"><svg class="icon icon--sm" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="{{assetPath}}images/sprite.svg#chevron-left"/></svg>Back</a>


    <h1 class="heading-xxl">Rural grants and payments to help the farming industry</h1>


    <figure class="margin-top-md">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Round haybales on a patch of land in Hampshire. Photo by Trevor Saint</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">Overview</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>The Rural Payments service is an online registration system for farmers, animal keepers, rural traders and businesses.</p>
              <p>They use this service to register their details, see and update digital maps of their land and make online applications for rural grants and payments.</p>
            </div>
          </div>

          <div class="col-3@sm">
            <dl>
              <dt class="font-bold">Client</dt>
              <dd class="margin-bottom-xs">Rural Payments Agency</dd>
              <dt class="font-bold">Industry</dt>
              <dd class="margin-bottom-xs">Government</dd>
              <dt class="font-bold">Year</dt>
              <dd>2016</dd>
            </dl>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Sign in to Rural Payments prototype</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">User research</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>User research was a big part of the project. We were able to gather valuable insight which improved both design and our approach.</p>
              <p>We observed farmers in the office and on their farms interacting with prototypes we designed and developed. We were able to watch and learn from them interacting with the service.</p>
              <p>Researchers helped us learn about our users and helped to make sure our design patterns, page flows worked well for our users. Research conducted also included people with disabilities and non-tech savvy people.</p>
              <p>It was a valuable insight watching non-tech savvy people interacting with the prototypes as well as how rural locations can have such a damaging effect on poor internet connections.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">People with access rights who can facilitate with an application on behalf of a farmer (accordion concept design and prototype)</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">A solid foundation</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>Government Digital Services (GDS) had created a design system to ensure design consistency across all Government services. Their design system was a solid foundation to build upon including patterns like typography, colours, grid and form-based patterns.</p>
              <p>Unfortunately, their system did not include patterns that were essential for our service and user needs, so I designed and built our own.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">A collection of patterns, page examples, concepts and code for designers and developers</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">Our own design system</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>I designed new components like pagination, tabs, collapsible’s and alerts, placing usability at the forefront of every design decision, as well as making everything fully accessible and compliant.</p>
              <p>I also spent a considerable amount of time working with GDS to design and develop new patterns. It was a useful exercise to ensure anything I designed and built was good enough for GDS service standards.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">User flow concept for plotting land, built using blocks of reusable code from the Rural Payments design system</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">Complimented by others</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>Other Government departments were using our design system as a reference point for patterns that had not yet been worked on by GDS.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">My account prototype to allow access to registered businesses, messages and personal details</figcaption>
    </figure>


    <figure class="margin-top-md">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Selected business overview, illustrating business activities and todo tasks</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">The results</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>We were able to design and prototype pages, user flows quickly and efficiently obtaining feedback promptly. We were able to spot usability problems early, make modifications and send out to test again.</p>
              <p>Working closely with a content designer and user researcher we were able to update and improve prototypes quickly, test and gather feedback in advance of developers coding functionality required for the actual service.</p>
              <p>The design system instilled design consistency, clean semantic accessible code, guidance for designers and developers as well as the ability to rapidly prototype users flows.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="container padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-top">

      <nav class="pagination" aria-label="Pagination Navigation">

        <a class="pagination__link" href="/projects/servelec" rel="prev">

          <span class="pagination__direction">
            <svg class="icon icon--sm margin-right-xxxs" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-back"/></svg>
            Previous
          </span>

          <span class="pagination__subtext display@sm">Servelec</span>

        </a>

        <a class="pagination__link pagination__link--next" href="/projects/max-powder" rel="next">

          <span class="pagination__direction">
            Next
            <svg class="icon icon--sm margin-left-xxxs" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
          </span>

          <span class="pagination__subtext display@sm">Max Powder</span>

        </a>

      </nav>

    </div>


  </div>


</section>

{% endblock %}
