{% set pageTitle       = "Rural Payments by Trevor Saint | Designing a system to help farmers make online applications for grants and payments" %}
{% set pageDescription = "I worked with User Researchers and Content Designers to design and prototype interactive services for farmers. I was also responsible for building a fully accessible Design System to help developers create the final product on GOV." %}
{% set pageUrl         = "projects/rural-payments" %}
{% set pageId          = "projects" %}

{% extends "layout.njk" %}

{% block content %}

  <section class="padding-top-xs">

    <div class="container">

      {{ backLink({
        "url": rootPath + 'projects',
        "text": 'Back to projects'
      }) }}

      <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">Rural grants and payments to help the farming industry</h1>

      <div class="hero">
        <picture>
          <source type="image/webp" srcset="{{rootPath}}images/projects/rural-payments/hero.webp, {{rootPath}}images/projects/rural-payments/hero@2x.webp 2x">
          <source type="image/png" srcset="{{rootPath}}images/projects/rural-payments/hero.png, {{rootPath}}images/projects/rural-payments/hero@2x.png 2x">
          <img height="800" width="1200" src="{{rootPath}}images/projects/rural-payments/hero.png" alt="" loading="lazy">
        </picture>
      </div>

      <div class="flex@sm justify-between items-start margin-top-md">

        {{ entryDetails({
          "rows": [
            {
              "key": {
                "text": 'Client'
              },
              "value": {
                "text": 'Rural Payments Agency'
              }
            },
            {
              "key": {
                "text": 'Industry'
              },
              "value": {
                "text": 'Government'
              }
            },
            {
              "key": {
                "text": 'Year'
              },
              "value": {
                "text": '2016'
              }
            }
          ]
        }) }}

        <p class="margin-xs margin-bottom-0 margin-0@sm">
          <a class="link link--icon link--underline" href="https://gov.uk/claim-rural-payments" rel="external" aria-label="Visit website for Rural Payments">
            Visit website
            {{
              icon({
                "classes": 'margin-left-xxxxs',
                "icon": 'launch'
              })
            }}
          </a>
        </p>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Overview</h2>

          <div class="color-contrast-medium">
            <p>The Rural Payments service is an online registration system for farmers, animal keepers, rural traders and businesses.</p>
            <p>They use this service to register their details, see and update digital maps of their land and make online applications for rural grants and payments.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Responsive design and development">
        <div class="bg-contrast-lower">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/rural-payments/sign-in-to-rural-payments.webp, {{rootPath}}images/projects/rural-payments/sign-in-to-rural-payments@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/rural-payments/sign-in-to-rural-payments.png, {{rootPath}}images/projects/rural-payments/sign-in-to-rural-payments@2x.png 2x">
            <img height="919" width="1200" src="{{rootPath}}images/projects/rural-payments/sign-in-to-rural-payments.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Responsive design and development</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>User research</h2>

          <div class="color-contrast-medium">
            <p>User research was a big part of the project. We were able to gather valuable insight which improved both design and our approach.</p>
            <p>We observed farmers in the office and on their farms interacting with prototypes we designed and developed. We were able to watch and learn from them interacting with the service.</p>
            <p>Researchers helped us learn about our users and helped to make sure our design patterns and page flows worked well for our users. Research conducted also included people with disabilities and non-tech savvy people.</p>
            <p>It was a valuable insight watching non-tech savvy people interacting with the prototypes as well as how rural locations can have such a damaging effect on internet connections.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Business status and management of details">
        <div class="bg-contrast-lower">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/rural-payments/managing-your-business.webp, {{rootPath}}images/projects/rural-payments/managing-your-business@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/rural-payments/managing-your-business.png, {{rootPath}}images/projects/rural-payments/managing-your-business@2x.png 2x">
            <img height="858" width="1200" src="{{rootPath}}images/projects/rural-payments/managing-your-business.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Business status and management of details</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>A solid foundation</h2>

          <div class="color-contrast-medium">
            <p>Government Digital Services (GDS) had created a design system to ensure design consistency across all Government services. Their design system was a solid foundation to build upon including patterns like typography, colours, grid and form-based patterns.</p>
            <p>Unfortunately, their system did not include patterns that were essential for our service and user needs, so I designed and built our own.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="People with access rights who can facilitate with an application">
        <div class="bg-contrast-lower">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/rural-payments/management-of-accountable-people.webp, {{rootPath}}images/projects/rural-payments/management-of-accountable-people@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/rural-payments/management-of-accountable-people.png, {{rootPath}}images/projects/rural-payments/management-of-accountable-people@2x.png 2x">
            <img height="1085" width="1200" src="{{rootPath}}images/projects/rural-payments/management-of-accountable-people.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">People with access rights who can facilitate with an application</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Management of land parcels and features">
        <div class="bg-contrast-lower">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/rural-payments/management-of-land-parcels.webp, {{rootPath}}images/projects/rural-payments/management-of-land-parcels@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/rural-payments/management-of-land-parcels.png, {{rootPath}}images/projects/rural-payments/management-of-land-parcels@2x.png 2x">
            <img height="1088" width="1200" src="{{rootPath}}images/projects/rural-payments/management-of-land-parcels.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Management of land parcels and features</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Management of business details">
        <div class="bg-contrast-lower">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/rural-payments/management-of-business-details.webp, {{rootPath}}images/projects/rural-payments/management-of-business-details@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/rural-payments/management-of-business-details.png, {{rootPath}}images/projects/rural-payments/management-of-business-details@2x.png 2x">
            <img height="1156" width="1200" src="{{rootPath}}images/projects/rural-payments/management-of-business-details.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Management of business details</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Our own design system</h2>

          <div class="color-contrast-medium">
            <p>I designed new components like pagination, tabs, collapsible’s and alerts, placing usability at the forefront of every design decision, as well as making everything fully accessible and compliant.</p>
            <p>I also spent a considerable amount of time working with GDS to design and develop new patterns. It was a useful exercise to ensure anything I designed and built was good enough for GDS service standards.</p>
          </div>

          <h2>Complimented by others</h2>

          <div class="color-contrast-medium">
            <p>Other Government departments were using our design system as a reference point for patterns that had not yet been worked on by GDS.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Management of your account and business activities">
        <div class="bg-contrast-lower">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/rural-payments/management-of-your-account.webp, {{rootPath}}images/projects/rural-payments/management-of-your-account@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/rural-payments/management-of-your-account.png, {{rootPath}}images/projects/rural-payments/management-of-your-account@2x.png 2x">
            <img height="891" width="1200" src="{{rootPath}}images/projects/rural-payments/management-of-your-account.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Management of your account and business activities</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-bottom">

        <div class="container text-component max-width-sm">

          <h2>The results</h2>

          <div class="color-contrast-medium">
            <p>We were able to design and prototype pages quickly and efficiently, obtaining feedback promptly. We were able to spot usability problems early, make modifications and send out to test again.</p>
            <p>Working closely with a content designer and user researcher we were able to update and improve prototypes quickly, test and gather feedback in advance of developers coding functionality required for the actual service.</p>
            <p>The design system instilled design consistency, clean semantic accessible code, guidance for designers and developers as well as the ability to rapidly prototype users flows.</p>
          </div>

        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container max-width-sm">

          <div class="margin-bottom-xs">
            <p class="font-bold text-sm text-center">Share this project</p>
          </div>

          {{ socialShare({
            "twitter": {
              "attributes": {
                "data-social": 'twitter',
                "data-text": 'Hi there! https://trevorsaint.uk/projects/rural-payments via @trevorsaint',
                "data-hashtags": '#gov, #government, #designsystem, #rural, #land, #design, #dev, #ux, #interactiondesign'
              }
            },
            "facebook": {
              "attributes": {
                "data-social": 'facebook',
                "data-url": 'https://trevorsaint.uk/projects/rural-payments'
              }
            },
            "pinterest": {
              "attributes": {
                "data-social": 'pinterest',
                "data-url": 'https://trevorsaint.uk/projects/rural-payments',
                "data-description": 'Rural grants and payments to help the farming industry',
                "data-media": 'https://trevorsaint.uk/images/projects/rural-payments/pinterest.png'
              }
            },
            "linkedin": {
              "attributes": {
                "data-social": 'linkedin',
                "data-url": 'https://trevorsaint.uk/projects/rural-payments'
              }
            },
            "email": {
              "attributes": {
                "data-social": 'mail',
                "data-url": 'https://trevorsaint.uk/projects/rural-payments',
                "data-subject": 'Rural grants and payments to help the farming industry - Trevor Saint',
                "data-body": 'https://trevorsaint.uk/projects/rural-payments'
              }
            }
          }) }}

        </div>

      </div>

      <div class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

        {{ previousNextLinks({
          "previousNextLinksItems": [
            {
              "rel": 'prev',
              "text": 'Previous project',
              "url": rootPath + 'projects/hmcts-design-system',
              "label": 'A design system to solve problems and avoid repetition'
            },
            {
              "rel": 'next',
              "text": 'Next project',
              "url": rootPath + 'projects/census-2021',
              "label": 'A once in a decade survey that gives us a better future'
            }
          ]
        }) }}

      </div>

    </div>

  </section>

{% endblock %}