{% macro socialShare(params) %}

  {%- from "icons/_macro.njk" import icon -%}

  <ul class="social-share flex flex-wrap gap-xxs justify-center{{ ' ' + params.classes if params.classes else '' }}"{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>

    {% if params.twitter %}
    <li class="social-share__item">
      <a class="social-share__link js-tooltip-trigger js-social-share" href="https://twitter.com/intent/tweet"{% for attribute, value in params.twitter.attributes %} {{attribute}}="{{value}}"{% endfor %} title="Twitter">
        {{
          icon({
            "icon": 'twitter',
            "iconSize": 'md'
          })
        }}
        <span class="sr-only">Share on Twitter</span>
      </a>
    </li>
    {% endif %}

    {% if params.facebook %}
    <li class="social-share__item">
      <a class="social-share__link js-tooltip-trigger js-social-share" href="https://facebook.com/sharer.php"{% for attribute, value in params.facebook.attributes %} {{attribute}}="{{value}}"{% endfor %} title="Facebook">
        {{
          icon({
            "icon": 'facebook',
            "iconSize": 'md'
          })
        }}
        <span class="sr-only">Share on Facebook</span>
      </a>
    </li>
    {% endif %}

    {% if params.pinterest %}
    <li class="social-share__item">
      <a class="social-share__link js-tooltip-trigger js-social-share" href="https://pinterest.com/pin/create/button"{% for attribute, value in params.pinterest.attributes %} {{attribute}}="{{value}}"{% endfor %} title="Pinterest">
        {{
          icon({
            "icon": 'pinterest',
            "iconSize": 'md'
          })
        }}
        <span class="sr-only">Share on Pinterest</span>
      </a>
    </li>
    {% endif %}

    {% if params.linkedin %}
    <li class="social-share__item">
      <a class="social-share__link js-tooltip-trigger js-social-share" href="https://linkedin.com/shareArticle"{% for attribute, value in params.linkedin.attributes %} {{attribute}}="{{value}}"{% endfor %} title="LinkedIn">
        {{
          icon({
            "icon": 'linkedin',
            "iconSize": 'md'
          })
        }}
        <span class="sr-only">Share on LinkedIn</span>
      </a>
    </li>
    {% endif %}

    {% if params.email %}
    <li class="social-share__item">
      <a class="social-share__link js-tooltip-trigger js-social-share" href="mailto:"{% for attribute, value in params.email.attributes %} {{attribute}}="{{value}}"{% endfor %} title="Email">
        {{
          icon({
            "icon": 'email',
            "iconSize": 'md'
          })
        }}
        <span class="sr-only">Share by Email</span>
      </a>
    </li>
    {% endif %}

  </ul>
{% endmacro %}