// --------------------------------

// Social sharing

// --------------------------------

.social-share {}

.social-share__item {
  display: block;
}

.social-share__link {
  background-color: alpha(var(--color-black), 0.05);
  border: 1px solid transparent; // High Contrast Mode
  border-radius: 50%;
  color: var(--color-contrast-high);
  display: flex;
  padding: calc(var(--space-xxxs) - 1px);

  &:hover {
    background-color: var(--color-contrast-high);
    color: var(--color-white);
  }

  &:focus {
    background-color: var(--color-tertiary);
    box-shadow: 0 0 0 var(--space-xxxxs) var(--color-tertiary);
    color: var(--color-contrast-high);
  }

}

@include breakpoint(md) {

  .social-share__link {
    padding: calc(var(--space-xxs) - 1px);
  }

}