/* --------------------------------

Social Sharing

-------------------------------- */

.sharebar {}


.sharebar__item {
  display: block;
}


.sharebar__link {
  background: var(--color-contrast-lower);
  border-radius: 50%;
  display: inline-block;
  padding: var(--space-xs);

  .icon {
    display: block;
    color: var(--color-contrast-high);
  }

  &:hover {
    background-color: var(--color-bg);

    .icon {
      color: var(--color-primary);
    }

  }

}