:root {
  --icon-xxxs: 8px;
  --icon-xxs:  12px;
  --icon-xs:   16px;
  --icon-sm:   24px;
  --icon-md:   32px;
  --icon-lg:   48px;
  --icon-xl:   64px;
  --icon-xxl:  96px;
  --icon-xxxl: 128px;
}


.icon {
  color: inherit;
  display: block;
  fill: currentColor;
  flex-shrink: 0;
  height: 1rem;
  line-height: 1;
  max-width: initial;
  width: 1rem;
}


// Icon size
.icon--xxxs {
  height: var(--icon-xxxs);
  width: var(--icon-xxxs);
}

.icon--xxs  {
  height: var(--icon-xxs);
  width: var(--icon-xxs);
}

.icon--xs   {
  height: var(--icon-xs);
  width: var(--icon-xs);
}

.icon--sm   {
  height: var(--icon-sm);
  width: var(--icon-sm);
}

.icon--md   {
  height: var(--icon-md);
  width: var(--icon-md);
}

.icon--lg   {
  height: var(--icon-lg);
  width: var(--icon-lg);
}

.icon--xl   {
  height: var(--icon-xl);
  width: var(--icon-xl);
}

.icon--xxl  {
  height: var(--icon-xxl);
  width: var(--icon-xxl);
}

.icon--xxxl {
  height: var(--icon-xxxl);
  width: var(--icon-xxxl);
}


.icon svg {
  display: block;
}


// Enable icon colour corrections
.icon use {
  color: inherit;
  fill: currentColor;
}
