:root{
  --shadow-xs:  0 4px 4px 0 rgba(0, 0, 0, .06), 0 2px 2px 0 rgba(0, 0, 0, .06), 0 0 1px 0 rgba(0, 0, 0, .03);
  --shadow-sm:  0 8px 8px 0 rgba(0, 0, 0, .06), 0 4px 4px 0 rgba(0, 0, 0, .06), 0 2px 2px 0 rgba(0, 0, 0, .06), 0 0 1px 0 rgba(0, 0, 0, .03);
  --shadow-md:  0 16px 16px 0 rgba(0, 0, 0, .06), 0 8px 8px 0 rgba(0, 0, 0, .06), 0 4px 4px 0 rgba(0, 0, 0, .06), 0 2px 2px 0 rgba(0, 0, 0, .06), 0 0 1px 0 rgba(0, 0, 0, .03);
  --shadow-lg:  0 32px 32px 0 rgba(0, 0, 0, .06), 0 16px 16px 0 rgba(0, 0, 0, .06), 0 8px 8px 0 rgba(0, 0, 0, .06), 0 4px 4px 0 rgba(0, 0, 0, .06), 0 2px 2px 0 rgba(0, 0, 0, .06), 0 0 1px 0 rgba(0, 0, 0, .03);
  --shadow-xl:  0 64px 64px 0 rgba(0, 0, 0, .06), 0 32px 32px 0 rgba(0, 0, 0, .06), 0 16px 16px 0 rgba(0, 0, 0, .06), 0 8px 8px 0 rgba(0, 0, 0, .06), 0 4px 4px 0 rgba(0, 0, 0, .06), 0 2px 2px 0 rgba(0, 0, 0, .06), 0 0 1px 0 rgba(0, 0, 0, .03);
}
