// default spacing scale
:root {
  --space-unit:  16px;
}

:root, * {
  --space-xxxxs: calc(0.25 * var(--space-unit)); // 4px
  --space-xxxs:  calc(0.5 * var(--space-unit));  // 8px
  --space-xxs:   calc(1 * var(--space-unit));    // 16px
  --space-xs:    calc(1.5 * var(--space-unit));  // 24px
  --space-sm:    calc(2 * var(--space-unit));    // 32px
  --space-md:    calc(2.5 * var(--space-unit));  // 40px
  --space-lg:    calc(3 * var(--space-unit));    // 48px
  --space-xl:    calc(3.5 * var(--space-unit));  // 56px
  --space-xxl:   calc(4 * var(--space-unit));    // 64px
  --space-xxxl:  calc(4.5 * var(--space-unit));  // 72px
  --space-xxxxl: calc(5 * var(--space-unit));    // 80px
  --component-padding: var(--space-xs);
}