/* --------------------------------

Customer Logos

-------------------------------- */


.customer-logos {}


.customer-logos__item {
  background-color: var(--color-contrast-lower);
  background-blend-mode: multiply;
  border-radius: var(--radius-sm);
  display: flex;
  height: 112px;
  mix-blend-mode: multiply;
  min-width: 204px;
  max-width: 268px;
  width: 100%;
}


.customer-logos__logo {
  display: block;
  margin: auto;
}


/* --------------------------------
Logo
-------------------------------- */

.logo {
  color: var(--color-contrast-high);
  fill: currentColor;
}