{% extends "layout.html" %}

{% set pageId = "casestudy" %}
{% set pageTitle = "An improved User Experience in Mosaic for Servelec - Trevor Saint" %}
{% set pageDescription = "Trevor Saint designed a new look and feel for Mosaic, a social care system that allows the management of adult’s, children and finance cases all on a single platform." %}

{% block content %}
<div class="container">

  <nav class="breadcrumb" aria-label="Breadcrumb">
    <ol class="breadcrumb__list">
      <li class="breadcrumb__item"><a class="breadcrumb__link" href="/projects">Projects</a></li>
      <li class="breadcrumb__item"><a class="breadcrumb__link" href="/projects/servelec" aria-current="page">Servelec</a></li>
    </ol>
  </nav>

  <div class="casestudy__header">

    <div class="casestudy__header-logo">
      <img src="{{assetPath}}images/logo/servelec.svg" alt="Servelec">
    </div>

    <div class="casestudy__header-title">
      <h1 class="heading-xxl">An improved User Experience in Mosaic for Servelec</h1>
    </div>

  </div>

  <div class="casestudy__content">

    <figure class="figure">
      <div class="image image--16:9">
        <img src="{{assetPath}}images/projects/project/servelec/servelec-featured.jpg" srcset="{{assetPath}}images/projects/project/servelec/servelec-featured.jpg 1x, {{assetPath}}images/projects/project/servelec/servelec-featured@2x.jpg 2x" alt="">
      </div>
    </figure>

    <div class="textblock">

      <h2 class="heading-l">Overview</h2>

      <div class="textblock__content">

        <div class="textblock__main">
          <p>Servelec asked me for some UX Consultancy for a new Mosaic release. Mosaic is a Digital Case Management System for Social Care and allows the management of adult’s, children and finance cases all on one platform.</p>
          <p>When starting on the project, I found existing user research material that had been prepared by a UX Consultancy. The research was useful and insightful and gave me a good steer towards improving the service. However, it did not include visual design, so it was my role to design a new look and feel.</p>
        </div>

        <div class="textblock__supporting">
          <dl class="metadata">
            <dt class="metadata__heading">Client</dt>
            <dd class="metadata__description">Servelec</dd>
            <dt class="metadata__heading">Industry</dt>
            <dd class="metadata__description">Social Care</dd>
            <dt class="metadata__heading">Year</dt>
            <dd class="metadata__description">2019</dd>
          </dl>
        </div>

      </div>

    </div>

    <figure class="figure">
      <div class="image image--16:10">
        <img src="{{assetPath}}images/projects/project/servelec/mosaic-design-system.png" srcset="{{assetPath}}images/projects/project/servelec/mosaic-design-system.png 1x, {{assetPath}}images/projects/project/servelec/mosaic-design-system@2x.png 2x" alt="">
      </div>
      <figcaption class="figure__caption">Mosaic Design System building blocks created in Sketch</figcaption>
    </figure>

    <div class="textblock">

      <h2 class="heading-l">A design system built from scratch</h2>

      <div class="textblock__content">
        <div class="textblock__main">
          <p>After research and investigation of the existing system were complete,  I was then able to focus my attention on the visual look and feel for the entire system.</p>
          <p>I built a design system that contained a collection of reusable elements. They consisted of colour palettes, iconography, badges, accordions, buttons, counters, form elements and more.</p>
          <p>Each element was carefully designed to ensure accessibility and standards were baked in from the start. These elements were the building blocks for page design, ready to be handed over for development.</p>
        </div>
      </div>

    </div>

    <figure class="figure">
      <div class="image image--16:10">
        <img src="{{assetPath}}images/projects/project/servelec/mosaic-panel-components.png" srcset="{{assetPath}}images/projects/project/servelec/mosaic-panel-components.png 1x, {{assetPath}}images/projects/project/servelec/mosaic-panel-components@2x.png 2x" alt="">
      </div>
      <figcaption class="figure__caption">Mosaic panel components created in Sketch</figcaption>
    </figure>

    <div class="textblock">

      <h2 class="heading-l">Information for end-users</h2>

      <div class="textblock__content">

        <div class="textblock__main">
          <p>A big part of the system was to present information using panels. These panels would include valuable information about a person or persons and other information relating to a case. There could be few or many depending on the scale of the case.</p>
        </div>

      </div>

    </div>

    <figure class="figure">
      <div class="image image--16:10">
        <img src="{{assetPath}}images/projects/project/servelec/mosaic-panel-demographic-information.png" srcset="{{assetPath}}images/projects/project/servelec/mosaic-panel-demographic-information.png 1x, {{assetPath}}images/projects/project/servelec/mosaic-panel-demographic-information@2x.png 2x" loading="lazy" alt="">
      </div>
      <figcaption class="figure__caption">Demographic Information panel in Mosaic. Interactive states designed in Sketch for Developers to build</figcaption>
    </figure>

    <div class="textblock">

      <h2 class="heading-l">Defining overall look and feel</h2>

      <div class="textblock__content">

        <div class="textblock__main">
          <p>When the panel design work was complete, I started design work on the overall interface appearance for Mosaic. I made some reference to the design work Servelec had done with its online branding. It was important to maintain brand awareness and ensure some of the Servelec identity was part of the design for Mosaic.</p>
          <p>This design work included elements like header, navigation, footer and other page contents. The result was a clean, minimalistic interface feel with a Servelec touch.</p>
        </div>

      </div>

    </div>

    <figure class="figure">
      <div class="image image--16:10">
        <img src="{{assetPath}}images/projects/project/servelec/mosaic-personal-summary.png" srcset="{{assetPath}}images/projects/project/servelec/mosaic-personal-summary.png 1x, {{assetPath}}images/projects/project/servelec/mosaic-personal-summary@2x.png 2x" loading="lazy" alt="">
      </div>
      <figcaption class="figure__caption">Personal summary page design in Sketch</figcaption>
    </figure>

    <figure class="figure">
      <div class="image image--16:10">
        <img src="{{assetPath}}images/projects/project/servelec/mosaic-team-workview.png" srcset="{{assetPath}}images/projects/project/servelec/mosaic-team-workview.png 1x, {{assetPath}}images/projects/project/servelec/mosaic-team-workview@2x.png 2x" loading="lazy" alt="">
      </div>
      <figcaption class="figure__caption">Team work view page design in Sketch</figcaption>
    </figure>

    <div class="textblock">

      <h2 class="heading-l">The results</h2>

      <div class="textblock__content">

        <div class="textblock__main">
          <p>I delivered an attractive new interface with an Improved User Experience where possible, within the time-frame. This work met the needs of the client and their end-users. My involvement included:</p>
          <ul class="list list--bullet">
            <li>UX/UI Design and Art Direction</li>
            <li>Research and Analysis (end-users)</li>
            <li>Design System and Style Guide</li>
            <li>Accessible Design</li>
          </ul>
        </div>

      </div>

    </div>

    <figure class="figure">
      <div class="image image--16:10">
        <img src="{{assetPath}}images/projects/project/servelec/mosaic-personal-summary-sub-navigation.png" srcset="{{assetPath}}images/projects/project/servelec/mosaic-personal-summary-sub-navigation.png 1x, {{assetPath}}images/projects/project/servelec/mosaic-personal-summary-sub-navigation@2x.png 2x" loading="lazy" alt="">
      </div>
      <figcaption class="figure__caption">Person summary with sub navigation menu design in Sketch</figcaption>
    </figure>

    <hr class="section-break section-break--xl section-break--visible">

    <div class="signpost">

      <div class="signpost__item">
        <a class="signpost__link signpost__link--previous" href="/projects/rural-payments">
          <span class="signpost__link-label">Previous</span>
          <span class="signpost__link-context">Rural Payments (GOV.UK)</span>
        </a>
      </div>

      <div class="signpost__item">
        <a class="signpost__link signpost__link--next" href="/projects/max-powder">
          <span class="signpost__link-label">Next</span>
          <span class="signpost__link-context">Max Powder</span>
        </a>
      </div>

    </div>

  </div>

</div>
{% endblock %}
