/* --------------------------------
 Menu list
-------------------------------- */

.menu-list {
  display: flex;
}


.menu-list__item {
  @include typography(20);
  display: flex;

  &:not(:last-child) {
    margin-right: var(--space-sm);
  }

}