{% set pageTitle       = "Manage cases in a simple, accessible and efficient way - Trevor Saint" %}
{% set pageDescription = "Trevor Saint as part of a large team designed and developed a system for HM Courts and Tribunals Service to allow members of the judiciary to manage and progress cases." %}
{% set pageId          = "projects" %}

{% extends "layout.html" %}

{% block content %}


<section class="padding-top-xs padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">


  <div class="container">


    {{
      backLink({
        "url": '/projects',
        "text": 'Back'
      })
    }}


    <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">Manage cases in a simple, accessible and efficient way</h1>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">The Central Criminal Court of England and Wales at The Old Bailey. Photo by Trevor Saint</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-sm justify-between">

        <div class="col-11@sm offset-1@sm">
          <h2 class="heading-xl">Overview</h2>
        </div>

        <div class="col-7@sm offset-1@sm">
          <div class="color-contrast-medium text-component">
            <p>The Judicial case manager is part of a &pound;1 billion programme involving over 50 projects to change and improve the Courts and Tribunals Service to bring new technology and modern ways of working.</p>
            <p>Our role was to create a user interface that would enable and support Judges and other members of the judiciary, working within the reformed services to manage their cases in a more efficient way.</p>
          </div>
        </div>

        <div class="col-3@sm">
          <dl>
            <dt class="font-bold">Client</dt>
            <dd class="color-contrast-medium margin-bottom-xxs">HM Courts &amp; Tribunals Service</dd>
            <dt class="font-bold">Industry</dt>
            <dd class="color-contrast-medium margin-bottom-xxs">Government</dd>
            <dt class="font-bold">Year</dt>
            <dd class="color-contrast-medium">2018</dd>
          </dl>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Mockups in Balsamiq, to tease out user requirements for research and user testing with Judges</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>My process</h2>
            <div class="color-contrast-medium">
              <p>I started designing with low-fidelity prototypes which consisted of sticky notes and hand-drawn sketches which helped brainstorm.</p>
              <p>Balsamiq helped me quickly create rough concepts to test scenarios with judges.</p>
              <p>Later, I created hi-fidelity mockups using Sketch to get an overall look and feel for the interface and to design a collection of reusable components for the service.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>

      <div class="grid gap-xs">

        <div class="col-6@sm">
            <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

        <div class="col-6@sm">
            <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

      </div>

      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Hand-drawn sketches, sticky notes, planning, and research</figcaption>

    </figure>


    <figure class="margin-top-md">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Digital case file high fidelity visual design for the Judicial case manager service</figcaption>
    </figure>


    <figure class="margin-top-md">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Questions high fidelity visual design for the Judicial case manager</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-sm">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Prototyping in code</h2>
            <div class="color-contrast-medium">
              <p>Later, I moved Sketch designs into prototype code. This took time to ramp up but once I did, it was very fast to prototype new features.</p>
              <p>Presenting an interactive, realistic user experience helped to spot usability failures within the service and ensured user needs were at the center of every design decision.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Prototyping Judicial case manager service in code, ready for user testing, and developers to integrate</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-sm">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Research and analysis</h2>
            <div class="color-contrast-medium">
              <p>Research visits around England included 12 locations, 25 participants and over 104 hours of research. We also worked with individual service lines to use their research saving us a lot of time and duplication of effort.</p>
              <p>From our research we defined:</p>
              <ul>
                <li>a set of user needs for each service line</li>
                <li>a core set of user needs for the Judicial case manager</li>
                <li>ExpressionEngine integration</li>
                <li>a set of personas describing our main user types</li>
                <li>understanding of the current user journeys for each service line</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>


    <div class="grid gap-xs">

      <div class="col-6@sm">
        <figure>
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
          <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">User testing with a Judge in Guildford Magistrates’ Court and Family Court</figcaption>
        </figure>
      </div>

      <div class="col-6@sm">
        <figure>
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
          <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Sticky notes and hand-drawn sketches for Continuous Online Resolution (SSCS)</figcaption>
        </figure>
      </div>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-sm">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Collaborative delivery</h2>
            <div class="color-contrast-medium">
              <p>I worked with product owners, business analysts, user researchers, content designers, developers and delivery managers adopting Agile principles.</p>
              <p>Every individual brought their own set of skills and expertise, to transform the Courts and Tribunals system.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Filtering your cases visual design for Judicial case manager</figcaption>
    </figure>


    <figure class="margin-top-md">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Filtering your cases visual design for Judicial case manager</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-sm">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>The results</h2>
            <div class="color-contrast-medium">
              <p>We delivered a highly complex end-to-end digital service for judges to manage their cases. This incorporated and met the needs of the following service lines:</p>
              <ul>
                <li>Divorce</li>
                <li>Financial remedy</li>
                <li>Social Security and Child Support (SSCS)</li>
                <li>Civil Money Claims (CMC)</li>
                <li>Probate</li>
                <li>Public Law</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>


    <!-- Previous / Next Links -->
    <ul class="pn-links grid">

      <li class="pn-links__item col-6@md">

        <a class="pn-links__link justify-center justify-between@md" href="/projects/max-powder" rel="prev">

          <svg class="pn-links__icon icon icon--md" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-back"/></svg>

          <span class="margin-left-sm">
            <i class="sr-only">Previous project: </i>A complete rebrand and design for Max Powder
          </span>

        </a>

      </li>

      <li class="pn-links__item col-6@md">

        <a class="pn-links__link justify-center justify-between@md" href="/projects/hmcts-design-system" rel="next">

          <span class="margin-right-sm">
            <i class="sr-only">Next project: </i>A design system to solve problems and avoid repition
          </span>

          <svg class="pn-links__icon icon icon--md" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>

        </a>

      </li>

    </ul>


  </div>


</section>


{% endblock %}
