{% set pageTitle       = "Manage cases in a simple, accessible and efficient way - Trevor Saint" %}
{% set pageDescription = "Trevor Saint as part of a large team designed and developed a system for HM Courts and Tribunals Service to allow members of the judiciary to manage and progress cases." %}
{% set pageId          = "casestudy" %}

{% extends "layout.html" %}

{% block content %}


<section>


  <div class="container">


    <a class="back-link margin-y-md" href="/projects"><svg class="icon icon--sm" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="{{assetPath}}images/sprite.svg#chevron-left"/></svg>Back</a>


    <h1 class="heading-xxl">Manage cases in a simple, accessible and efficient way</h1>


    <figure class="margin-top-md">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">The Central Criminal Court of England and Wales at The Old Bailey. Photo by Trevor Saint</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">Overview</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>The Judicial case manager is part of a £1 billion programme involving over 50 projects to change and improve the Courts and Tribunals Service to bring new technology and modern ways of working.</p>
              <p>Our role was to create a user interface that would enable and support Judges and other members of the judiciary, working within the reformed services to manage their cases in a more efficient way.</p>
            </div>
          </div>

          <div class="col-3@sm">
            <dl>
              <dt class="font-bold">Client</dt>
              <dd class="margin-bottom-xs">HM Courts &amp; Tribunals Service</dd>
              <dt class="font-bold">Industry</dt>
              <dd class="margin-bottom-xs">Government</dd>
              <dt class="font-bold">Year</dt>
              <dd>2018</dd>
            </dl>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Mockups in Balsamiq, to tease out user requirements for research and user testing with Judges</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">My process</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>I started designing with low-fidelity prototypes which consisted of sticky notes and hand-drawn sketches which helped brainstorm.</p>
              <p>Balsamiq helped me quickly create rough concepts to test scenarios with judges.</p>
              <p>Later, I created hi-fidelity mockups using Sketch to get an overall look and feel for the interface and to design a collection of reusable components for the service.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>

      <div class="grid gap-xs">

        <div class="col-6@sm">
            <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

        <div class="col-6@sm">
            <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
        </div>

      </div>

      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Hand-drawn sketches, sticky notes, planning, and research</figcaption>

    </figure>


    <figure class="margin-top-md">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Digital case file high fidelity visual design for the Judicial case manager service</figcaption>
    </figure>


    <figure class="margin-top-md">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Questions high fidelity visual design for the Judicial case manager</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <h2 class="heading-xl margin-bottom-sm">Prototyping in code</h2>

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <p>Later, I moved Sketch designs into prototype code. This took time to ramp up but once I did, it was very fast to prototype new features.</p>
              <p>Presenting an interactive, realistic user experience helped to spot usability failures within the service and ensured user needs were at the center of every design decision.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Prototyping Judicial case manager service in code, ready for user testing, and developers to integrate</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <h2>Research and analysis</h2>
              <p>Research visits around England included 12 locations, 25 participants and over 104 hours of research. We also worked with individual service lines to use their research saving us a lot of time and duplication of effort.</p>
              <p>From our research we defined:</p>
              <ul>
                <li>a set of user needs for each service line</li>
                <li>a core set of user needs for the Judicial case manager</li>
                <li>ExpressionEngine integration</li>
                <li>a set of personas describing our main user types</li>
                <li>understanding of the current user journeys for each service line</li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="grid gap-xs">

      <div class="col-6@sm">
        <figure>
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
          <figcaption class="color-contrast-medium body-sm margin-top-xxs">User testing with a Judge in Guildford Magistrates’ Court and Family Court</figcaption>
        </figure>
      </div>

      <div class="col-6@sm">
        <figure>
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
          <figcaption class="color-contrast-medium body-sm margin-top-xxs">Sticky notes and hand-drawn sketches for Continuous Online Resolution (SSCS)</figcaption>
        </figure>
      </div>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <h2>Collaborative delivery</h2>
              <p>I worked with product owners, business analysts, user researchers, content designers, developers and delivery managers adopting Agile principles.</p>
              <p>Every individual brought their own set of skills and expertise, to transform the Courts and Tribunals system.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Filtering your cases visual design for Judicial case manager</figcaption>
    </figure>


    <figure class="margin-top-md">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxs">Filtering your cases visual design for Judicial case manager</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-xl">

        <div class="grid gap-sm justify-between">

          <div class="col-7@sm">
            <div class="text-component">
              <h2>The results</h2>
              <p>We delivered a highly complex end-to-end digital service for judges to manage their cases. This incorporated and met the needs of the following service lines:</p>
              <ul>
                <li>Divorce</li>
                <li>Financial remedy</li>
                <li>Social Security and Child Support (SSCS)</li>
                <li>Civil Money Claims (CMC)</li>
                <li>Probate</li>
                <li>Public Law</li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="container padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-top">

      <nav class="pagination" aria-label="Pagination Navigation">

        <a class="pagination__link" href="/projects/max-powder" rel="prev">

          <span class="pagination__direction">
            <svg class="icon icon--sm margin-right-xxxs" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-back"/></svg>
            Previous
          </span>

          <span class="pagination__subtext display@sm">Max Powder</span>

        </a>

        <a class="pagination__link pagination__link--next" href="/projects/hmcts-design-system" rel="next">

          <span class="pagination__direction">
            Next
            <svg class="icon icon--sm margin-left-xxxs" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
          </span>

          <span class="pagination__subtext display@sm">HMCTS Design System</span>

        </a>

      </nav>

    </div>


  </div>


</section>


{% endblock %}
