{% set pageTitle       = "Criminal Justice System by Trevor Saint | Designing an interface to support Judges and other members of the Judiciary" %}
{% set pageDescription = "I worked closely with Judges and members of the Judiciary to design a service for managing cases in part of a £1 billion programme." %}
{% set pageUrl         = "projects/judicial-case-manager" %}
{% set pageId          = "projects" %}

{% extends "layout.njk" %}

{% block content %}

  <section class="padding-top-xs">

    <div class="container">

      {{ backLink({
        "url": rootPath + 'projects',
        "text": 'Back to projects'
      }) }}

      <h1 class="text-xxl margin-y-sm margin-y-lg@sm">Manage cases in a simple, accessible and efficient way</h1>

      <div class="hero">
        <picture>
          <source type="image/webp" srcset="{{rootPath}}images/projects/judicial-case-manager/hero.webp, {{rootPath}}images/projects/judicial-case-manager/hero@2x.webp 2x">
          <source type="image/png" srcset="{{rootPath}}images/projects/judicial-case-manager/hero.png, {{rootPath}}images/projects/judicial-case-manager/hero@2x.png 2x">
          <img height="800" width="1200" src="{{rootPath}}images/projects/judicial-case-manager/hero.png" alt="" loading="lazy">
        </picture>
      </div>

      <div class="flex@sm justify-between items-start margin-top-md">

        {{ entryDetails({
          "rows": [
            {
              "key": {
                "text": 'Client'
              },
              "value": {
                "text": 'HM Courts & Tribunals Service'
              }
            },
            {
              "key": {
                "text": 'Industry'
              },
              "value": {
                "text": 'Government'
              }
            },
            {
              "key": {
                "text": 'Year'
              },
              "value": {
                "text": '2018'
              }
            }
          ]
        }) }}

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Overview</h2>

          <div class="color-contrast-medium">
            <p>The Judicial case manager is part of a &pound;1 billion programme involving over 50 projects to change and improve the Courts and Tribunals Service to bring new technology and modern ways of working.</p>
            <p>Our role was to create a user interface that would enable and support Judges and other members of the judiciary, working within the reformed services to manage their cases in a more efficient way.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Mockups to tease out requirements with Judges">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/judicial-case-manager/mockups-to-tease-user-requirements.webp, {{rootPath}}images/projects/judicial-case-manager/mockups-to-tease-user-requirements@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/judicial-case-manager/mockups-to-tease-user-requirements.png, {{rootPath}}images/projects/judicial-case-manager/mockups-to-tease-user-requirements@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/judicial-case-manager/mockups-to-tease-user-requirements.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Mockups to tease out requirements with Judges</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>My process</h2>

          <div class="color-contrast-medium">
            <p>I started designing with low-fidelity prototypes which consisted of sticky notes and hand-drawn sketches which helped brainstorm.</p>
            <p>Balsamiq helped me quickly create rough concepts to test scenarios with judges.</p>
            <p>Later, I created hi-fidelity mockups using Sketch to get an overall look and feel for the interface and to design a collection of reusable components for the service.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Sketches, sticky notes, planning, and research">

        <div class="grid gap-xs">

          <div class="col-6@sm">
            <div class="bg-contrast-lower aspect-ratio-3:2">
              <img height="392" width="588" srcset="{{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-1.jpg 1x, {{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-1@2x.jpg 2x" src="{{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-1.jpg" alt="" loading="lazy">
            </div>
          </div>

          <div class="col-6@sm">
            <div class="bg-contrast-lower aspect-ratio-3:2">
              <img height="392" width="588" srcset="{{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-2.jpg 1x, {{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-2@2x.jpg 2x" src="{{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-2.jpg" alt="" loading="lazy">
            </div>
          </div>

          <div class="col-6@sm">
            <div class="bg-contrast-lower aspect-ratio-3:2">
              <img height="392" width="588" srcset="{{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-3.jpg 1x, {{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-3@2x.jpg 2x" src="{{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-3.jpg" alt="" loading="lazy">
            </div>
          </div>

          <div class="col-6@sm">
            <div class="bg-contrast-lower aspect-ratio-3:2">
              <img height="392" width="588" srcset="{{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-4.jpg 1x, {{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-4@2x.jpg 2x" src="{{rootPath}}images/projects/judicial-case-manager/hand-drawn-sketches-4.jpg" alt="" loading="lazy">
            </div>
          </div>

        </div>

        <figcaption class="figure__caption margin-top-xxs">Sketches, sticky notes, planning, and research</figcaption>

      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Digital case file design">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/judicial-case-manager/digital-case-file-design.webp, {{rootPath}}images/projects/judicial-case-manager/digital-case-file-design@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/judicial-case-manager/digital-case-file-design.png, {{rootPath}}images/projects/judicial-case-manager/digital-case-file-design@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/judicial-case-manager/digital-case-file-design.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Digital case file design</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Questions and answers design">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/judicial-case-manager/questions-and-answers-design.webp, {{rootPath}}images/projects/judicial-case-manager/questions-and-answers-design@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/judicial-case-manager/questions-and-answers-design.png, {{rootPath}}images/projects/judicial-case-manager/questions-and-answers-design@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/judicial-case-manager/questions-and-answers-design.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Questions and answers design</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Case details landing page design">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/judicial-case-manager/case-details-landing-page-design.webp, {{rootPath}}images/projects/judicial-case-manager/case-details-landing-page-design@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/judicial-case-manager/case-details-landing-page-design.png, {{rootPath}}images/projects/judicial-case-manager/case-details-landing-page-design@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/judicial-case-manager/case-details-landing-page-design.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Case details landing page design</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Prototyping in code</h2>

          <div class="color-contrast-medium">
            <p>Later, I moved Sketch designs into prototype code. This took time to ramp up but once I did, it was very fast to prototype new features.</p>
            <p>Presenting an interactive, realistic user experience helped to spot usability failures within the service and ensured user needs were at the center of every design decision.</p>
          </div>

          <h2>Research and analysis</h2>

          <div class="color-contrast-medium">
            <p>Research visits around England included 12 locations, 25 participants and over 104 hours of research. We also worked with individual service lines to use their research saving us a lot of time and duplication of effort.</p>
            <p class="font-bold">From our research we defined:</p>
            <ul>
              <li>a set of user needs for each service line</li>
              <li>a core set of user needs for the Judicial case manager</li>
              <li>a set of personas describing our main user types</li>
              <li>understanding of the current user journeys for each service line</li>
            </ul>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="User testing with a Judge in Guildford Magistrates’ Court and Family Court">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <img height="675" width="1200" srcset="{{rootPath}}images/projects/judicial-case-manager/user-testing-with-a-judge.jpg 1x, {{rootPath}}images/projects/judicial-case-manager/user-testing-with-a-judge@2x.jpg 2x" src="{{rootPath}}images/projects/judicial-case-manager/user-testing-with-a-judge.jpg" alt="" loading="lazy">
        </div>
        <figcaption class="figure__caption margin-top-xxs">User testing with a Judge in Guildford Magistrates’ Court and Family Court</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Collaborative delivery</h2>

          <div class="color-contrast-medium">
            <p>I worked with product owners, business analysts, user researchers, content designers, developers and delivery managers adopting Agile principles.</p>
            <p>Every individual brought their own set of skills and expertise, to transform the Courts and Tribunals system.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Divorce user journey designs">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/judicial-case-manager/divorce-user-journey-designs.webp, {{rootPath}}images/projects/judicial-case-manager/divorce-user-journey-designs@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/judicial-case-manager/divorce-user-journey-designs.png, {{rootPath}}images/projects/judicial-case-manager/divorce-user-journey-designs@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/judicial-case-manager/divorce-user-journey-designs.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Divorce user journey designs</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-bottom">

        <div class="container text-component max-width-sm">

          <h2>The results</h2>

          <div class="color-contrast-medium">
            <p>We delivered a highly complex end-to-end digital service for judges to manage their cases.</p>
            <p class="font-bold">This incorporated and met the needs of the following service lines:</p>
            <ul>
              <li>Divorce</li>
              <li>Financial remedy</li>
              <li>Social Security and Child Support (SSCS)</li>
              <li>Civil Money Claims (CMC)</li>
              <li>Probate</li>
              <li>Public Law</li>
            </ul>
          </div>

        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container max-width-sm">

          <div class="margin-bottom-xs">
            <p class="font-bold text-md text-center">Share this project</p>
          </div>

          {{ socialShare({
            "twitter": {
              "attributes": {
                "data-social": 'twitter',
                "data-text": 'Hi there! https://trevorsaint.uk/projects/judicial-case-manager via @trevorsaint',
                "data-hashtags": '#govuk, #government, #court, #legal, #designsystem, #design, #dev, #ux, #interactiondesign'
              }
            },
            "facebook": {
              "attributes": {
                "data-social": 'facebook',
                "data-url": 'https://trevorsaint.uk/projects/judicial-case-manager'
              }
            },
            "pinterest": {
              "attributes": {
                "data-social": 'pinterest',
                "data-url": 'https://trevorsaint.uk/projects/judicial-case-manager',
                "data-description": 'Manage cases in a simple, accessible and efficient way',
                "data-media": 'https://trevorsaint.uk/images/projects/judicial-case-manager/pinterest.png'
              }
            },
            "linkedin": {
              "attributes": {
                "data-social": 'linkedin',
                "data-url": 'https://trevorsaint.uk/projects/judicial-case-manager'
              }
            },
            "email": {
              "attributes": {
                "data-social": 'mail',
                "data-url": 'https://trevorsaint.uk/projects/judicial-case-manager',
                "data-subject": 'Manage cases in a simple, accessible and efficient way - Trevor Saint',
                "data-body": 'https://trevorsaint.uk/projects/judicial-case-manager'
              }
            }
          }) }}

        </div>

      </div>

      <div class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

        {{ previousNextLinks({
          "previousNextLinksItems": [
            {
              "rel": 'prev',
              "text": 'Previous project',
              "url": rootPath + 'projects/max-powder',
              "label": 'A complete rebrand and design for Max Powder'
            },
            {
              "rel": 'next',
              "text": 'Next project',
              "url": rootPath + 'projects/hmcts-design-system',
              "label": 'A design system to solve problems and avoid repetition'
            }
          ]
        }) }}

      </div>

    </div>

  </section>

{% endblock %}