@import "../settings/colours-palette";

/*
Get colour
Name of colour from the colour palette

Example: scss
.element {
  color: colour("blue");
}
*/

@function colour($colour) {
  $colour: quote($colour);

  @if not map-has-key($colours, $colour) {
    @error "Unknown colour `#{$colour}`";
  }

  @return map-get($colours, $colour);
}