/* --------------------------------

Focused text
Provides an outline to clearly indicate when the target element is focused.
Used for interactive text-based elements.

-------------------------------- */


@mixin focused-text {

/* --------------------------------

When colours are overridden, for example when users have a dark mode,
backgrounds and box-shadows disappear, so we need to ensure there's a
transparent outline which will be set to a visible colour.

-------------------------------- */

  background-color: var(--color-tertiary);
  box-shadow: 0 0 0 var(--space-xxxxs) var(--color-tertiary);
  color: var(--color-contrast-high);
  text-decoration: none;
}
