/* --------------------------------

Font face

-------------------------------- */


@font-face {
  font-family: "Baskerville";
  src: font-url("Baskerville.woff2") format("woff2"), font-url("Baskerville.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moderat";
  src: font-url("Moderat-Bold.woff2") format("woff2"), font-url("Moderat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moderat";
  src: font-url("Moderat-Regular.woff2") format("woff2"), font-url("Moderat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


// Font family
:root {
  --font-primary:   "Baskerville", "Baskerville Old Face", "Hoefler Text", "Garamond", "Times New Roman", serif;
  --font-secondary: "Moderat", "Arial", sans-serif
}
