/* --------------------------------

Error message

-------------------------------- */


.error-message {
  color: var(--color-error);
  display: block;
  font-weight: var(--font-bold);
  margin-bottom: var(--space-xxxs);
}