/* --------------------------------

Card

-------------------------------- */


.card {
  background-color: var(--color-bg);
  overflow: hidden;
}


.card__image {
  background-color: alpha(var(--color-black), 0.03);
  border-radius: var(--radius-lg);
  position: relative;
}


.card__content {
  padding: var(--space-xs);
}