// --------------------------------

// Card

// --------------------------------


.card {
  overflow: hidden;
}


.card__image {
  background-color: alpha(var(--color-black), 0.05);
  border-radius: var(--radius-lg);
  position: relative;
  text-align: right; // added due to shadow cut-off between breakpoints
}


.card__content {
  padding: var(--space-xs);
}