{% set pageTitle       = "A design system to solve problems and avoid repetition - Trevor Saint" %}
{% set pageDescription = "Trevor Saint designed and developed a design system for HM Courts and Tribunals Service" %}
{% set pageId          = "casestudy" %}

{% extends "layout.html" %}

{% block content %}


<section class="padding-top-xs padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">


  <div class="container">


    {{
      backLink({
        "url": "/projects",
        "text": "Back"
      })
    }}


    <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">A design system to solve problems and avoid repetition</h1>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs justify-between">

        <div class="col-11@sm offset-1@sm">
          <h2 class="heading-xl">Overview</h2>
        </div>

        <div class="col-7@sm offset-1@sm">
          <div class="color-contrast-medium text-component">
            <p>At HMCTS the design practice consisted of 18 teams made up of 62 people. This included 26 researchers, 14 interaction designers, 3 service designers and 15 content designers.</p>
            <p>Given this, we wanted to reduce the effort it took to share good styles, components and patterns for reuse across the teams.</p>
            <p>Creating the HMCTS Design System solved all of these problems.</p>
          </div>
        </div>

        <div class="col-3@sm">
          <dl>
            <dt class="font-bold">Client</dt>
            <dd class="color-contrast-medium margin-bottom-xxxs">HM Courts &amp; Tribunals Service</dd>
            <dt class="font-bold">Industry</dt>
            <dd class="color-contrast-medium margin-bottom-xxxs">Government</dd>
            <dt class="font-bold">Year</dt>
            <dd class="color-contrast-medium">2018</dd>
          </dl>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxxs text-center">Home page visual design for the HMCTS Design System</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Our approach</h2>
            <div class="color-contrast-medium">
              <p>After consulting Government Digital Service (GDS), we created an alpha version of HMCTS Design System that closely matched the approach of the GOV.UK Design System.</p>
              <p>This meant using the same words to describe things and the same format and layout for delivering the design system. It also meant creating an HMCTS Frontend project where the styles and component code would live just like GOV.UK Frontend.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxxs text-center">Progress bar component in the HMCTS Design System</figcaption>
    </figure>


    <figure class="margin-top-xs">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxxs text-center">Pagination component in the HMCTS Design System</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Quality assurance</h2>
            <div class="color-contrast-medium">
              <p>We made sure that the HMCTS Design System was easy to use in projects and easy to contribute to as a designer by making releases possible.</p>
              <p>We also ensured a good level of quality control, by making sure contributors couldn't push without two people’s review.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxxs text-center">Manage case decisions using components from the HMCTS Design System</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Collaborative effort</h2>
            <div class="color-contrast-medium">
              <p>Various patterns that were either designed or required were discussed in weekly design crits. If good enough, they would be added into the backlog ready for development, and added to HMCTS Frontend, and documented in the HMCTS Design System.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxxs text-center">Contributors for the HMCTS Design System and HMCTS Frontend on GitHub repositories</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Our process</h2>
            <div class="color-contrast-medium">
              <p>When we designed and developed the Judicial case manager, a lot of the elements were useful for other service lines, which is why a lot of these were added into the HMCTS Design System as a foundation to build upon.</p>
              <p>Each component needed to be made flexible and reusable, so time was spent making these into components which were customisable for each use case. We would ensure that each component was semantic, accessible and responsive.</p>
              <p>We would also perform other checks such as various browser types and operating systems to ensure each component was good enough for reuse.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxxs text-center">Collaboration on GitHub about the HMCTS Frontend and HMCTS Design System progress bar being used on GOV.UK divorce</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>The benefits</h2>
            <div class="color-contrast-medium">
              <p>The benefits of a Design System is that if a service is using a component, any changes or improvements we make to the design system are immediately reflected in the services using the component. We would perform these updates in ‘package releases’.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxxs text-center">HMCTS Frontend package release v0.0.21-alpha on GitHub</figcaption>
    </figure>


    <figure class="margin-top-xs">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-sm margin-top-xxxs text-center">Manage case decisions using components from the HMCTS Design System</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>The results</h2>
            <div class="color-contrast-medium">
              <p>A number of separate services teams are now using the design system and saving a lot of time because of that.</p>
              <p>This ensured consistency throughout all service lines, with a significant reduction in time and effort spent in research, design, development and accessibility testing.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <!-- Previous / Next Links -->
    <ul class="pn-links grid">

      <li class="pn-links__item col-6@md">

        <a class="pn-links__link justify-center justify-between@md" href="/projects/judicial-case-manager" rel="prev">

          <svg class="pn-links__icon icon icon--md" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-back"/></svg>

          <span class="margin-left-sm">
            <i class="sr-only">Previous project: </i>Manage cases in a simple, accessible and efficient way
          </span>

        </a>

      </li>

      <li class="pn-links__item col-6@md">

        <a class="pn-links__link justify-center justify-between@md" href="/projects/paramount-packaging" rel="next">

          <span class="margin-right-sm">
            <i class="sr-only">Next project: </i>Redesigning the look and feel throughout for Paramount
          </span>

          <svg class="pn-links__icon icon icon--md" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>

        </a>

      </li>

    </ul>


  </div>


</section>


{% endblock %}
