{% set pageTitle       = "Pleasure in the job puts perfection in the work" %}
{% set pageDescription = "Trevor Saint showing his most recent work for government departments and other industries." %}
{% set pageId          = "projects" %}

{% extends "layout.html" %}

{% block content %}


<!-- Masthead -->
<section class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

  <div class="container">

    <h1 class="heading-xxxl margin-bottom-lg">Projects</h1>

    <div class="grid gap-sm">

      <div class="col-8@sm">

        <div class="text-component color-contrast-medium body-lg">
          <p>Pleasure in the job puts perfection in the work.</p>
        </div>

      </div>

    </div>

  </div>

</section>


<!-- Featured project -->
<section class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

  <div class="container">

    <div class="grid">

      <div class="col-11@sm">
        <h2 class="heading-xl padding-bottom-xxs margin-bottom-xs margin-bottom-lg@sm border-offscreen">Featured project</h2>
      </div>

    </div>

    <div class="feature">

      <div class="feature__grid grid gap-md items-center">

        <div class="col-8@md">

          <figure class="bg-contrast-lower media-wrapper media-wrapper--3:2 radius-lg">
            <!--img class="block width-100%" srcset=" 1x,  2x,  3x" src="" alt="Image description"-->
          </figure>

        </div>

        <div class="col-4@md position-relative z-index-1">

          <div class="text-component feature__text-offset@md">

            <h2 class="heading-xl">Census 2021</h2>

            <p class="body-lg color-contrast-medium">Designing a once in a century survey for all households in England, Wales and Northern Ireland.</p>

            <p>
              <a class="feature__link" href="#0">
                <span class="feature__link-label">View <span class="sr-only">Census 2021 </span>project</span>
                <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
              </a>
            </p>

          </div>

        </div>

      </div>

    </div>

</section>


<!-- Projects -->
<section class="container padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

  <div class="grid">

    <div class="col-11@sm">
      <h2 class="heading-xl padding-bottom-xxs margin-bottom-xs margin-bottom-lg@sm border-offscreen">Other projects</h2>
    </div>

  </div>

  <div class="grid gap-sm">

    <div class="col-6@sm">

      <div class="card margin-bottom-xs">

        <figure class="bg-contrast-lower card__image media-wrapper media-wrapper--3:2 radius-lg" aria-hidden="true">
          <a href="/projects/servelec" tabindex="-1">
            <!--img class="block width-100%" srcset=" 1x,  2x,  3x" src="" alt="Image description"-->
          </a>
        </figure>

        <div class="card__content">
          <div class="text-component">
            <h3 class="heading-lg">Census 2021</h3>
            <p class="color-contrast-medium">Designing a once in a century survey for all households in England, Wales and Northern Ireland.</p>
            <p>
              <a class="card__link" href="/projects/servelec">
                <span class="card__link-label">View <span class="sr-only">Census 2021 </span>project</span>
                <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
              </a>
            </p>
          </div>
        </div>

      </div>

      <div class="card margin-bottom-xs">

        <figure class="bg-contrast-lower card__image media-wrapper media-wrapper--3:2 radius-lg" aria-hidden="true">
          <a href="/projects/judicial-case-manager" tabindex="-1">
            <!--img class="block width-100%" srcset=" 1x,  2x,  3x" src="" alt="Image description"-->
          </a>
        </figure>

        <div class="card__content">
          <div class="text-component">
            <h3 class="heading-lg">Judicial Case Manager</h3>
            <p class="color-contrast-medium">Manage cases in a simple, accessible and efficient way.</p>
            <p>
              <a class="card__link" href="/projects/judicial-case-manager">
                <span class="card__link-label">View <span class="sr-only">Judicial Case Manager </span>project</span>
                <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
              </a>
            </p>
          </div>
        </div>

      </div>

      <div class="card">

        <figure class="bg-contrast-lower card__image media-wrapper media-wrapper--3:2 radius-lg" aria-hidden="true">
          <a href="/projects/paramount-packaging" tabindex="-1">
            <!--img class="block width-100%" srcset=" 1x,  2x,  3x" src="" alt="Image description"-->
          </a>
        </figure>

        <div class="card__content">
          <div class="text-component">
            <h3>Paramount Packaging</h3>
            <p class="color-contrast-medium">Redesign the look and feel for Paramount.</p>
            <p>
              <a class="card__link" href="/projects/paramount-packaging">
                <span class="card__link-label">View <span class="sr-only">Paramount Packaging </span>project</span>
                <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
              </a>
            </p>
          </div>
        </div>

      </div>

    </div>

    <div class="col-6@sm">

      <div class="card margin-bottom-xs">

        <figure class="bg-contrast-lower card__image media-wrapper media-wrapper--3:2 radius-lg" aria-hidden="true">
          <a href="/projects/max-powder" tabindex="-1">
            <!--img class="block width-100%" srcset=" 1x,  2x,  3x" src="" alt="Image description"-->
          </a>
        </figure>

        <div class="card__content">
          <div class="text-component">
            <h3 class="heading-lg">Max Powder</h3>
            <p class="color-contrast-medium">A complete rebrand and design for Max Powder.</p>
            <p>
              <a class="card__link" href="/projects/max-powder">
                <span class="card__link-label">View <span class="sr-only">Max Powder </span>project</span>
                <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
              </a>
            </p>
          </div>
        </div>

      </div>

      <div class="card margin-bottom-xs">

        <figure class="bg-contrast-lower card__image media-wrapper media-wrapper--3:2 radius-lg" aria-hidden="true">
          <a href="/projects/hmcts-design-system" tabindex="-1">
            <!--img class="block width-100%" srcset=" 1x,  2x,  3x" src="" alt="Image description"-->
          </a>
        </figure>

        <div class="card__content">
          <div class="text-component">
            <h3 class="heading-lg">HMCTS Design System</h3>
            <p class="color-contrast-medium">A design system to solve problems and avoid repition.</p>
            <p>
              <a class="card__link" href="/projects/hmcts-design-system">
                <span class="card__link-label">View <span class="sr-only">HMCTS Design System </span>project</span>
                <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
              </a>
            </p>
          </div>
        </div>

      </div>

      <div class="card">

        <figure class="bg-contrast-lower card__image media-wrapper media-wrapper--3:2 radius-lg" aria-hidden="true">
          <a href="/projects/rural-payments" tabindex="-1">
            <!--img class="block width-100%" srcset=" 1x,  2x,  3x" src="" alt="Image description"-->
          </a>
        </figure>

        <div class="card__content">
          <div class="text-component">
            <h3 class="heading-lg">Rural Payments</h3>
            <p class="color-contrast-medium">Rural grants and payments to help the farming industry.</p>
            <p>
              <a class="card__link" href="/projects/rural-payments">
                <span class="card__link-label">View <span class="sr-only">Rural Payments </span>project</span>
                <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>
              </a>
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>


{% endblock %}
