{% extends "layout.html" %}

{% set pageId = "casestudy" %}
{% set pageTitle = "Manage cases in a simple, accessible and efficient way for HM Courts and Tribunals Service" %}
{% set pageDescription = "Trevor Saint as part of a large team designed and developed a system for HM Courts and Tribunals Service" %}

{% block content %}
    <div class="container">

      <nav class="breadcrumb" aria-label="Breadcrumb">
        <ol class="breadcrumb__list">
          <li class="breadcrumb__item"><a class="breadcrumb__link"href="/projects">Projects</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/projects/judicial-case-manager" aria-current="page">Judicial case manager</a></li>
        </ol>
      </nav>

      <div class="casestudy__header">

        <div class="casestudy__header-logo">
          <img src="{{assetPath}}images/logo/hmcts.svg" alt="HM Courts &amp; Tribunals Service">
        </div>

        <div class="casestudy__header-title">
          <h1 class="heading-xxl">Manage cases in a simple, accessible and efficient way</h1>
        </div>

      </div>

      <div class="casestudy__content">

        <figure class="figure">
          <div class="image image--16:9">
            <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-central-criminal-court.jpg" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-central-criminal-court.jpg 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-central-criminal-court@2x.jpg 2x" alt="">
          </div>
          <figcaption class="figure__caption">The Central Criminal Court of England and Wales at The Old Bailey. Photo by Trevor Saint</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">Overview</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>The Judicial case manager is part of a <a class="link" href="https://www.gov.uk/guidance/the-hmcts-reform-programme" target="_blank" rel="noopener noreferrer">&pound;1 billion programme<span class="visually-hidden"> (opens in a new window)</span></a> involving over 50 projects to change and improve the Courts and Tribunals Service to bring new technology and modern ways of working.</p>
              <p>Our role was to create a user interface that would enable and support Judges and other members of the judiciary, working within the reformed services to manage their cases in a more efficient way.</p>
            </div>

            <div class="textblock__supporting">
              <dl class="metadata">
                <dt class="metadata__heading">Client</dt>
                <dd class="metadata__description">HM Courts &amp; Tribunals Service</dd>
                <dt class="metadata__heading">Industry</dt>
                <dd class="metadata__description">Government</dd>
                <dt class="metadata__heading">Year</dt>
                <dd class="metadata__description">2018</dd>
              </dl>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-balsamiq-mockup.png" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-balsamiq-mockup.png 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-balsamiq-mockup@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">Mockups in Balsamiq, to tease out user requirements for research and user testing with Judges</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">My process</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>I started designing with low-fidelity prototypes which consisted of sticky notes and hand-drawn sketches which helped brainstorm.</p>
              <p><a class="link" href="https://balsamiq.com" target="_blank" rel="noopener noreferrer">Balsamiq<span class="visually-hidden"> (opens in a new window)</span></a> helped me quickly create rough concepts to test scenarios with judges.</p>
              <p>Later, I created hi-fidelity mockups using <a class="link" href="https://www.sketchapp.com" target="_blank" rel="noopener noreferrer">Sketch<span class="visually-hidden"> (opens in a new window)</span></a> to get an overall look and feel for the interface and to design a collection of reusable components for the service.</p>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-brainstorming.jpg" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-brainstorming.jpg 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-brainstorming@2x.jpg 2x" alt="">
          </div>
          <figcaption class="figure__caption">Hand-drawn sketches, sticky notes, planning, and research</figcaption>
        </figure>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-digital-case-file.png" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-digital-case-file.png 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-digital-case-file@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">Digital case file high fidelity visual design for the Judicial case manager service</figcaption>
        </figure>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-questions.png" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-questions.png 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-questions@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">Questions high fidelity visual design for the Judicial case manager</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">Prototyping in code</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>Later, I moved Sketch designs into prototype code. This took time to ramp up but once I did, it was very fast to prototype new features.</p>
              <p>Presenting an interactive, realistic user experience helped to spot usability failures within the service and ensured user needs were at the center of every design decision.</p>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-prototyping.png" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-prototyping.png 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-prototyping@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">Prototyping Judicial case manager service in code, ready for user testing, and developers to integrate</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">Research and analysis</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>Research visits around England included 12 locations, 25 participants and over 104 hours of research. We also worked with individual service lines to use their research saving us a lot of time and duplication of effort.</p>
              <p>From our research we defined:</p>
              <ul class="list  list--bullet">
                <li>a set of user needs for each service line</li>
                <li>a core set of user needs for the Judicial case manager</li>
                <li>a set of personas describing our main user types</li>
                <li>understanding of the current user journeys for each service line</li>
              </ul>
            </div>

          </div>

        </div>

        <div class="image-grid">

          <div class="image-grid__item">

            <figure class="figure">

              <div class="casestudy__image">
                <div class="image image--1:1">
                  <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-user-testing.jpg" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-user-testing.jpg 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-user-testing@2x.jpg 2x" alt="">
                </div>
              </div>

              <figcaption class="figure__caption">User testing with a Judge in Guildford Magistrates’ Court and Family Court</figcaption>

            </figure>

          </div>

          <div class="image-grid__item">

            <figure class="figure">

              <div class="casestudy__image">
                <div class="image image--1:1">
                  <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-hand-drawn-sketches.jpg" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-hand-drawn-sketches.jpg 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-hand-drawn-sketches@2x.jpg 2x" alt="">
                </div>
              </div>

              <figcaption class="figure__caption">Sticky notes and hand-drawn sketches for Continuous Online Resolution (<abbr class="abbr" title="Social Security and Child Support">SSCS</abbr>)</figcaption>

            </figure>

          </div>

        </div>




        <div class="textblock">

          <h2 class="heading-l">Collaborative delivery</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>I worked with product owners, business analysts, user researchers, content designers, developers and delivery managers adopting Agile principles.</p>
              <p>Every individual brought their own set of skills and expertise, to transform the Courts and Tribunals system.</p>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-filtering.png" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-filtering.png 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-filtering@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">Filtering your cases visual design for Judicial case manager</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">The results</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>We delivered a highly complex end-to-end digital service for judges to manage their cases. This incorporated and met the needs of the following service lines:</p>
              <ul class="list  list--bullet">
                <li>Divorce</li>
                <li>Financial remedy</li>
                <li>Social Security and Child Support (<abbr>SSCS</abbr>)</li>
                <li>Civil Money Claims (<abbr>CMC</abbr>)</li>
                <li>Probate</li>
                <li>Public Law</li>
              </ul>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-divorce-flow.png" srcset="{{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-divorce-flow.png 1x, {{assetPath}}images/projects/project/judicial-case-manager/judicial-case-manager-divorce-flow@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">Judcial case manager divorce flow visual design</figcaption>
        </figure>

        <hr class="section-break  section-break--xl  section-break--visible">

        <div class="signpost">

          <div class="signpost__item">
            <a class="signpost__link signpost__link--previous" href="/projects/max-powder">
              <span class="signpost__link-label">Previous</span>
              <span class="signpost__link-context">Max Powder</span>
            </a>
          </div>

          <div class="signpost__item">
            <a class="signpost__link signpost__link--next" href="/projects/hmcts-design-system">
              <span class="signpost__link-label">Next</span>
              <span class="signpost__link-context">HMCTS Design System</span>
            </a>
          </div>

        </div>


      </div>


    </div>
{% endblock %}