{% extends "layout.html" %}

{% set pageId = "casestudy" %}
{% set pageTitle = "A complete rebrand and design for Max Powder by Trevor Saint" %}
{% set pageDescription = "Trevor Saint rebranded and designed Max Powder" %}

{% block content %}
    <div class="container">

      <nav class="breadcrumb" aria-label="Breadcrumb">
        <ol class="breadcrumb__list">
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/projects">Projects</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/projects/judicial-case-manager" aria-current="page">Max Powder</a></li>
        </ol>
      </nav>

      <div class="casestudy__header">

        <div class="casestudy__header-logo">
          <img src="{{assetPath}}images/logo/max-powder.svg" alt="Max Powder">
        </div>

        <div class="casestudy__header-title">
          <h1 class="heading-xxl">A complete rebrand and design for Max Powder</h1>
        </div>

      </div>

      <div class="casestudy__content">

        <figure class="figure">
          <div class="image image--16:9">
            <img src="{{assetPath}}images/projects/project/max-powder/max-powder-featured.png" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-featured.png 1x, {{assetPath}}images/projects/project/max-powder/max-powder-featured@2x.png 2x" alt="">
          </div>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">Overview</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>Max Powder wanted a complete rebrand with a more up-to-date look and feel. They wanted the website to work on all devices, small and large with the ability to manage their prices, photo galleries and other important information.</p>
              <p>The rebrand and design had to convey the high-quality work Max Powder produce.</p>
              <p>The goal was to keep content to a bare minimum, with nice use of photography and emphasis on customer feedback from the work they do.</p>
            </div>

            <div class="textblock__supporting">
              <dl class="metadata">
                <dt class="metadata__heading">Client</dt>
                <dd class="metadata__description">Max Powder Alloys</dd>
                <dt class="metadata__heading">Industry</dt>
                <dd class="metadata__description">Automotive</dd>
                <dt class="metadata__heading">Year</dt>
                <dd class="metadata__description">2018</dd>
              </dl>
            </div>

          </div>

        </div>

        <figure class="figure">

          <div class="image-grid">

            <div class="image-grid__item">

              <div class="casestudy__image">
                <div class="image image--1:1">
                  <img src="{{assetPath}}images/projects/project/max-powder/max-powder-photographic-style.jpg" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-photographic-style.jpg 1x, {{assetPath}}images/projects/project/max-powder/max-powder-photographic-style@2x.jpg 2x" alt="Sports car photo example with Max Powder photographic style applied">
                </div>
              </div>

            </div>

            <div class="image-grid__item">

              <div class="casestudy__image">
                <div class="image image--1:1">
                  <img src="{{assetPath}}images/projects/project/max-powder/max-powder-mobile.jpg" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-mobile.jpg 1x, {{assetPath}}images/projects/project/max-powder/max-powder-mobile@2x.jpg 2x" alt="How the Max Powder website looks on a Google Pixel mobile device">
                </div>
              </div>

            </div>

          </div>

          <figcaption class="figure__caption">Building a brand identity with a photographic style throughout</figcaption>

        </figure>

        <div class="textblock">

          <h2 class="heading-l">Brand identity</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>I started investigating various typefaces that I feel worked with the words ‘max’ and ‘powder’, with greater emphasis on ‘max’.</p>
              <p>Avant Garde, one of my personal favourite typefaces, was the perfect candidate for the vision I had in mind.</p>
              <p>Inspired by the FedEx logo created by Lindon Leader, I manipulated the typeface to adopt a similar style which I feel worked very well.</p>
            </div>

          </div>

        </div>

        <figure class="figure">

          <div class="image-grid">

            <div class="image-grid__item">

              <div class="casestudy__image">
                <div class="image image--3:2">
                  <img src="{{assetPath}}images/projects/project/max-powder/max-powder-logo-design-on-dark.png" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-logo-design-on-dark.png 1x, {{assetPath}}images/projects/project/max-powder/max-powder-logo-design-on-dark@2x.png 2x" alt="">
                </div>
              </div>

            </div>

            <div class="image-grid__item">

              <div class="casestudy__image">
                <div class="image image--3:2">
                  <img src="{{assetPath}}images/projects/project/max-powder/max-powder-logo-design-on-light.png" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-logo-design-on-light.png 1x, {{assetPath}}images/projects/project/max-powder/max-powder-logo-design-on-light@2x.png 2x" alt="">
                </div>
              </div>

            </div>

          </div>

          <figcaption class="figure__caption">Max Powder logo design on a dark and light backgrounds</figcaption>

        </figure>

        <div class="textblock">

          <h2 class="heading-l">Style guide and visual design</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>An important process was the preparation of designed elements on pages. A carefully selected typeface and a responsive scale to maintain vertical rhythm.</p>
              <p>The design system included carefully designed and prepared elements which incorporated everything from buttons, grid, colours, icons, form elements and more to define the style and image for Max Powder.</p>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10"><img src="{{assetPath}}images/projects/project/max-powder/max-powder-styleguide.png" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-styleguide.png 1x, {{assetPath}}images/projects/project/max-powder/max-powder-styleguide@2x.png 2x" alt="Style guide example illustrating typography and colour palette"></div>
          <figcaption class="figure__caption">Style guide to include typography, colour palette, form controls, errors, grid, buttons and <abbr class="abbr" title="User Interface">ui</abbr> components</figcaption>
        </figure>

        <figure class="figure">
          <div class="image image--16:10"><img src="{{assetPath}}images/projects/project/max-powder/max-powder-home-page.png" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-home-page.png 1x, {{assetPath}}images/projects/project/max-powder/max-powder-home-page@2x.png 2x" alt="Home page example illustrating desktop, tablet and mobile versions"></div>
          <figcaption class="figure__caption">Home page visual design to include style guide assets</figcaption>
        </figure>

        <figure class="figure">
          <div class="image image--16:10"><img src="{{assetPath}}images/projects/project/max-powder/max-powder-gallery-page.png" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-gallery-page.png 1x, {{assetPath}}images/projects/project/max-powder/max-powder-gallery-page@2x.png 2x" alt="Gallery page example illustrating desktop, tablet and mobile versions"></div>
          <figcaption class="figure__caption">Gallery page visual design to include style guide assets</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">Managing their content</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p><a class="link" href="https://expressionengine.com" target="_blank" rel="noopener noreferrer">ExpressionEngine<span class="visually-hidden"> (opens in a new window)</span></a> was used as the content management system for Max Powder and was a perfect fit for this type of project. It’s flexible, secure and very powerful.</p>
              <p>They have the ability to manage most of their site content, anything ranging from prices to photo galleries, which was exactly what they wanted.</p>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10"><img src="{{assetPath}}images/projects/project/max-powder/max-powder-expression-engine-integration.png" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-expression-engine-integration.png 1x, {{assetPath}}images/projects/project/max-powder/max-powder-expression-engine-integration@2x.png 2x" alt="Side-by-side example of ExpressionEngine and Max Powder working together"></div>
          <figcaption class="figure__caption">ExpressionEngine <abbr class="abbr" title="Content Management System">CMS</abbr> to manage Max Powder online content</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">Quality assurance</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>I ensure that the website is secure and running at its best. It is also fully accessible, search engine friendly, and up-to-date. I use <a class="link" href="https://developers.google.com/web/tools/lighthouse" target="_blank" rel="noopener noreferrer">Google Lighthouse<span class="visually-hidden"> (opens in a new window)</span></a> as an automated testing tool to improve the quality of Max Powder.</p>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10"><img src="{{assetPath}}images/projects/project/max-powder/max-powder-quality-assurance.png" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-quality-assurance.png 1x, {{assetPath}}images/projects/project/max-powder/max-powder-quality-assurance@2x.png 2x" alt=""></div>
          <figcaption class="figure__caption">Google Lighthouse automated testing tool and Media Temple <abbr class="abbr" title="Secure Sockets Layer">SSL</abbr> firewall protection and monitoring</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">The results</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>I delivered a complete brand identity including logo design to be used on various materials from signage, business cards and invoices. I also designed and built the website from scratch to fulfil the needs of the client. This includes:</p>
              <ul class="list  list--bullet">
                <li>logo design</li>
                <li>design and development</li>
                <li>ExpressionEngine integration</li>
                <li>mobile friendly design</li>
                <li>website hosting and management</li>
                <li>continued support and maintenance</li>
              </ul>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10"><img src="{{assetPath}}images/projects/project/max-powder/max-powder-collection-page.png" srcset="{{assetPath}}images/projects/project/max-powder/max-powder-collection-page.png 1x, {{assetPath}}images/projects/project/max-powder/max-powder-collection-page@2x.png 2x" alt=""></div>
          <figcaption class="figure__caption">Gallery collection page visual design to include style guide assets</figcaption>
        </figure>

        <hr class="section-break  section-break--xl  section-break--visible">

        <div class="signpost">

          <div class="signpost__item">
            <a class="signpost__link signpost__link--previous" href="/projects/judicial-case-manager">
              <span class="signpost__link-label">Previous</span>
              <span class="signpost__link-context">Judicial case manager</span>
            </a>
          </div>

          <div class="signpost__item">
            <a class="signpost__link signpost__link--next" href="/projects/hmcts-design-system">
              <span class="signpost__link-label">Next</span>
              <span class="signpost__link-context">HMCTS Design System</span>
            </a>
          </div>

        </div>

      </div>

    </div>
{% endblock %}