{% extends "layout.html" %}

{% set pageId = "casestudy" %}
{% set pageTitle = "Redesigning the look and feel throughout for Paramount Packaging" %}
{% set pageDescription = "Trevor Saint redesigned the look and feel throughout for Paramount Packaging" %}

{% block content %}
    <div class="container">

      <nav class="breadcrumb" aria-label="Breadcrumb">
        <ol class="breadcrumb__list">
          <li class="breadcrumb__item"><a class="breadcrumb__link"href="/projects">Projects</a></li>
          <li class="breadcrumb__item"><a class="breadcrumb__link" href="/projects/judicial-case-manager" aria-current="page">Paramount Packaging</a></li>
        </ol>
      </nav>

      <div class="casestudy__header">

        <div class="casestudy__header-logo">
          <img src="{{assetPath}}images/logo/paramount-packaging.svg" alt="Paramount Packaging">
        </div>

        <div class="casestudy__header-title">
          <h1 class="heading-xxl">Redesigning the look and feel throughout for Paramount</h1>
        </div>

      </div>

      <div class="casestudy__content">

        <figure class="figure">
          <div class="image image--16:9">
            <img src="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-featured.png" srcset="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-featured.png 1x, {{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-featured@2x.png 2x" alt="">
          </div>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">Overview</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>Paramount attend a lot of exhibitions and these events are an excellent way to obtain a greater understanding of what customers want to see. Customers are interested in their industry which could be anything from, bakery, produce or pharmaceuticals.</p>
              <p>Emphasis was spent on forming a relationship between an industry and a suitable machine, rather than just showcasing what machines Paramount offer.</p>
              <p>Customers can now find what they are looking for quickly.</p>
            </div>

            <div class="textblock__supporting">
              <dl class="metadata">
                <dt class="metadata__heading">Client</dt>
                <dd class="metadata__description">Paramount Packaging Systems</dd>
                <dt class="metadata__heading">Industry</dt>
                <dd class="metadata__description">Packaging</dd>
                <dt class="metadata__heading">Year</dt>
                <dd class="metadata__description">2017</dd>
              </dl>
            </div>

          </div>

        </div>

        <figure class="figure">

          <div class="image-grid">

            <div class="image-grid__item">

              <div class="casestudy__image">
                <div class="image image--1:1">
                  <img src="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-photographic-style.jpg" srcset="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-photographic-style.jpg 1x, {{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-photographic-style@2x.jpg 2x" alt="Paramount Packaging machine in motion, wrapping small mints">
                </div>
              </div>

            </div>

            <div class="image-grid__item">

              <div class="casestudy__image">
                <div class="image image--1:1">
                  <img src="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-mobile.png" srcset="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-mobile.png 1x, {{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-mobile@2x.png 2x" alt="How the Paramount Packaging website looks on a Google Pixel mobile device">
                </div>
              </div>

            </div>

          </div>

          <figcaption class="figure__caption">Building a brand identity with clean photography and visual design</figcaption>

        </figure>

        <div class="textblock">

          <h2 class="heading-l">Photography is paramount</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>It was a fantastic opportunity being able to do the photography, because I could really build up the look and feel I wanted.</p>
              <p>I took a collection of team photos in a studio setup, attended exhibitions where I could capture machines, the team and any other creative opportunities I could cast my eyes on.</p>
            </div>

          </div>

        </div>

        <div class="image-grid">

          <div class="image-grid__item">

            <figure class="figure">

              <div class="casestudy__image">
                <div class="image image--1:1">
                  <img src="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-ppma-exhibition.jpg" srcset="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-ppma-exhibition.jpg 1x, {{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-ppma-exhibition@2x.jpg 2x" alt="">
                </div>
              </div>

              <figcaption class="figure__caption"><abbr class="abbr" title="The Processing and Packaging Machinery Trade Association">PPMA</abbr> exhibition event at the <abbr class="abbr" title="National Exhibition Centre">NEC</abbr> in Birmingham</figcaption>

            </figure>

          </div>

          <div class="image-grid__item">

            <figure class="figure">

              <div class="casestudy__image">
                <div class="image image--1:1">
                  <img src="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-management-team.jpg" srcset="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-management-team.jpg 1x, {{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-management-team@2x.jpg 2x" alt="">
                </div>
              </div>

              <figcaption class="figure__caption">Management team profile photography</figcaption>

            </figure>

          </div>

        </div>

        <div class="textblock">

          <h2 class="heading-l">Style guide and visual design</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>Forming a style for paramount was an important process. Clean typography choice and scale, colour palette, and how elements look and relate to each other on a page all build an important image, brand and awareness.</p>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-styleguide.png" srcset="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-styleguide.png 1x, {{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-styleguide@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">Style guide to include typography, colour palette, form controls, errors, grid, buttons and ui components</figcaption>
        </figure>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-home-page.png" srcset="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-home-page.png 1x, {{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-home-page@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">Home page visual design for desktop, tablet and mobile devices</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">Managing their content</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p><a class="link" href="https://expressionengine.com" target="_blank" rel="noopener noreferrer">ExpressionEngine<span class="visually-hidden"> (opens in a new window)</span></a> was the content management system of choice. It’s incredibly flexible, secure, and was a perfect fit for Paramount. Everything was built from the ground up to allow them and their marketing company to manage and control all their website content.</p>
              <p>They have the ability to manage news, machines, pack styles, employees and anything else that did not require design intervention.</p>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-expression-engine-integration.png" srcset="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-expression-engine-integration.png 1x, {{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-expression-engine-integration@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">ExpressionEngine <abbr class="abbr" title="Content Management System">CMS</abbr> to manage Paramount Packaging online content</figcaption>
        </figure>

        <div class="textblock">

          <h2 class="heading-l">The results</h2>

          <div class="textblock__content">

            <div class="textblock__main">
              <p>I delivered a website, which was exactly what Paramount Packaging was looking for. This met the needs of the client, their marketing team, and more importantly, their customers. This included:</p>
              <ul class="list  list--bullet">
                <li>design and development</li>
                <li>photography and videography</li>
                <li>MailChimp integration</li>
                <li>ExpressionEngine integration</li>
                <li>mobile friendly design</li>
                <li>website hosting and management</li>
                <li>continued support and availability</li>
              </ul>
            </div>

          </div>

        </div>

        <figure class="figure">
          <div class="image image--16:10">
            <img src="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-results.png" srcset="{{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-results.png 1x, {{assetPath}}images/projects/project/paramount-packaging/paramount-packaging-results@2x.png 2x" alt="">
          </div>
          <figcaption class="figure__caption">Management profile visual design for desktop, tablet and mobile devices</figcaption>
        </figure>

        <hr class="section-break  section-break--xl  section-break--visible">

        <div class="signpost">

          <div class="signpost__item">
            <a class="signpost__link signpost__link--previous" href="/projects/hmcts-design-system">
              <span class="signpost__link-label">Previous</span>
              <span class="signpost__link-context">HMCTS Design System</span>
            </a>
          </div>

          <div class="signpost__item">
            <a class="signpost__link signpost__link--next" href="/projects/judicial-case-manager">
              <span class="signpost__link-label">Next</span>
              <span class="signpost__link-context">Judicial case manager</span>
            </a>
          </div>

        </div>

      </div>

    </div>
{% endblock %}