{% set pageTitle       = "An improved User Experience in Mosaic for Servelec" %}
{% set pageDescription = "Trevor Saint designed a new look and feel for Mosaic, a social care system that allows the management of adult’s, children and finance cases all on a single platform" %}
{% set pageId          = "projects" %}

{% extends "layout.html" %}

{% block content %}


  <div class="container">


    {{ backLink({
      "url": assetPath + 'projects',
      "text": 'Back'
    }) }}


    <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">An improved User Experience in Mosaic for Servelec’s Social Care</h1>


    <div class="hero">
      <img srcset="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-hero.png 1x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-hero@2x.png 2x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-hero@3x.png 3x" src="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-hero.png" alt="">
    </div>


    <div class="flex justify-between items-start margin-top-md">

      {{ entryDetails({
        "rows": [
          {
            "key": {
              "text": 'Client'
            },
            "value": {
              "text": 'Servelec'
            }
          },
          {
            "key": {
              "text": 'Industry'
            },
            "value": {
              "text": 'Social Care'
            }
          },
          {
            "key": {
              "text": 'Year'
            },
            "value": {
              "text": '2019'
            }
          }
        ]
      }) }}

      <p>
        <a class="link-icon" href="#0" rel="external">
          <span class="link-icon__label">Visit website</span>
          <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="presentation" focusable="false" aria-hidden="true"><use xlink:href="{{assetPath}}images/sprite.svg#launch"/></svg>
        </a>
      </p>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>Overview</h2>

        <div class="color-contrast-medium">
          <p>Servelec asked me for some UX Consultancy for a new Mosaic release. Mosaic is a Digital Case Management System for Social Care and allows the management of adult’s, children and finance cases all on one platform.</p>
          <p>When starting on the project, I found existing user research material that had been prepared by a UX Consultancy. The research was useful and insightful and gave me a good steer towards improving the service. However, it did not include visual design, so it was my role to design a new look and feel.</p>
        </div>

      </div>

    </div>


    <figure class="figure">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-design-system.png 1x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-design-system@2x.png 2x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-design-system@3x.png 3x" src="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-design-system.png" alt="">
      </div>
      <figcaption class="figure__caption margin-top-xxs">Mosaic Design System building blocks created in Sketch</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>A design system built from scratch</h2>

        <div class="color-contrast-medium">
          <p>After research and investigation of the existing system were complete, I was then able to focus my attention on the visual look and feel for the entire system.</p>
          <p>I built a design system that contained a collection of reusable elements. They consisted of colour palettes, iconography, badges, accordions, buttons, counters, form elements and more.</p>
          <p>Each element was carefully designed to ensure accessibility and standards were baked in from the start. These elements were the building blocks for page design, ready to be handed over for development.</p>
        </div>

      </div>

    </div>


    <figure class="figure">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-panel-components.png 1x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-panel-components@2x.png 2x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-panel-components@3x.png 3x" src="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-panel-components.png" alt="">
      </div>
      <figcaption class="figure__caption margin-top-xxs">Mosaic panel components created in Sketch</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>Information for end-users</h2>

        <div class="color-contrast-medium">
          <p>A big part of the system was to present information using panels. These panels would include valuable information about a person or persons and other information relating to a case. There could be few or many depending on the scale of the case.</p>
        </div>

      </div>

    </div>


    <figure class="figure">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="{{assetPath}}images/projects/project/servelec-social-care/servelec-social--care-demographic-information-panel.png 1x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-demographic-information-panel@2x.png 2x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-demographic-information-panel@3x.png 3x" src="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-demographic-information-panel.png" alt="">
      </div>
      <figcaption class="figure__caption margin-top-xxs">Demographic Information panel in Mosaic. Interactive states designed in Sketch for Developers to build</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>Defining the overall look and feel</h2>

        <div class="color-contrast-medium">
          <p>When the panel design work was complete, I started design work on the overall interface appearance for Mosaic. I made some reference to the design work Servelec had done with its online branding. It was important to maintain brand awareness and ensure some of the Servelec identity was part of the design for Mosaic.</p>
          <p>This design work included elements like header, navigation, footer and other page contents. The result was a clean, minimalistic interface feel with a Servelec touch.</p>
        </div>

      </div>

    </div>


    <figure class="figure">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-personal-summary.png 1x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-personal-summary@2x.png 2x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-personal-summary@3x.png 3x" src="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-personal-summary.png" alt="">
      </div>
      <figcaption class="figure__caption margin-top-xxs">Personal summary page design in Sketch</figcaption>
    </figure>


    <figure class="figure margin-top-md">
      <div class="bg-contrast-lower">
        <img class="block width-100%" srcset="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-team-workview.png 1x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-team-workview@2x.png 2x, {{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-team-workview@3x.png 3x" src="{{assetPath}}images/projects/project/servelec-social-care/servelec-social-care-team-workview.png" alt="">
      </div>
      <figcaption class="figure__caption margin-top-xxs">Team work view page design in Sketch</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-bottom">

      <div class="container text-component max-width-sm">

        <h2>The results</h2>

        <div class="color-contrast-medium">
          <p>I delivered an attractive new interface with an Improved User Experience where possible, within the time-frame. This work met the needs of the client and their end-users. My involvement included:</p>
          <ul>
            <li>UX/UI Design and Art Direction</li>
            <li>Research and Analysis (end-users)</li>
            <li>Design System and Style Guide</li>
            <li>Accessible Design</li>
          </ul>
        </div>

      </div>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container max-width-sm">

        <div class="margin-bottom-sm">
          <p class="font-bold text-sm text-center">Share this project</p>
        </div>

        <ul class="sharebar flex flex-wrap gap-xs justify-center">

          <li class="sharebar__item">
            <a class="sharebar__link js-social-share" data-social="twitter" data-text="Hi there! https://trevorsaint.uk via @trevorsaint" data-hashtags="#govuk, #design, #government, #dev, #ux, #interaction-design, #brexit, #eu-funding, #double-opt-in" href="https://twitter.com/intent/tweet">
              <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share on Twitter</title><path d="M32,6.1c-1.2,0.5-2.4,0.9-3.8,1c1.4-0.8,2.4-2.1,2.9-3.6c-1.3,0.8-2.7,1.3-4.2,1.6C25.7,3.8,24,3,22.2,3 c-3.6,0-6.6,2.9-6.6,6.6c0,0.5,0.1,1,0.2,1.5C10.3,10.8,5.5,8.2,2.2,4.2c-0.6,1-0.9,2.1-0.9,3.3c0,2.3,1.2,4.3,2.9,5.5 c-1.1,0-2.1-0.3-3-0.8c0,0,0,0.1,0,0.1c0,3.2,2.3,5.8,5.3,6.4c-0.6,0.1-1.1,0.2-1.7,0.2c-0.4,0-0.8,0-1.2-0.1 c0.8,2.6,3.3,4.5,6.1,4.6c-2.2,1.8-5.1,2.8-8.2,2.8c-0.5,0-1.1,0-1.6-0.1C2.9,27.9,6.4,29,10.1,29c12.1,0,18.7-10,18.7-18.7 c0-0.3,0-0.6,0-0.8C30,8.5,31.1,7.4,32,6.1z"></path></svg>
            </a>
          </li>

          <li class="sharebar__item">
            <a class="sharebar__link js-social-share" data-social="facebook" data-url="https://trevorsaint.uk" href="http://www.facebook.com/sharer.php">
              <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share on Facebook</title><path d="M32,16A16,16,0,1,0,13.5,31.806V20.625H9.438V16H13.5V12.475c0-4.01,2.389-6.225,6.043-6.225a24.644,24.644,0,0,1,3.582.312V10.5H21.107A2.312,2.312,0,0,0,18.5,13v3h4.438l-.71,4.625H18.5V31.806A16,16,0,0,0,32,16Z"></path></svg>
            </a>
          </li>

          <li class="sharebar__item">
            <a class="sharebar__link js-social-share" data-social="pinterest" data-description="Description for my Pinterest share" data-media="https://trevorsaint.uk/app/assets/img/social-sharing-img-1.jpg" data-url="https://trevorsaint.uk" href="http://pinterest.com/pin/create/button">
              <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share on Pinterest</title><path d="M16,0C7.2,0,0,7.2,0,16c0,6.8,4.2,12.6,10.2,14.9c-0.1-1.3-0.3-3.2,0.1-4.6c0.3-1.2,1.9-8,1.9-8 s-0.5-1-0.5-2.4c0-2.2,1.3-3.9,2.9-3.9c1.4,0,2,1,2,2.3c0,1.4-0.9,3.4-1.3,5.3c-0.4,1.6,0.8,2.9,2.4,2.9c2.8,0,5-3,5-7.3 c0-3.8-2.8-6.5-6.7-6.5c-4.6,0-7.2,3.4-7.2,6.9c0,1.4,0.5,2.8,1.2,3.7c0.1,0.2,0.1,0.3,0.1,0.5c-0.1,0.5-0.4,1.6-0.4,1.8 C9.5,21.9,9.3,22,9,21.8c-2-0.9-3.2-3.9-3.2-6.2c0-5,3.7-9.7,10.6-9.7c5.6,0,9.9,4,9.9,9.2c0,5.5-3.5,10-8.3,10 c-1.6,0-3.1-0.8-3.7-1.8c0,0-0.8,3.1-1,3.8c-0.4,1.4-1.3,3.1-2,4.2c1.5,0.5,3.1,0.7,4.7,0.7c8.8,0,16-7.2,16-16C32,7.2,24.8,0,16,0z "></path></svg>
            </a>
          </li>

          <li class="sharebar__item">
            <a class="sharebar__link js-social-share" data-social="linkedin" data-url="https://trevorsaint.uk" href="https://www.linkedin.com/shareArticle">
              <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share on Linkedin</title><path d="M29,1H3A2,2,0,0,0,1,3V29a2,2,0,0,0,2,2H29a2,2,0,0,0,2-2V3A2,2,0,0,0,29,1ZM9.887,26.594H5.374V12.25H9.887ZM7.63,10.281a2.625,2.625,0,1,1,2.633-2.625A2.624,2.624,0,0,1,7.63,10.281ZM26.621,26.594H22.2V19.656c0-1.687,0-3.75-2.35-3.75s-2.633,1.782-2.633,3.656v7.126H12.8V12.25h4.136v1.969h.094a4.7,4.7,0,0,1,4.231-2.344c4.513,0,5.359,3,5.359,6.844Z"></path></svg>
            </a>
          </li>

          <li class="sharebar__item">
            <a class="sharebar__link js-social-share" data-social="mail" data-subject="Email Subject" data-body="Content of my email." href="mailto:">
              <svg class="icon icon--sm" viewBox="0 0 32 32"><title>Share by Email</title><path d="M28,3H4A3.957,3.957,0,0,0,0,7V25a3.957,3.957,0,0,0,4,4H28a3.957,3.957,0,0,0,4-4V7A3.957,3.957,0,0,0,28,3Zm.6,6.8-12,9a1,1,0,0,1-1.2,0l-12-9A1,1,0,0,1,4.6,8.2L16,16.75,27.4,8.2a1,1,0,1,1,1.2,1.6Z"></path></svg>
            </a>
          </li>

        </ul>

      </div>

    </div>


    <div class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

      {{ previousNextLinks({
        "previousNextLinksItems": [
          {
            "rel": 'prev',
            "text": 'Previous project',
            "url": assetPath + 'projects/government-digital-service',
            "label": 'Helping Government Digital Service with Interaction Design'
          },
          {
            "rel": 'next',
            "text": 'Next project',
            "url": assetPath + 'projects/paramount-packaging',
            "label": 'Redesigning the look and feel throughout for Paramount'
          }
        ]
      }) }}

    </div>


  </div>


{% endblock %}