{% set pageTitle       = "Mosaic by Trevor Saint | An improved user experience for Servelec social care system Mosaic" %}
{% set pageDescription = "I designed the complete User Experience for a social care system Mosaic. This work involved massively improving an old system previously designed by developers, making it much more User-Centred." %}
{% set pageUrl         = "projects/servelec-social-care" %}
{% set pageId          = "projects" %}

{% extends "layout.njk" %}

{% block content %}

  <section class="padding-top-xs">

    <div class="container">

      {{ backLink({
        "url": rootPath + 'projects',
        "text": 'Back to projects'
      }) }}

      <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">An improved User Experience in Mosaic for Servelec’s Social Care</h1>

      <div class="hero">
        <picture>
          <source type="image/webp" srcset="{{rootPath}}images/projects/servelec-social-care/hero.webp, {{rootPath}}images/projects/servelec-social-care/hero@2x.webp 2x">
          <source type="image/png" srcset="{{rootPath}}images/projects/servelec-social-care/hero.png, {{rootPath}}images/projects/servelec-social-care/hero@2x.png 2x">
          <img height="800" width="1200" src="{{rootPath}}images/projects/servelec-social-care/hero.png" alt="" loading="lazy">
        </picture>
      </div>

      <div class="flex@sm justify-between items-start margin-top-md">

        {{ entryDetails({
          "rows": [
            {
              "key": {
                "text": 'Client'
              },
              "value": {
                "text": 'Servelec'
              }
            },
            {
              "key": {
                "text": 'Industry'
              },
              "value": {
                "text": 'Social Care'
              }
            },
            {
              "key": {
                "text": 'Year'
              },
              "value": {
                "text": '2019'
              }
            }
          ]
        }) }}

        <p class="margin-xs margin-bottom-0 margin-0@sm">
          <a class="link link--icon link--underline" href="https://servelec.co.uk" rel="external" aria-label="Visit website for Servelec Social Care">
            Visit website
            {{
              icon({
                "classes": 'margin-left-xxxxs',
                "icon": 'launch'
              })
            }}
          </a>
        </p>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Overview</h2>

          <div class="color-contrast-medium">
            <p>Servelec asked me for some UX Consultancy for a new Mosaic release. Mosaic is a Digital Case Management System for Social Care and allows the management of adult’s, children and finance cases all on one platform.</p>
            <p>When starting on the project, I found existing user research material that had been prepared by a UX Consultancy. This research was useful and insightful and gave me a good steer towards improving the service. However, it did not include visual design, so it was my role to design a new look and feel.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Mosaic Design System building blocks">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/servelec-social-care/design-system.webp, {{rootPath}}images/projects/servelec-social-care/design-system@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/servelec-social-care/design-system.png, {{rootPath}}images/projects/servelec-social-care/design-system@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/servelec-social-care/design-system.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Mosaic Design System building blocks</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>A design system built from scratch</h2>

          <div class="color-contrast-medium">
            <p>After research and investigation of the existing system were complete, I was then able to focus my attention on the visual look and feel for the entire system.</p>
            <p>I built a design system that contained a collection of reusable elements. They consisted of colour palettes, iconography, badges, accordions, buttons, counters, form elements and more.</p>
            <p>Each element was carefully designed to ensure accessibility and standards were baked in from the start. These elements were the building blocks for page design, ready to be handed over for development.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Mosaic panel components">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/servelec-social-care/panel-components.webp, {{rootPath}}images/projects/servelec-social-care/panel-components@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/servelec-social-care/panel-components.png, {{rootPath}}images/projects/servelec-social-care/panel-components@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/servelec-social-care/panel-components.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Mosaic panel components</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Information for end-users</h2>

          <div class="color-contrast-medium">
            <p>A big part of the system was to present information using panels. These panels would include valuable information about a person or persons and other information relating to a case. There could be few or many depending on the scale of the case.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Demographic Information panel in Mosaic">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/servelec-social-care/demographic-information-panel.webp, {{rootPath}}images/projects/servelec-social-care/demographic-information-panel@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/servelec-social-care/demographic-information-panel.png, {{rootPath}}images/projects/servelec-social-care/demographic-information-panel@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/servelec-social-care/demographic-information-panel.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Demographic Information panel in Mosaic</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Defining the overall look</h2>

          <div class="color-contrast-medium">
            <p>When the panel design work was complete, I started design work on the overall interface appearance for Mosaic. I made some reference to the design work Servelec had done with its online branding. It was important to maintain brand awareness and ensure some of the Servelec identity was part of the design for Mosaic.</p>
            <p>This design work included elements like header, navigation, footer and other page contents. The result was a clean, minimalistic interface feel with a Servelec touch.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Personal summary page design">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/servelec-social-care/personal-summary.webp, {{rootPath}}images/projects/servelec-social-care/personal-summary@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/servelec-social-care/personal-summary.png, {{rootPath}}images/projects/servelec-social-care/personal-summary@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/servelec-social-care/personal-summary.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Personal summary page design</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Team work view page design">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/servelec-social-care/team-workview.webp, {{rootPath}}images/projects/servelec-social-care/team-workview@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/servelec-social-care/team-workview.png, {{rootPath}}images/projects/servelec-social-care/team-workview@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/servelec-social-care/team-workview.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Team work view page design</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-bottom">

        <div class="container text-component max-width-sm">

          <h2>The results</h2>

          <div class="color-contrast-medium">
            <p>I delivered an attractive new interface with an Improved User Experience where possible, within the time-frame. This work met the needs of the client and their end-users.</p>
            <p class="font-bold"> My involvement included:</p>
            <ul>
              <li>UX/UI Design and Art Direction</li>
              <li>Research and Analysis (end-users)</li>
              <li>Design System and Style Guide</li>
              <li>Accessible Design</li>
            </ul>
          </div>

        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container max-width-sm">

          <div class="margin-bottom-sm">
            <p class="font-bold text-sm text-center">Share this project</p>
          </div>

          {{ socialShare({
            "twitter": {
              "attributes": {
                "data-social": 'twitter',
                "data-text": 'Hi there! https://trevorsaint.uk/projects/servelec-social-care via @trevorsaint',
                "data-hashtags": '#socialcare, #design, #mosaic, #designsystem, #ux, #interactiondesign'
              }
            },
            "facebook": {
              "attributes": {
                "data-social": 'facebook',
                "data-url": 'https://trevorsaint.uk/projects/servelec-social-care'
              }
            },
            "pinterest": {
              "attributes": {
                "data-social": 'pinterest',
                "data-url": 'https://trevorsaint.uk/projects/servelec-social-care',
                "data-description": 'An improved User Experience in Mosaic for Servelec’s Social Care',
                "data-media": 'https://trevorsaint.uk/images/projects/servelec-social-care/pinterest.png'
              }
            },
            "linkedin": {
              "attributes": {
                "data-social": 'linkedin',
                "data-url": 'https://trevorsaint.uk/projects/servelec-social-care'
              }
            },
            "email": {
              "attributes": {
                "data-social": 'mail',
                "data-url": 'https://trevorsaint.uk/projects/servelec-social-care',
                "data-subject": 'An improved User Experience in Mosaic for Servelec’s Social Care - Trevor Saint',
                "data-body": 'https://trevorsaint.uk/projects/servelec-social-care'
              }
            }
          }) }}

        </div>

      </div>

      <div class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

        {{ previousNextLinks({
          "previousNextLinksItems": [
            {
              "rel": 'prev',
              "text": 'Previous project',
              "url": rootPath + 'projects/government-digital-service',
              "label": 'Helping Government Digital Service with Interaction Design'
            },
            {
              "rel": 'next',
              "text": 'Next project',
              "url": rootPath + 'projects/paramount-packaging',
              "label": 'Redesigning the look and feel throughout for Paramount'
            }
          ]
        }) }}

      </div>

    </div>

  </section>

{% endblock %}