// --------------------------------

// Header

// --------------------------------


:root {
  --header-height: 72px;

  @include breakpoint(sm) {
    --header-height: 120px;
  }

}


.header {
  height: var(--header-height);
  position: relative;
  width: 100%;
  z-index: var(--zindex-header);
}


.header__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}


.header__logo {
  display: block;
  flex-shrink: 0;
  position: absolute;
  left: 24px;
  z-index: 2;

  a,
  svg,
  img {
    display: block;
  }

}


.header__logo-svg {
  display: block;
  height: 48px;
  width: 51px;
}


.header__logo-link {
  color: var(--color-contrast-high);
  text-decoration: none;

  &:focus {
    @include focused-text;
  }

}


// --------------------------------

// Header navigation

// --------------------------------

.header__nav {
  background-color: var(--color-bg);
  box-shadow: var(--shadow-lg);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow: auto;
  width: 100%;
  z-index: 1;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;

  // top header bg + border
  &::before {
    background: inherit;
    border-bottom: 1px solid var(--color-contrast-low);
    content: "";
    display: block;
    position: sticky;
    height: var(--header-height); // same as height of header
    top: 0;
  }

}


.header__nav--is-visible {
  display: block;
}


.header__nav-inner {
  padding-top: var(--component-padding);
  padding-bottom: var(--component-padding);
}


.header__item {
  display: block;
  margin-bottom: var(--space-xxxs);
  padding: calc(var(--space-xxs) - var(--space-xxxxs)) var(--space-xs);
  position: relative;
}


.header__link {
  @include link-common;
  @include link-style-text;
  display: inline-block;
  outline-color: var(--color-primary);

  &[aria-current] {
    color: var(--color-contrast-high);
    font-weight: var(--font-bold);

    &:before {
      background-color: var(--color-primary);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 4px;
    }

  }

  // trick to make full area clickable
  &::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

}


.header__trigger[aria-expanded="true"] {

  .icon {
    transform: rotate(180deg);
  }

}


.header__trigger {
  margin-left: auto;
  position: relative;
  z-index: 2;
}


@include breakpoint(sm) {


  .header__nav {
    margin-left: auto;

    // reset
    background-color: transparent;
    box-shadow: none;
    display: block;
    max-height: none;
    overflow: visible;
    overscroll-behavior: auto;
    position: relative;
    width: auto;

    &::before {
      display: none;
    }

    &:after {
      background-color: alpha(var(--color-black), 0.2);
      content: "";
      display: block;
      height: 1px;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      bottom: 0;
      width: 300%;
    }

  }


  .header__nav-inner {
    padding: 0;
  }


  .header__list {
    align-items: center;
    display: flex;
  }


  .header__item {
    display: flex;
    margin-bottom: 0;
    padding: 0;
    padding-bottom: var(--space-xs);

    &:not(:first-child) {
      margin-left: var(--space-md);
    }

  }


  .header__trigger {
    display: none !important;
  }


  .header__link {
    padding: 0;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: none;
    }

    &[aria-current] {

        &:before {
          height: 4px;
          top: auto;
          bottom: 0;
          width: 100%;
          z-index: 1;
        }

      }

  }


}










// // No JS fallback
// html:not(.js) {

//   .header {
//     height: auto;
//     padding-top: var(--space-xs);
//   }

//   .header__trigger {
//     display: none;
//   }

//   .header__container {
//     display: block;
//   }

//   .header__nav {
//     box-shadow: none;
//     display: block;
//     height: auto;
//     overflow: visible;
//     padding: 0;
//     position: static;

//     &::before {
//       display: none;
//     }

//   }

//   .header__nav-inner {
//     height: auto;
//     margin-left: calc(-1 * var(--space-xs));
//     margin-right: calc(-1 * var(--space-xs));
//     overflow: visible;
//     padding: var(--space-xs) 0;
//     position: static;
//   }


//   @include breakpoint(md) {

//     .header {
//       padding: 0;
//     }

//     .header__container {
//       display: flex;
//       padding: var(--space-xs) 0;
//     }

//     .header__nav-inner {
//       margin: 0; // Reset
//       padding: 0; // Reset
//     }

//   }

// }


// @include breakpoint(xl) {

//   .header__logo {
//     transform: translateX(-100%); // Full width of logo
//   }

// }





@include breakpoint(sm) {

  .header__logo-svg {
    height: 80px;
    width: 85px;
  }

}