@use "../base" as *;

// --------------------------------

// Back link

// --------------------------------

.back-link {
  @include link-common;
  @include link-style-text;
  align-items: center;
  display: inline-flex;
  left: calc(var(--space-xxxs) * -1);
  position: relative;
}