@use "../base" as *;

// --------------------------------

// Badge - a small label containing a string of text

// --------------------------------

.badge {
  @include typography(16);
  background-color: alpha(var(--color-black), 0.05);
  border: 1px solid transparent; // high contrast mode
  border-radius: var(--radius-lg);
  display: inline-block;
  padding: calc(var(--space-xxxxs) - 1px) calc(var(--space-xxs) - 1px);
  vertical-align: top;
}

.badge--contrast-higher {
  background-color: var(--color-contrast-high);
  color: var(--color-white);
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.badge--tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-black);
}

.badge--quaternary {
  background-color: var(--color-quaternary);
  color: var(--color-black);
}