
.breadcrumb {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}


.breadcrumb__list {
  font-size: 0; // Remove white space when using inline-block
  list-style: none;
  margin: 0;
  padding: 0;
}


.breadcrumb__item {
  //@include typography(19);
  display: inline-block;
  font-family: font-family(gilroy);

  &:first-child {

    &:before {
      background-image: image-url("icon/backlink-arrow.svg");
      display: inline-block;
      content: "";
      height: 10px;
      margin-right: var(--space-xxxs);
      width: 6px;
    }

  }

  &:not(:last-child) {

    &:after {
      content: "";
      //background-color: colour("grey-4");
      display: inline-block;
      height: 20px;
      margin-left: var(--space-xxs);
      margin-right: var(--space-xxs);
      transform: rotate(20deg);
      vertical-align: middle;
      width: 1px;
    }

  }

}


.breadcrumb__link {

  &[aria-current=page] {
    font-weight: var(--font-bold);
    text-decoration: none;

    &:after {
      content: none;
    }

  }

}
