.button {
  @include responsive-padding(3);
  @include typography(19);
  @include focusable;
  @include font-weight(bold);
  background-color: colour("blue");
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: colour("white");
  cursor: pointer;
  display: inline-block;
  font-family: font-family(gilroy);
  text-decoration: none;
  vertical-align: middle;
  -webkit-appearance: none;

  &::after {
    background-image: image-url("icon/button-arrow-white.svg");
    content: "";
    display: inline-block;
    height: 16px;
    margin-left: spacing(2);
    vertical-align: middle;
    width: 16px;
  }

  // Fix unwanted button padding in Firefox
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:focus {
    background-color: colour("blue");
  }

  // Ensure that any global link styles are overridden
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: colour("white");
    text-decoration: none;
  }

}


.button--secondary {
  background-color: colour("black");

  &:hover,
  &:focus {
    background-color: colour("black");
  }

}


.button--tertiary {
  @include responsive-padding(3, $adjustment: -3px);
  background-color: transparent;
  border: 3px solid colour("white");

  &:hover,
  &:focus {
    background-color: transparent;
    color: colour("white");
  }

}