.figure {
  margin: 0;
  padding: 0;
}


.figure + .figure {
  padding-top: var(--space-lg);
}


.figure__caption {
  //@include typography(14);
  color: var(--color-contrast-low);
  margin-top: var(--space-xxs);
}
