.input {
  @include typography(19);
  @include focusable;
  border: 3px solid colour("black");
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  height: 50px;
  padding: spacing(1);
  resize: vertical;
  width: 100%;
  -webkit-appearance: none;

  // Disable inner shadow and remove rounded corners
  appearance: none;

  @include mq($from: desktop) {
    height: 55px;
  }

}


.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}


.input[type="number"] {
  -moz-appearance: textfield;
}


.input--error {
  border: 5px solid colour("red");
}