@use "../base" as *;

// --------------------------------

// Logo

// --------------------------------

.logo {
  background-color: alpha(var(--color-black), 0.05);
  background-blend-mode: multiply;
  border: 2px solid transparent; // High Contrast Mode
  border-radius: var(--radius-sm);
  display: block;
  height: 112px;
  mix-blend-mode: multiply;
  min-width: 204px;
  max-width: 268px;
  width: 100%;
}

.logo__img {
  display: block;
  fill: currentColor;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}