@use "../base" as *;

// --------------------------------

// Menu list

// --------------------------------

.menu-list {}

.menu-list__item {
  @include typography(20);
  display: flex;
}

.menu-list__link {
  @include link-common;
  @include link-style-text;
  display: block;

  // bigger hit area for mobile devices
  padding-top: var(--space-xxxs);
  padding-bottom: var(--space-xxxs);
}

@include breakpoint(sm) {

  .menu-list {
    display: flex;
    flex-wrap: wrap;
  }

  .menu-list__item {
    margin-right: var(--space-sm);
  }

  .menu-list__link {
    padding-bottom: 0;
    padding-top: 0;
  }

}