.metadata {
  @include typography(19);
  margin-top: 0;
  margin-bottom: 0;
}

.metadata__heading {
  @include font-weight(bold);
  font-family: font-family(gilroy);

  &:not(:first-child) {
    margin-top: spacing(4);
  }

}

.metadata__description {
  margin-left: 0;
}