/* --------------------------------
Pagination
-------------------------------- */


.pagination {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.pagination__link {
  @include link-common;
  @include link-style-default;
  max-width: 50%;
  text-decoration: none;
}


.pagination__link--next {
  margin-left: auto; // If on its own position to the far right
  text-align: right;

  .pagination__direction {
    justify-content: flex-end;
  }

}


.pagination__direction {
  align-items: center;
  display: flex;
  font-weight: var(--font-bold);
}


.pagination__subtext {
  display: none;
  font-weight: var(--font-normal);
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
  margin-top: var(--space-xxxxs);
  text-decoration: underline;
}


