.social-list {
  display: inline-flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: spacing(4);
  padding: 0;
}


.social-list__item {
  @include typography(16);
  display: inline-block;
  vertical-align: top;

  &:not(:last-child) { // IE 9+ (prevents the need for a reset)
    margin-right: spacing(4);
  }

}


.social-list__link {
  @include focusable;
  display: block;
}


.social-list__icon {
  display: block;
  height: 25px;
  width: 25px;
}


.social-list__icon--linkedin {
  background-image: image-url("icon/linkedin.svg");
}

.social-list__icon--twitter {
  background-image: image-url("icon/twitter.svg");
}

.social-list__icon--instagram {
  background-image: image-url("icon/instagram.svg");
}

.social-list__icon--github {
  background-image: image-url("icon/github.svg");
}

.social-list__icon--pinterest {
  background-image: image-url("icon/pinterest.svg");
}