{% set pageTitle       = "Adrennial by Trevor Saint | A video app to showcase video creators from around the world" %}
{% set pageDescription = "Adrennial, an Australian company, contacted me to design a web and iOS app for a social video platform." %}
{% set pageUrl         = "projects/adrennial" %}
{% set pageId          = "projects" %}

{% extends "layout.njk" %}

{% block content %}

  <section class="padding-top-xs">

    <div class="container">

      {{
        backLink({
          "url": rootPath + 'projects',
          "text": 'Back to projects'
        })
      }}

      <h1 class="text-xxl margin-y-sm margin-y-lg@sm">A video app to showcase video creators from around the world</h1>

      <div class="hero aspect-ratio-16:9"></div>

      <div class="flex@sm justify-between items-start margin-top-md">

        {{ entryDetails({
          "rows": [
            {
              "key": {
                "text": 'Client'
              },
              "value": {
                "text": 'Adrennial'
              }
            },
            {
              "key": {
                "text": 'Industry'
              },
              "value": {
                "text": 'Digital entertainment'
              }
            },
            {
              "key": {
                "text": 'Year'
              },
              "value": {
                "text": '2022'
              }
            }
          ]
        }) }}

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Overview</h2>

          <div class="color-contrast-medium">
            <p>Adrennial, an Australian company, contacted me to design a web and iOS app for a social video platform. I was also responsible for creating a management system called Focus to allow Vision Partners to upload and control their video content.</p>
            <p>In addition to this, I was responsible for developing the front-end code to reflect my design work in a usable, interactive and accessible way, ready to be handed over to developers within the organisation.</p>
            <p>I created a design system to contain all necessary styles, components and patterns essential for driving the visual design and user experience for all their products.</p>
          </div>

        </div>

      </div>

      <figure class="figure">
        <div class="bg-contrast-lower aspect-ratio-16:9"></div>
        <figcaption class="figure__caption margin-top-xxs">Caption</figcaption>
      </figure>

      <figure class="figure margin-top-lg">
        <div class="bg-contrast-lower aspect-ratio-16:9"></div>
        <figcaption class="figure__caption margin-top-xxs">Caption</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>The very beginning</h2>

          <div class="color-contrast-medium">
            <p>To gain Vision Partner confidence and allow for onboarding, we needed something readily available to allow this to happen, so I designed and built a fully responsive Alpha version of the service in a short time frame.</p>
            <p>We were then able to showcase Vision Partner video content and allow the ability to register and choose a membership package.</p>
          </div>

        </div>

      </div>

      <figure class="figure">
        <div class="bg-contrast-lower aspect-ratio-16:9"></div>
        <figcaption class="figure__caption margin-top-xxs">Caption</figcaption>
      </figure>

      <figure class="figure margin-top-lg">
        <div class="bg-contrast-lower aspect-ratio-16:9"></div>
        <figcaption class="figure__caption margin-top-xxs">Caption</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Designing for iOS</h2>

          <div class="color-contrast-medium">
            <p>Once we delivered Alpha, we started planning and designing a mobile app, initially for iOS, intending to look at Android later down the line.</p>
            <p>I worked closely with Adrennial’s in-house UX Designer through regular meetings and online collaboration. We created user flows and low-fidelity wireframes essential for designing the iOS app.</p>
            <p>I created interactive prototypes that we tested with people around the world. These testing sessions provided valuable insights, which helped shape design decisions.</p>
            <p>I also had regular meetings with Adrennial’s iOS developer to ensure that what I was designing was feasible in the time frames we had.</p>
          </div>

        </div>

      </div>

      <figure class="figure">
        <div class="bg-contrast-lower aspect-ratio-16:9"></div>
        <figcaption class="figure__caption margin-top-xxs">Caption</figcaption>
      </figure>

      <figure class="figure margin-top-lg">
        <div class="bg-contrast-lower aspect-ratio-16:9"></div>
        <figcaption class="figure__caption margin-top-xxs">Caption</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Vision Partner management system redesign from scratch</h2>

          <div class="color-contrast-medium">
            <p>Again working closely with Adrennial’s in-house UX Designer, we spent time researching their existing system and gathering user feedback and pain points of the system.</p>
            <p>We got the go-ahead to redesign Focus, from scratch, rather than attempting to improve what they already had, which wasn’t working very well for their users.</p>
            <p>Working with wireframes and user flows, I was able to redesign everything needed to complete the project successfully.</p>
          </div>

        </div>

      </div>

      <figure class="figure">
        <div class="bg-contrast-lower aspect-ratio-16:9"></div>
        <figcaption class="figure__caption margin-top-xxs">Caption</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>A single source of truth</h2>

          <div class="color-contrast-medium">
            <p>I designed and built Adrennial’s Design System. These were the foundations essential for each of the products I created.</p>
            <p>A Design System is essentially a single source of truth for items like colours, typography, and iconography.</p>
            <p>Without a Design System in place, there is no consistency, and things can quickly become disjointed and costly in the long run.</p>
            <p>I started with basic but essential foundations and gradually added new components when required, ensuring these were scaleable, accessible and fit for purpose.</p>
          </div>

        </div>

      </div>

      <figure class="figure">
        <div class="bg-contrast-lower aspect-ratio-16:9"></div>
        <figcaption class="figure__caption margin-top-xxs">Caption</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Collaborative working</h2>

          <div class="color-contrast-medium">
            <p>I worked with some great people along the way. We had regular morning catch-ups, retros, planning meetings and a pleasant delivery workflow.</p>
            <p>I worked alongside a Product Owner, Delivery Manager, UX Designer, iOS Developer and some WordPress developers.</p>
          </div>

        </div>

      </div>

      <figure class="figure">
        <div class="bg-contrast-lower aspect-ratio-16:9"></div>
        <figcaption class="figure__caption margin-top-xxs">Caption</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-bottom">

        <div class="container text-component max-width-sm">

          <h2>The results</h2>

          <div class="color-contrast-medium">
            <p>I delivered a fully responsive website that is registering Vision Partners. In addition to this, I designed the iOS app and Vision Partner management system Focus, along with a Design System.</p>
            <p>Adrennial were then able to obtain sufficient funding from the US to take their adventure to new and exciting heights.</p>
            <p>My involvement includes:</p>
            <ul>
              <li>UX/UI Design and Interaction Design</li>
              <li>Design System and User Guides</li>
              <li>iOS Design (light and dark modes)</li>
              <li>Vision Partner management system redesign</li>
              <li>HTML, SASS, JavaScript</li>
              <li>Accessibility</li>
            </ul>
          </div>

        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container max-width-sm">

          <div class="margin-bottom-xs">
            <p class="font-bold text-md text-center">Share this project</p>
          </div>

          {{ socialShare({
            "twitter": {
              "attributes": {
                "data-social": 'twitter',
                "data-text": 'Hi there! https://trevorsaint.uk/projects/adrennial via @trevorsaint',
                "data-hashtags": '#adrennial, #design, #dev, #ux, #interactiondesign, #cms, #html, #ios, #designsystem'
              }
            },
            "facebook": {
              "attributes": {
                "data-social": 'facebook',
                "data-url": 'https://trevorsaint.uk/projects/adrennial'
              }
            },
            "pinterest": {
              "attributes": {
                "data-social": 'pinterest',
                "data-url": 'https://trevorsaint.uk/projects/adrennial',
                "data-description": 'A video app to showcase video creators from around the world',
                "data-media": 'https://trevorsaint.uk/images/projects/adrennial/pinterest.png'
              }
            },
            "linkedin": {
              "attributes": {
                "data-social": 'linkedin',
                "data-url": 'https://trevorsaint.uk/projects/adrennial'
              }
            },
            "email": {
              "attributes": {
                "data-social": 'mail',
                "data-url": 'https://trevorsaint.uk/projects/adrennial',
                "data-subject": 'A video app to showcase video creators from around the world - Trevor Saint',
                "data-body": 'https://trevorsaint.uk/projects/adrennial'
              }
            }
          }) }}

        </div>

      </div>

      <div class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

        {{ previousNextLinks({
          "previousNextLinksItems": [
            {
              "rel": 'prev',
              "text": 'Previous project',
              "url": rootPath + 'projects/rural-payments',
              "label": 'Rural grants and payments to help the farming industry'
            },
            {
              "rel": 'next',
              "text": 'Next project',
              "url": rootPath + 'projects/census-2021',
              "label": 'A once in a decade survey that gives us a better future'
            }
          ]
        }) }}

      </div>

    </div>

  </section>

{% endblock %}