/* --------------------------------

Logos

-------------------------------- */


.logos {}


.logos__item {
  background-color: alpha(var(--color-black), 0.05);
  background-blend-mode: multiply;
  border-radius: var(--radius-sm);
  display: flex;
  height: 112px;
  mix-blend-mode: multiply;
  min-width: 204px;
  max-width: 268px;
  width: 100%;
}


.logos__link {
  display: flex;
  border-radius: var(--radius-sm);
  height: 100%;
  width: 100%;

  &:hover {
    background-color: var(--color-white);
    box-shadow: inset 0 0 0 2px var(--color-contrast-high);
  }

  &:focus {
    background-color: var(--color-tertiary);
    box-shadow: none;
    color: var(--color-contrast-high);
  }

}


.logos__img {
  display: block;
  margin: auto;
}


/* --------------------------------

Logo

-------------------------------- */


.logo {
  color: var(--color-contrast-high);
  fill: currentColor;
}