// --------------------------------

// Logos

// --------------------------------

.logos {}

.logos__item {
  background-color: alpha(var(--color-black), 0.05);
  background-blend-mode: multiply;
  border: 2px solid transparent; // High Contrast Mode
  border-radius: var(--radius-sm);
  display: block;
  height: 112px;
  mix-blend-mode: multiply;
  min-width: 204px;
  max-width: 268px;
  width: 100%;
}

.logos__link {
  display: block;
  border-radius: var(--radius-sm);
  height: 100%;
  width: 100%;

  &:hover {
    background-color: var(--color-white);
    box-shadow: 0 0 0 2px var(--color-contrast-high);
  }

  &:focus {
    background-color: var(--color-tertiary);
    box-shadow: none;
    color: var(--color-contrast-high);
  }

}

.logos__img {
  display: block;
  fill: currentColor;
  margin: auto;


  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

// --------------------------------

// Logo

// --------------------------------

.logo {
  color: var(--color-contrast-high);
  fill: currentColor;
}