{% extends "layout.html" %}

{% set pageId = "cookies" %}
{% set pageTitle = "Cookies - Trevor Saint" %}
{% set pageDescription = "Cookies are used to measure how you use the website, so it can be updated and improved based on your needs." %}

{% block content %}
    <div class="section">

      <div class="container">

        <div class="contents">

          <h1 class="heading-xxl">Cookies</h1>

          <p>This website puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>

          <p>Cookies are used to measure how you use the website, so it can be updated and improved based on your needs.</p>

          <p>Find out more about <a class="link" href="https://goo.gl/c93ALV" rel="noreferrer external">how to manage cookies</a>.</p>

          <h2 class="heading-m override-!-margin-top-8">Measuring website usage (Google Analytics)</h2>

          <p>I use Google Analytics software (Universal Analytics) to collect information about how you use trevorsaint.uk. I do this to help make sure the site is meeting the needs of its users and to help make improvements.</p>

          <p>Google Analytics stores information about:</p>

          <ul class="list list--bullet">
            <li>the pages you visit</li>
            <li>how long you spend on each page</li>
            <li>how you got to the site</li>
            <li>what you click on while you’re visiting the site</li>
          </ul>

          <p>I do not collect or store your personal information (for example your name or address) so this information can’t be used to identify who you are.</p>

          <div class="inset-text">I do not allow Google to use or share my analytics data.</div>

          <p>Google Analytics sets the following cookies.</p>

          <table class="table override-!-margin-bottom-6">
            <thead class="table__head">
              <tr class="table__row">
                <th class="table__header" scope="col">Name</th>
                <th class="table__header" scope="col">Purpose</th>
                <th class="table__header" scope="col">Expires</th>
              </tr>
            </thead>
            <tbody class="table__body">
              <tr class="table__row">
                <td class="table__cell">_ga</td>
                <td class="table__cell">This helps us count how many people visit our website by tracking if you’ve visited before</td>
                <td class="table__cell table__cell--nowrap">2 years</td>
              </tr>
              <tr class="table__row">
                <td class="table__cell">_gid</td>
                <td class="table__cell">This helps us count how many people visit our website by tracking if you’ve visited before</td>
                <td class="table__cell table__cell--nowrap">24 hours</td>
              </tr>
                <tr class="table__row">
                <td class="table__cell">_gat</td>
                <td class="table__cell">Used to manage the rate at which page view requests are made</td>
                <td class="table__cell table__cell--nowrap">10 minutes</td>
              </tr>
            </tbody>
          </table>

          <p class="override-!-margin-bottom-0">You can <a class="link" href="https://goo.gl/eumKrc" rel="noreferrer external">opt out of Google Analytics cookies</a>.</p>

        </div>

      </div>

    </div>
{% endblock %}