{% extends "layout.html" %}

{% set pageTitle = "Page not found - Trevor Saint" %}
{% set pageDescription = "It looks like you found a page you shouldn’t have." %}

{% block content %}

<div class="section">
  <div class="container">
    <div class="contents">
      <h1 class="heading-xxl">Page not found</h1>
      <p>It looks like you found a page you shouldn’t have.</p>
      <p class="override-!-margin-bottom-0">Go to the <a href="/">home page</a></p>
    </div>
  </div>
</div>

{% endblock %}