{% set pageTitle       = "Page not found - Trevor Saint" %}
{% set pageDescription = "It looks like you found a page you shouldn’t have." %}

{% extends "layout.html" %}

{% block content %}


<!-- Masthead -->
<section class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

  <div class="container">

      <h1 class="heading-xxxl margin-bottom-lg">Page not found</h1>

      <div class="grid gap-sm">

        <div class="col-8@sm">

          <div class="text-component color-contrast-medium body-lg">
            <p>It looks like you found a page you shouldn’t have.</p>
            <p>Go to the <a href="/">home page</a></p>
          </div>

        </div>

      </div>

  </div>

</div>


{% endblock %}
