/* --------------------------------
Background Decoration
-------------------------------- */

.bg-decoration {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; // Keep background decoration below other elements
}


.bg-decoration__svg-1 {
  position: absolute;
  top: -158px;
  right: 0;
  height: 1087px;
  width: 834px;
}

.bg-decoration__svg-2 {
  position: absolute;
  bottom: -220px;
  left: -254px;
  height: 822px;
  width: 934px;
}