// --------------------------------

// Base

// --------------------------------


html {
  @include typography(16);

  background-color: var(--color-white);

  background-image:
    url("/images/background-top.svg"),
    url("/images/background-bottom.svg");


  background-position:
    calc(100% + 208px) -194px,
    -213px calc(100% + 176px);

  background-size:
    416px auto,
    466px auto;

  background-repeat: no-repeat;
  font-size: 100%;
  font-weight: var(--font-normal);
  min-height: 100%; // ensure page fills entire viewport
  overflow-x: hidden; // prevent horizontal scrolling
  position: relative; // for background svg positioning

  // fix fonts that render as bold in Firefox - https://www.lockedownseo.com/firefox-font-weight-too-bold
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  // background adjustment at large breakpoint
  @include breakpoint(lg) {

    background-position:
      calc(100% + 150px) -158px,
      -254px calc(100% + 358px);

    background-size:
      834px auto,
      934px auto;

  }

}


// optional - enable smooth scrolling
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


body {
  @include typography(20);
  color: var(--color-contrast-high);
  font-family: var(--font-secondary);
  font-weight: var(--font-regular);
  overflow-x: hidden; // prevent horizontal scrolling
}


@include breakpoint(xl) {

  // styled scrollbars -- https://css-tricks.com/the-current-state-of-styling-scrollbars
  body::-webkit-scrollbar {
    width: var(--space-xxs);
  }

  body::-webkit-scrollbar-track {
    background-color: var(--color-quaternary);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
  }

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: var(--font-normal);
}


b,
strong {
  font-weight: var(--font-bold);
}


img,
svg,
video {
  vertical-align: middle;
  user-select: none;
}


abbr[title] {
  border-bottom: 0;
  cursor: help;
  text-decoration: none;
}


:focus {
  outline: 0;
}


::-moz-focus-inner {
  border: 0;
}


::selection {
  background-color: alpha(var(--color-primary), 0.99);
  color: var(--color-white);
}


// Internet Explorer 10-11
:-ms-input-placeholder {
  color: var(--color-contrast-low);
}


// Microsoft Edge
::-ms-input-placeholder {
  color: var(--color-contrast-low);
}