p {
  @include typography(19);
  margin-bottom: spacing(4);
  margin-top: 0;
}


a {

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: colour("black");
  }

}


img {
  display: block;
  max-width: 100%;
}


.abbr {
  cursor: help;
  speak-as: spell-out;
  text-decoration: none;
}


// On white
::-moz-selection {
  background-color: colour("black");
  color: colour("white");
}


::selection {
  background-color: colour("black");
  color: colour("white");
}


// On black
.header ::-moz-selection,
.advert ::-moz-selection,
.footer ::-moz-selection {
  background-color: colour("white");
  color: colour("black");
}


.header ::selection
.advert ::selection
.footer ::selection {
  background-color: colour("white");
  color: colour("black");
}