/* --------------------------------

Link

-------------------------------- */


.link {
  @include link-common;
  @include link-style-default;
  position: relative;
}


.link-text {
  @include link-common;
  @include link-style-text;
}


.link-muted {
  @include link-common;
  @include link-style-muted;
}


.link-icon {
  @include link-common;
  @include link-style-default;
  align-items: center;
  display: inline-flex;
  font-weight: var(--font-bold);
  white-space: nowrap;

  &:hover,
  &:focus {

    .link-icon__label {

      &::after {
        content: none;
      }

    }

  }

}


.link-icon__label {
  margin-right: var(--space-xxxxs);
  position: relative;
  top: -1px;

  &::after {
    background-color: alpha(var(--color-primary), .2);
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }

}