// Path to the assets directory, with trailing slash
$assets-path: "/" !default;


// Path to the images folder, with trailing slash
$images-path: "#{$assets-path}images/" !default;


// Path to the fonts folder, with trailing slash
$fonts-path: "#{$assets-path}fonts/" !default;
