/*
Breakpoint definitions

Example: scss
.element {
  font-size: 10px
  @include mq(tablet) {
    font-size: 20px
  }
}
*/

$breakpoints: (
	mobile:  320px,
  tablet:  641px,
  desktop: 769px
) !default;