{% set pageTitle       = "Get to know me a little better" %}
{% set pageDescription = "Trevor Saint has been in the creative industry for 17 years and has experience designing and developing impressive web services for government departments and digital agencies." %}
{% set pageId          = "about" %}

{% extends "layout.html" %}

{% block content %}

<!-- Masthead -->
<section class="bg-primary padding-y-md padding-y-lg@sm">
  <div class="container">
    <div class="text-component color-white max-width-md">
      <h1>About</h1>
    </div>
  </div>
</section>

<!-- About -->
<section class="container padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

  <div class="grid gap-sm justify-between">

    <div class="col-6@sm">

      <div class="text-component">

        <h2>Hello, I’m Trevor</h2>

        <p>I’ve been in the creative industry 17 years, graduating in 2002, with a BSc (Hons) Multimedia Computing degree. It’s a great industry to be involved in, and I consider myself incredibly fortunate.</p>

        <p>After years of experience working with different companies, I’ve obtained hands-on-skills in design, front-end and back-end development.</p>

        <h3>What I’m comfortable with</h3>

        <p>There are a lot of software products and technologies I’m comfortable with and use daily. Some of these include:</p>

        <ul>
          <li>Balsamiq, Sketch and Adobe Suite</li>
          <li>Visual Studio Code, Terminal, Github</li>
          <li>HTML, CSS, SASS, ARIA</li>
          <li>Node, Express, Nunjucks and Gulp</li>
        </ul>

        <h3>What I’m working on at the moment</h3>

        <p>I’m working with Office for National Statistics on Census 2021.</p>

      </div>

    </div>

    <div class="col-4@sm">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:4"></div>
    </div>

  </div>

</section>

{% endblock %}
