{% set pageTitle       = "About Trevor Saint | I design and develop websites for small, medium and large companies" %}
{% set pageDescription = "I design websites and online services that engage your audience and builds trust. I bring a wealth of knowledge and experience, along with attention to detail." %}
{% set pageUrl         = "about" %}
{% set pageId          = "about" %}

{% extends "layout.njk" %}

{% block content %}

  <section class="padding-top-xs padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

    <div class="container">

      <div class="max-width-md">

        <h1 class="text-xxxl margin-bottom-xxs margin-bottom-xs@md margin-bottom-lg@lg">About</h1>

        <div class="text-component color-contrast-medium text-md">
          <p>I’ve been in the creative industry 18 years, graduating in 2002, with a BSc (Hons) Multimedia Computing degree. It’s a great industry to be involved in, and I consider myself incredibly fortunate.</p>
          <p>After years of experience working with different companies, I’ve obtained hands-on-skills in design, front-end and back-end development.</p>
        </div>

      </div>

    </div>

  </section>

  <section class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

    <div class="container">

      <h2 class="text-xl padding-bottom-xxs margin-bottom-xs margin-bottom-lg@sm border-offscreen">I can help with</h2>

      <div class="margin-x-auto max-width-md">

        <ul class="accordion js-accordion" data-animation="off" data-multi-items="on">

          <li class="accordion__item accordion__item--is-open js-accordion__item">

            <button class="accordion__header" type="button">
              <span class="text-md">Design</span>
              {{
                icon({
                  "classes": 'accordion__icon no-js:is-hidden',
                  "icon": 'expand-more',
                  "iconSize": 'md'
                })
              }}
            </button>

            <div class="accordion__panel js-accordion__panel">

              <div class="text-component">

                <p>I design websites and online services that engage your audience and builds trust. I bring a wealth of knowledge and experience, along with attention to detail that ensures your product looks and works great.</p>

                <p class="font-bold">I offer:</p>

                <ul class="flex flex-wrap gap-xxs">
                  <li><span class="badge">High–end visual design</span></li>
                  <li><span class="badge">Colours, fonts and graphic elements</span></li>
                  <li><span class="badge">Selling products online</span></li>
                  <li><span class="badge">Brochure design</span></li>
                  <li><span class="badge">Design and style for your business</span></li>
                  <li><span class="badge">Design for all devices</span></li>
                  <li><span class="badge">Business cards</span></li>
                  <li><span class="badge">Logo design</span></li>
                  <li><span class="badge">Letterheads and stationery</span></li>
                </ul>

              </div>

            </div>

          </li>

          <li class="accordion__item  js-accordion__item">

            <button class="accordion__header" type="button">
              <span class="text-md">Development</span>
              {{
                icon({
                  "classes": 'accordion__icon no-js:is-hidden',
                  "icon": 'expand-more',
                  "iconSize": 'md'
                })
              }}
            </button>

            <div class="accordion__panel js-accordion__panel">

              <div class="text-component">

                <p>I develop accessible websites. I can design and build your website from start to finish, but can equally consult on large-scale projects (such as GOV.UK), joining existing teams of developers, designers, testers and web ops.</p>

                <p class="font-bold">I offer:</p>

                <ul class="flex flex-wrap gap-xxs">
                  <li><span class="badge">Accessible websites for all users</span></li>
                  <li><span class="badge">Search-engine friendly code</span></li>
                  <li><span class="badge">Mobile friendly websites</span></li>
                  <li><span class="badge">Ability to publish your content</span></li>
                  <li><span class="badge">Semantic clean code</span></li>
                  <li><span class="badge">Interactive prototypes</span></li>
                </ul>

              </div>

            </div>

          </li>

          <li class="accordion__item  js-accordion__item">

            <button class="accordion__header" type="button">
              <span class="text-md">Photography</span>
              {{
                icon({
                  "classes": 'accordion__icon no-js:is-hidden',
                  "icon": 'expand-more',
                  "iconSize": 'md'
                })
              }}
            </button>

            <div class="accordion__panel js-accordion__panel">

              <div class="text-component">

                <p>I capture photography that complements your brand, ranging from products, property and interior to team profiles and events. I am happy to capture images for your website and print designs. I have a studio and photography equipment available.</p>

                <p class="font-bold">I offer:</p>

                <ul class="flex flex-wrap gap-xxs">
                  <li><span class="badge">Products</span></li>
                  <li><span class="badge">Property and interior</span></li>
                  <li><span class="badge">Exhibitions and events</span></li>
                  <li><span class="badge">Team profiles</span></li>
                  <li><span class="badge">Portraits</span></li>
                </ul>

              </div>

            </div>

          </li>

        </ul>

      </div>

    </div>

  </section>


  <section class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

    <div class="container">
      <h2 class="text-xl padding-bottom-xxs margin-bottom-xs margin-bottom-lg@sm border-offscreen">Technologies used</h2>
    </div>

    <div class="margin-top-md margin-top-lg@sm padding-x-xs">

      <ul class="logos flex flex-wrap gap-xs flex-center">

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/git.svg" height="40" width="95" alt="Git logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/sass.svg" height="48" width="65" alt="Sass logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/heroku.svg" height="40" width="143" alt="Heroku logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/gulp.svg" height="56" width="26" alt="Gulp logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/npm.svg" height="32" width="82" alt="Npm logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/craft.svg" height="40" width="72" alt="Craft logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/expression-engine.svg" height="40" width="59" alt="ExpressionEngine logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/vscode.svg" height="48" width="48" alt="VS Code logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/sketch.svg" height="32" width="130" alt="Sketch logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/firebase.svg" height="40" width="142" alt="Firebase logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/nodejs.svg" height="56" width="92" alt="NodeJS logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/netlify.svg" height="32" width="121" alt="Netlify logo" loading="lazy">
        </li>

        <li class="logos__item">
          <img class="logos__img" src="{{rootPath}}images/technologies/gcp.svg" height="48" width="55" alt="Google Cloud Platform logo" loading="lazy">
        </li>

      </ul>

    </div>

  </section>

{% endblock %}