{% set pageTitle       = "Get to know me a little better" %}
{% set pageDescription = "Trevor Saint has been in the creative industry for 17 years and has experience designing and developing impressive web services for government departments and digital agencies." %}
{% set pageId          = "about" %}

{% extends "layout.html" %}

{% block content %}

<section class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

  <div class="container">

    <h1 class="heading-xxxl margin-bottom-lg">About</h1>

    <div class="grid gap-sm">

      <div class="col-8@sm">

        <div class="text-component color-contrast-medium body-lg">
          <p>I’ve been in the creative industry 17 years, graduating in 2002, with a BSc (Hons) Multimedia Computing degree. It’s a great industry to be involved in, and I consider myself incredibly fortunate.</p>
          <p>After years of experience working with different companies, I’ve obtained hands-on-skills in design, front-end and back-end development.</p>
        </div>

      </div>

    </div>

  </div>

</section>

<section class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

  <div class="container">

    <div class="grid gap-sm">

      <div class="col-11@sm">
        <h2 class="heading-xl padding-bottom-xxs margin-bottom-xs margin-bottom-lg@sm border-offscreen">I can help with</h2>
      </div>

    </div>

    <div class="container max-width-lg">

      <ul class="accordion js-accordion" data-animation="off" data-multi-items="on">

        <li class="accordion__item accordion__item--is-open js-accordion__item">

          <button class="reset accordion__header" type="button">
            <span class="text-md">Design</span>
            <svg class="icon accordion__icon icon--md no-js:is-hidden" width="24" height="24" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
              <path d="M17.29 9c.39.39.39 1.02 0 1.41L12.7 15a.996.996 0 01-1.41 0L6.7 10.41c-.38-.39-.38-1.02 0-1.41s1.02-.39 1.41 0l3.88 3.88L15.88 9c.38-.39 1.02-.38 1.41 0z"/>
            </svg>
          </button>

          <div class="accordion__panel js-accordion__panel">

            <div class="text-component padding-top-xxxs padding-bottom-xs padding-x-xs">

              <p>I design websites and online services that engage your audience and builds trust. I bring a wealth of knowledge and experience, along with attention to detail that ensures your product looks and works great.</p>

              <p class="font-bold">I offer:</p>

              <div class="grid gap-sm">

                <div class="col-6@sm">
                  <ul>
                    <li>High–end visual design</li>
                    <li>Selling products online/e–commerce</li>
                    <li>Design for all devices</li>
                    <li>Design and style for your business</li>
                  </ul>
                </div>

                <div class="col-6@sm">
                  <ul>
                    <li>Colours, fonts and graphic elements</li>
                    <li>Brochure design</li>
                    <li>Business cards and logo design</li>
                    <li>Letterheads and stationery</li>
                  </ul>
                </div>

              </div>

            </div>

          </div>

        </li>

        <li class="accordion__item  js-accordion__item">

          <button class="reset accordion__header padding-y-sm padding-x-md" type="button">
            <span class="text-md">Development</span>
            <svg class="icon accordion__icon icon--md no-js:is-hidden" width="24" height="24" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
              <path d="M17.29 9c.39.39.39 1.02 0 1.41L12.7 15a.996.996 0 01-1.41 0L6.7 10.41c-.38-.39-.38-1.02 0-1.41s1.02-.39 1.41 0l3.88 3.88L15.88 9c.38-.39 1.02-.38 1.41 0z"/>
            </svg>
          </button>

          <div class="accordion__panel js-accordion__panel">

            <div class="text-component padding-top-xxxs padding-bottom-xs padding-x-xs">

              <p>I develop accessible websites. I can design and develop your website from start to finish, but can equally consult on large-scale projects (such as GOV.UK), joining existing teams of developers, designers, testers and web ops.</p>

              <p class="font-bold">I offer:</p>

              <div class="grid gap-sm">

                <div class="col-6@sm">
                  <ul>
                    <li>Accessible websites for all users</li>
                    <li>Search-engine friendly code</li>
                    <li>Mobile friendly websites</li>
                    <li>Ability to publish your content</li>
                  </ul>
                </div>

                <div class="col-6@sm">
                  <ul>
                    <li>Semantic clean code</li>
                    <li>Interactive prototypes</li>
                    <li>Interaction design</li>
                  </ul>
                </div>

              </div>

            </div>

          </div>

        </li>

        <li class="accordion__item  js-accordion__item">

          <button class="reset accordion__header padding-y-sm padding-x-md" type="button">
            <span class="text-md">Photography</span>
            <svg class="icon accordion__icon icon--md no-js:is-hidden" width="24" height="24" viewBox="0 0 24 24" focusable="false" aria-hidden="true">
              <path d="M17.29 9c.39.39.39 1.02 0 1.41L12.7 15a.996.996 0 01-1.41 0L6.7 10.41c-.38-.39-.38-1.02 0-1.41s1.02-.39 1.41 0l3.88 3.88L15.88 9c.38-.39 1.02-.38 1.41 0z"/>
            </svg>
          </button>

          <div class="accordion__panel js-accordion__panel">

            <div class="text-component padding-top-xxxs padding-bottom-xs padding-x-xs">

              <p>I capture photography that complements your brand, ranging from products, property and interior to team profiles and events. I am happy to capture images for your website and print designs. I have a studio and photography equipment available.</p>

              <p class="font-bold">I offer:</p>

              <div class="grid gap-sm">

                <div class="col-6@sm">
                  <ul>
                    <li>Product photography</li>
                    <li>Property and interior</li>
                    <li>Exhibitions and events</li>
                  </ul>
                </div>

                <div class="col-6@sm">
                  <ul>
                    <li>Team profiles</li>
                    <li>Portrait photography</li>
                    <li>Family photography</li>
                  </ul>
                </div>

              </div>

            </div>

          </div>

        </li>

      </ul>

    </div>

  </div>

</section>

<section class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

  <div class="container">
    <h2 class="heading-xl padding-bottom-xxs margin-bottom-xs margin-bottom-lg@sm border-offscreen">Technologies used</h2>
  </div>

  <div class="margin-top-md margin-top-lg@sm padding-x-xs">

    <ul class="logos flex flex-wrap gap-xs flex-center">

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/git.svg" height="40" width="95" alt="Git logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/sass.svg" height="48" width="65" alt="Sass logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/heroku.svg" height="40" width="143" alt="Heroku logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/gulp.svg" height="56" width="26" alt="Gulp logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/npm.svg" height="32" width="82" alt="Npm logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/craft.svg" height="40" width="72" alt="Craft logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/expression-engine.svg" height="40" width="59" alt="ExpressionEngine logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/vscode.svg" height="48" width="48" alt="VS Code logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/sketch.svg" height="32" width="130" alt="Sketch logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/firebase.svg" height="40" width="142" alt="Firebase logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/nodejs.svg" height="56" width="92" alt="NodeJS logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/netlify.svg" height="32" width="121" alt="Netlify logo">
      </li>

      <li class="logos__item">
        <img class="logos__img" src="images/technologies/gcp.svg" height="48" width="55" alt="Google Cloud Platform logo">
      </li>

    </ul>

  </div>

</section>

{% endblock %}