{% extends "layout.html" %}

{% set pageId = "contact" %}
{% set pageTitle = "Web design and development services for small and medium sized businesses - Trevor Saint" %}
{% set pageDescription = "Trevor Saint can design and develop your brand and digital footprint online. Call for more details on 07783 809 087." %}

{% block content %}

  <div class="section section--masthead">
    <div class="container">
      <div class="contents">
        <h1 class="heading-xxl override-!-margin-bottom-0">Let’s make an impression</h1>
      </div>
    </div>
  </div>

  <div class="section">

    <div class="container">

      <div class="contact">

        <div class="contact__form">

          <form method="post" action="contact.html">

            <div class="error-summary hidden" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
              <h2 class="error-summary__title" id="error-summary-title">There is a problem</h2>
              <div class="error-summary__body">
                <ul class="list error-summary__list">
                  <li class="list error-summary__list-item"><a class="error-summary__link" href="#fullname">Enter your full name</a></li>
                  <li class="list error-summary__list-item"><a class="error-summary__link" href="#email">Enter your email address</a></li>
                  <li class="list error-summary__list-item"><a class="error-summary__link" href="#message">Enter your message</a></li>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <label class="label" for="fullname">Full name</label>
              <input class="input" id="fullname" name="fullname" type="text" autocomplete="off">
            </div>

            <div class="form-group">
              <label class="label" for="email">Email</label>
              <input class="input" id="email" name="email" type="email" autocomplete="off">
            </div>

            <div class="form-group">
              <label class="label" for="message">Message</label>
              <textarea class="textarea" id="message" name="message" rows="5" autocomplete="off"></textarea>
            </div>

            <button class="button" type="submit">Send message</button>

          </form>

        </div>

        <div class="contact__details">

          <h2 class="contact__heading">Phone</h2>
          <p>07783 809 087 <br> Monday to Friday, 7am to 6pm</p>

          <h2 class="contact__heading">Email</h2>
          <p><a class="link" href="mailto:&#104;&#101;&#108;&#108;&#111;&#64;&#116;&#114;&#101;&#118;&#111;&#114;&#115;&#97;&#105;&#110;&#116;&#46;&#117;&#107;">&#104;&#101;&#108;&#108;&#111;&#64;&#116;&#114;&#101;&#118;&#111;&#114;&#115;&#97;&#105;&#110;&#116;&#46;&#117;&#107;</a></p>

        </div>

      </div>

    </div>

  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    var validator = new FormValidator(document.forms[0]);
    validator.addValidator('fullname', [{
      method: function(field) {
        return field.value.trim().length > 0;
      },
      message: 'Enter your full name'
    }]);
    validator.addValidator('email', [{
		 	method: function(field) {
		    return field.value.trim().length > 0;
			},
			message: 'Enter your email address'
		},
    {
			method: function(field) {
		    return (field.value.indexOf('@') > -1);
		  },
			message: 'Enter the ‘at’ symbol in the email address'
		}]);
    validator.addValidator('message', [{
      method: function(field) {
        return field.value.trim().length > 0;
      },
      message: 'Enter your message'
    }]);
  </script>
{% endblock %}