{% set pageTitle       = "Contact - Trevor Saint" %}
{% set pageDescription = "I’m happy to design and develop a complete brand identity or design a website to sell your services and products." %}
{% set pageUrl         = "contact" %}
{% set pageId          = "contact" %}

{% extends "layout.njk" %}

{% block content %}

  <section class="padding-top-xs padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">
    <div class="container">
      <div class="max-width-md">
        <h1 class="text-xxxl">Contact</h1>
      </div>
    </div>
  </section>

  <section class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

    <div class="container">

      <h2 class="text-xl padding-bottom-xxs margin-bottom-xs margin-bottom-lg@sm border-offscreen">Send a message</h2>

      <div class="grid gap-sm justify-between">

        <div class="col-7@sm">

          <form class="form js-form" name="contact-form" method="POST" autocomplete="off" action="https://formspree.io/f/mgeddkrv">

            <div class="margin-bottom-sm">
              <label class="form__label" for="name">Full name</label>
              <span class="form__error-message is-hidden" id="name-error">
                <span class="sr-only">Error: </span>
                <strong>Enter your name</strong>
              </span>
              <input class="form__control" id="name" name="name">
            </div>

            <div class="margin-bottom-sm">
              <label class="form__label" for="email">Email address</label>
              <span class="form__error-message is-hidden" id="email-error">
                <span class="sr-only">Error: </span>
                <strong>Enter your email address</strong>
              </span>
              <input class="form__control" id="email" name="email" type="email">
            </div>

            <div class="margin-bottom-sm">
              <label class="form__label" for="telephone">Telephone (optional)</label>
              <input class="form__control" id="telephone" name="telephone" type="tel">
            </div>

            <div class="margin-bottom-sm">
              <label class="form__label" for="message">Message</label>
              <span class="form__error-message is-hidden" id="message-error">
                <span class="sr-only">Error: </span>
                <strong>Enter your message</strong>
              </span>
              <textarea class="form__control form__control--textarea" id="message" name="message" rows="8"></textarea>
            </div>

            <input id="g-recaptcha-response" name="g-recaptcha-response" type="hidden">

            <button class="button button--full-width" type="submit">
              <span class="button__label">Send message</span>
            </button>

          </form>

        </div>

        <div class="col-3@sm">

          <dl class="margin-top-sm">
            <dt class="text-md font-bold margin-bottom-xxxxs">Telephone</dt>
            <dd><a class="link" href="tel:07783809087">07783 809 087</a><span class="color-contrast-medium block margin-top-xxxs text-sm">Monday to Friday, 7am to 6pm <br> (except public holidays)</span></dd>
          </dl>

          <dl class="margin-top-sm">
            <dt class="text-md font-bold margin-bottom-xxxxs">Email</dt>
            <dd><a class="link" href="mailto:hello@trevorsaint.uk">hello@trevorsaint.uk</a></dd>
          </dl>

        </div>

      </div>

    </div>

  </section>

{% endblock %}