{% set pageTitle       = "Thank you" %}
{% set pageDescription = "Do you have a project in mind? Call Trevor Saint on 07783 809 087." %}
{% set pageId          = "thank-you" %}

{% extends "layout.html" %}

{% block content %}

<section class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

  <div class="container">

    <div class="max-width-lg">

      <h1 class="heading-xxxl margin-bottom-lg">Thank you</h1>

      <div class="text-component color-contrast-medium body-lg">
        <p>I will respond to your message as soon as possible.</p>
      </div>

    </div>

  </div>

</section>

{% endblock %}