{% set pageTitle       = "Thank you" %}
{% set pageDescription = "Do you have a project in mind? Call Trevor Saint on 07783 809 087." %}
{% set pageId          = "thank-you" %}

{% extends "layout.html" %}

{% block content %}


<!-- Masthead -->
<section class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

  <div class="container">

    <h1 class="heading-xxl margin-bottom-lg">Thank you</h1>

    <div class="grid gap-sm">

      <div class="col-8@sm offset-1@sm">

        <div class="text-component color-contrast-medium body-lg">
          <p>I will respond to your message as soon as possible.</p>
        </div>

      </div>

    </div>

  </div>

</section>


{% endblock %}
