/* --------------------------------
Skip Link
-------------------------------- */


.skip-link {
  @include fontSmooth;
  background-color: var(--color-white);
  color: var(--color-black);
  display: inline-block;
  font-weight: var(--font-semibold);
  left: var(--space-xxs);
  padding-left: var(--space-xxs);
  padding-right: var(--space-xxs);
  padding-bottom: calc(var(--space-xxs) - var(--space-xxxxs));
  padding-top: calc(var(--space-xxs) - var(--space-xxxxs));
  position: absolute;
  top: var(--space-xxs);
  z-index: var(--zindex-fixed-element);

  &:hover {
    color: var(--color-primary);
  }

  // Hide
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);

  &:focus,
  &.skip-link--focus {

    // Show
    box-shadow: 0 0 0 var(--space-xxxxs) var(--color-focus);
    clip: auto;
    clip-path: none;
    outline: var(--space-xxxxs) solid var(--color-primary);
  }

}
