{% set pageTitle       = "Design for the happy travel campany, Travalion" %}
{% set pageDescription = "Trevor Saint was responsible for designing the complete brand identity package, as well as developing the entire frontend architecture for a travel company." %}
{% set pageUrl         = "projects/travalion" %}
{% set pageId          = "projects" %}

{% extends "layout.njk" %}

{% block content %}

  <section class="padding-top-xs">

    <div class="container">

      {{ backLink({
        "url": rootPath + 'projects',
        "text": 'Back'
      }) }}

      <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">Design for the happy travel campany, Travalion</h1>

      <div class="hero">
        <picture>
          <source type="image/webp" srcset="{{rootPath}}images/projects/project/travalion/hero.webp, {{rootPath}}images/projects/project/travalion/hero@2x.webp 2x">
          <source type="image/png" srcset="{{rootPath}}images/projects/project/travalion/hero.png, {{rootPath}}images/projects/project/travalion/hero@2x.png 2x">
          <img height="800" width="1200" src="{{rootPath}}images/projects/project/travalion/hero.png" alt="A preview of Travalion on an iMac screen">
        </picture>
      </div>

      <div class="flex@sm justify-between items-start margin-top-md">

        {{ entryDetails({
          "rows": [
            {
              "key": {
                "text": 'Client'
              },
              "value": {
                "text": 'Travalion'
              }
            },
            {
              "key": {
                "text": 'Industry'
              },
              "value": {
                "text": 'Travel'
              }
            },
            {
              "key": {
                "text": 'Year'
              },
              "value": {
                "text": '2020 (in progress)'
              }
            }
          ]
        }) }}

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Overview</h2>

          <div class="color-contrast-medium">
            <p>I was approached by a German startup company to design a complete brand identity package, as well as develop the entire front-end architecture for the service. </p>
            <p>This included logo design, typography, colour palette, and a full set of reusable design components used to piece together the foundations for the website design and build. </p>
          </div>

        </div>

      </div>

      <figure class="figure figure--outset">
        <div>
          <img height="957" width="1200" srcset="{{rootPath}}images/projects/project/travalion/happy-landing-page-design.png 1x, {{rootPath}}images/projects/project/travalion/happy-landing-page-design@2x.png 2x" src="{{rootPath}}images/projects/project/travalion/happy-landing-page-design.png" alt="A preview of the home page design">
        </div>
        <figcaption class="figure__caption margin-top-xxs">Landing page design</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Forming the brand identity</h2>

          <div class="color-contrast-medium">
            <p>It was my sole responsibility to design a ‘happy’ brand, something encompassing an energetic, friendly and professional look and feel. In my opinion, a good starting point is with type. A great typeface evokes a level of emotion and in most cases is used to form a logo.</p>
            <p>I searched for a German typeface, something perfectly fitting for a German startup. I was lucky enough to find NB Akademie, a beautiful looking typeface designed by German designer Stefan Gandl. I fell in love with this typeface instantly, as it adopts a style I tend to use in other projects.</p>
          </div>

          <h2>Designing the logo</h2>

          <div class="color-contrast-medium">
            <p>The logo uses the chosen typeface, with a complimentary happy smiley face mark that works well with their strap-line, ‘The Happy Travel Company’. Creating the distinct icon I felt would work well with other branding material, as with social shortcut icons and other social media application.</p>
          </div>

        </div>

      </div>

      <div class="grid gap-xs">

        <div class="col-6@sm">
          <figure class="figure">
            <div class="bg-contrast-lower media-wrapper media-wrapper--3:2">
              <img height="392" width="588" srcset="{{rootPath}}images/projects/project/travalion/logo-ondark.png 1x, {{rootPath}}images/projects/project/travalion/logo-ondark@2x.png 2x" src="{{rootPath}}images/projects/project/travalion/logo-ondark.png" alt="Travalion logo on a dark coloured background">
            </div>
            <figcaption class="figure__caption margin-top-xxs">Logo on dark background</figcaption>
          </figure>
        </div>

        <div class="col-6@sm">
          <figure class="figure">
            <div class="bg-contrast-lower media-wrapper media-wrapper--3:2">
              <img height="392" width="588" srcset="{{rootPath}}images/projects/project/travalion/logo-onlight.png 1x, {{rootPath}}images/projects/project/travalion/logo-onlight@2x.png 2x" src="{{rootPath}}images/projects/project/travalion/logo-onlight.png" alt="Travalion logo on a light coloured background">
            </div>
            <figcaption class="figure__caption margin-top-xxs">Logo on light background</figcaption>
          </figure>
        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Researching their competitors</h2>

          <div class="color-contrast-medium">
            <p>It’s a good move generally, to research competitive websites to see what they are offering and how well they are doing this from both a visual and functional perspective, to ensure we have a competitive edge when designing and developing something better.</p>
          </div>

          <h2>Creating a design system</h2>

          <div class="color-contrast-medium">
            <p>Building a design system for Travalion go hand in hand with the need for scale, efficiency and consistency in design. The design system acted as a single source of truth for both design and code. It would ensure that new design patterns and code were more structured and guided to avoid chaos with other people working with it.</p>
          </div>

        </div>

      </div>

      <blockquote class="position-relative z-index-1 text-center">
        <div class="text-component">
          <p class="text-xl font-medium">“A design system is a collection of reusable components, guided by clear standards, that can be assembled to build any number of applications.”</p>
        </div>
        <footer class="margin-top-lg">&mdash; InVision</footer>
      </blockquote>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <div class="color-contrast-medium">
            <p>This design system consisted of everything from typography, colour palette, spacing scale, components, patterns and documentation on how to use them in the service. I created the design system in two formats, one as an asset library, prepared in Sketch. The other as an interactive coded resource.</p>
            <p>The asset library was essential in the design of new pages. Any updates to the library would immediately be reflected in any design files referencing it. The coded resource included code snippets, previews and documentation on how to use the components.</p>
            <p>With both of these assets in place, it made designing and developing pages a quick process, which reduced inconsistencies in both design and development. I was able to quickly design and develop pages after all of the hard work had been done in preparing all the required assets.</p>
          </div>

        </div>

      </div>

      <figure class="figure">
        <div class="bg-contrast-lower">
          <img height="675" width="1200" srcset="{{rootPath}}images/projects/project/travalion/styleguide-design-foundations.png 1x, {{rootPath}}images/projects/project/travalion/styleguide-design-foundations@2x.png 2x" src="{{rootPath}}images/projects/project/travalion/styleguide-design-foundations.png" alt="A preview of design foundations in Sketch">
        </div>
        <figcaption class="figure__caption margin-top-xxs">Styleguide design foundations</figcaption>
      </figure>

      <figure class="figure margin-top-lg">
        <div class="bg-contrast-lower">
          <img height="675" width="1200" srcset="{{rootPath}}images/projects/project/travalion/styleguide-designed-components.png 1x, {{rootPath}}images/projects/project/travalion/styleguide-designed-components@2x.png 2x" src="{{rootPath}}images/projects/project/travalion/styleguide-designed-components.png" alt="A preview of design components in Sketch">
        </div>
        <figcaption class="figure__caption margin-top-xxs">34 carefully designed components</figcaption>
      </figure>

      <figure class="figure margin-top-lg">
        <div class="bg-contrast-lower">
          <img height="675" width="1200" srcset="{{rootPath}}images/projects/project/travalion/styleguide-reusable-patterns.png 1x, {{rootPath}}images/projects/project/travalion/styleguide-reusable-patterns@2x.png 2x" src="{{rootPath}}images/projects/project/travalion/styleguide-reusable-patterns.png" alt="A preview of design patterns in Sketch">
        </div>
        <figcaption class="figure__caption margin-top-xxs">Reusable patterns collection</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Scaleable blocks of reusable code</h2>

          <div class="color-contrast-medium">
            <p>Every component carefully built to be responsive, accessible, flexible and production-ready. Typical items included date pickers, accordions, menus, paginations, tabs, filters and many more.</p>
          </div>

        </div>

      </div>

      <figure class="figure">
        <div class="bg-contrast-lower">
          <img height="675" width="1200" srcset="{{rootPath}}images/projects/project/travalion/accessible-code.png 1x, {{rootPath}}images/projects/project/travalion/accessible-code@2x.png 2x" src="{{rootPath}}images/projects/project/travalion/accessible-code.png" alt="Prototyping code and rendered output for filtring results">
        </div>
        <figcaption class="figure__caption margin-top-xxs">Scaleable, accessible code built from scratch</figcaption>
      </figure>

      <figure class="figure margin-top-lg">
        <div class="bg-contrast-lower">
          <img height="675" width="1200" srcset="{{rootPath}}images/projects/project/travalion/complete-user-journey-page-designs.png 1x, {{rootPath}}images/projects/project/travalion/complete-user-journey-page-designs@2x.png 2x" src="{{rootPath}}images/projects/project/travalion/complete-user-journey-page-designs.png" alt="A preview of designs for Travalion in Sketch">
        </div>
        <figcaption class="figure__caption margin-top-xxs">Complete user journey page designs</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-bottom">

        <div class="container text-component max-width-sm">

          <h2>The results</h2>

          <div class="color-contrast-medium">
            <p>I delivered a clean, attractive and scalable solution that works and looks great on all devices. The flexibility to build new pages has been made possible with clear documentation for future growth.</p>
          </div>

        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container max-width-sm">

          <div class="margin-bottom-sm">
            <p class="font-bold text-sm text-center">Share this project</p>
          </div>

          {{ socialShare({
            "twitter": {
              "attributes": {
                "data-social": 'twitter',
                "data-text": 'Hello https://trevorsaint.uk/projects/travalion via @trevorsaint',
                "data-hashtags": '#travel, #branding, #logodesign, #designsystem, #happy, #design, #dev, #ux, #interactiondesign'
              }
            },
            "facebook": {
              "attributes": {
                "data-social": 'facebook',
                "data-url": 'https://trevorsaint.uk/projects/travalion'
              }
            },
            "pinterest": {
              "attributes": {
                "data-social": 'pinterest',
                "data-url": 'https://trevorsaint.uk/projects/travalion',
                "data-description": 'Designing for the happy travel campany ‘Travalion’',
                "data-media": 'https://trevorsaint.uk/images/projects/project/travalion/pinterest.png'
              }
            },
            "linkedin": {
              "attributes": {
                "data-social": 'linkedin',
                "data-url": 'https://trevorsaint.uk/projects/travalion'
              }
            },
            "email": {
              "attributes": {
                "data-social": 'mail',
                "data-url": 'https://trevorsaint.uk/projects/travalion',
                "data-subject": 'Designing for the happy travel campany ‘Travalion’ - Trevor Saint',
                "data-body": 'https://trevorsaint.uk/projects/travalion'
              }
            }
          }) }}

        </div>

      </div>

      <div class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

        {{ previousNextLinks({
          "previousNextLinksItems": [
            {
              "rel": 'prev',
              "text": 'Previous project',
              "url": rootPath + 'projects/census-2021',
              "label": 'A once in a decade survey that gives us a better future'
            },
            {
              "rel": 'next',
              "text": 'Next project',
              "url": rootPath + 'projects/government-digital-service',
              "label": 'Helping Government Digital Service with Interaction Design'
            }
          ]
        }) }}

      </div>

    </div>

  </section>

{% endblock %}