{% extends "layout.html" %}

{% set pageId = "about" %}
{% set pageTitle = "Trevor Saint has been designing and developing websites since 2002" %}
{% set pageDescription = "Trevor Saint has been in the creative industry for over 15 years’ after graduating in 2002 with a BSC (Hons) Multimedia Computing degree." %}

{% block content %}
    <div class="section  section--masthead">
      <div class="container">
        <div class="contents">
          <h1 class="heading-xxl  override-!-margin-bottom-0">Get to know me a little better</h1>
        </div>
      </div>
    </div>

    <div class="section">

      <div class="container">

        <div class="about">

          <div class="about__body">

            <h1 class="heading-xl">Hi, I’m Trevor</h1>

            <p class="body-l">I’ve been in the creative industry for over 15 years’ after graduating in 2002 with a BSc (Hons) Multimedia Computing degree.
            It’s a great industry to be involved in and I consider myself incredibly fortunate.</p>

            <p>Starting out as a web designer for a small company called Blue Leaf, a four-person company based in Cheshire at the time. Myself being a web
            designer alongside a print designer.</p>

            <p>They were just starting out designing and building websites at the time predominately being focused towards print with the prospect of venturing
            out into the web side of things.</p>

            <p>It was a great company to work for, and very challenging having to learn and develop my skills. I often had to ‘burn the midnight oil’ trying to
            keep up with it all. Not a wise move!</p>

            <p>After years of experience working for different companies, I was able to obtain hands-on skills in design, front-end and back-end development, giving
            me good exposure to the various aspects of projects from start to finish.</p>

            <p>Take a look at some of the <a class="link" href="/feedback">positive feedback</a> I’ve been given over the years in this industry.</p>

          </div>

          <div class="about__image">
            <div class="image  image--3:4">
              <img src="{{assetPath}}images/profile/profile-photo.jpg" srcset="{{assetPath}}images/profile/profile-photo.jpg 1x, {{assetPath}}images/profile/profile-photo@2x.jpg 2x" alt="Profile photo of Trevor Saint">
            </div>
          </div>

        </div>

        <hr class="section-break  section-break--xl  section-break--visible">

        <h1 class="heading-xl">I’ve worked for</h1>

        <div class="clients-grid">

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/hmcts.svg" alt="HM Courts &amp; Tribunals Service">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/ministry-of-justice.svg" alt="Ministry of Justice">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/the-football-association.svg" alt="The Football Association">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/defra.svg" alt="Department for Environment Food &amp; Rural Affairs">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/premier-league.svg" alt="Premier League">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/nike.svg" alt="Nike">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/akqa.svg" alt="AKQA">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/gov.svg" alt="GOV.UK">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/rural-payments-agency.svg" alt="Rural Payments Agency">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/conchango.svg" alt="Conchango">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/capita.svg" alt="Capita">
            </div>
          </div>

          <div class="clients-grid__item">
            <div class="client">
              <img src="{{assetPath}}images/logo/kainos.svg" alt="Kainos">
            </div>
          </div>

        </div>

      </div>

    </div>
{% endblock %}