{% extends "layout.html" %}

{% set pageId = "feedback" %}
{% set pageTitle = "Trevor Saint has received positive feedback from clients, colleagues and friends" %}
{% set pageDescription = "Trevor Saint receives positive feedback over the years in the creative industry, from clients, colleagues and friends." %}

{% block content %}
    <div class="section  section--masthead">
      <div class="container">
        <div class="contents">
          <h1 class="heading-xxl  override-!-margin-bottom-0">Feedback is the breakfast of champions</h1>
        </div>
      </div>
    </div>

    <div class="section">

      <div class="container">

        <!-- Elsevier -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/elsevier.svg" alt="Elsevier">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>We brought Trevor on board to help us develop a scalable design system / pattern library based on his experience working with the <abbr class="abbr" title="United Kingdom">UK</abbr> government. While the project ended up not adopting his solution for numerous reasons, his solutions and contributions won a lot of praise and support.</p>
                <p>He also has a great eye for detail, exhibited very strong knowledge in accessibility, and is a genuine hard worker. I highly recommend his services.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Boon Yew Chew</span>
                  <span class="quote__cite-role">Principal UX Designer at Elsevier</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- Paramount Packaging -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/paramount-packaging.svg" alt="Paramount Packaging">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>I would like to thank Victoria for the fantastic job she did for us at Paramount Packaging Systems. From the moment we gave her a very “rough” brief, she understood exactly what we were looking for and how we wanted to be portrayed as a company.</p>
                <p>Creatively she was amazing and really gave us ideas and examples of how we could have the images taken, how to use them positively and proactively not just on our website but for further use. I would also like to add that Victoria had a wonderful nature about her and put us completely at ease; not everyone within the company was keen on having their photo taken, but her natural persona helped relax everyone.</p>
                <p>I would highly recommend Victoria and look forward to working with her in the future.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Darren Bull</span>
                  <span class="quote__cite-role">Operations Manager at Paramount Packaging</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Working with Trevor has been an absolute pleasure and we could not be happier with the results. Trevor patiently took on board the various ideas that we had from Sales, Marketing and Operations (which were often polar opposites!) and managed to pull these into a web site that was exactly what we were looking for. Not only the appearance, but the functionality of the new website is fantastic and makes for such a pleasant user friendly experience for our customers.</p>
                <p>Trevor also created the stunning photography and video content on the web site; his vision and perfectionist nature has made the machines come alive. The professionalism and attention to detail make
                Trevor a joy to work with and allows him to stand out within his field.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Darren Bull</span>
                  <span class="quote__cite-role">Operations Manager at Paramount Packaging</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- HMCTS -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/hmcts.svg" alt="HM Courts &amp; Tribunals Service">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor worked with me as an Interaction Designer and I can really vouch for his attention to the detail and quality of the UX designs. He was one of the first few team members joined and was quickly able to embed within the agile scrum team working closely with User Researcher and BA.</p>
                <p>Given the high profile of users(Judiciary), Trevor established a harmonious relationship with senior users and product owner enabling collaborative design delivery which was one of the key deliverable for successful discovery phase.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Kalyana Chakravarthi Kakaraparthi</span>
                  <span class="quote__cite-role">Agile Delivery Manager at HM Courts &amp; Tribunals Service</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>I think perhaps the best way to describe Trevor is as an artisan of web pages. He has an incredible attention to detail and is extremely skilled at crafting polished <abbr class="abbr" title="Hypertext Markup Language">HTML</abbr>. He really cares about good design and creating high quality user experiences.</p>
                <p>I’ve worked with Trevor in two different teams and have enjoyed working with him on both occasions. He has a great work ethic and will always deliver to a very high standard. An excellent professional.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Bill Wessel</span>
                  <span class="quote__cite-role">User Researcher at HM Courts &amp; Tribunals Service</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor has a unique combination of skills: not only is he experienced in designing and coding accessible interfaces using <abbr class="abbr" title="Accessible Rich Internet Applications">ARIA</abbr>, but he is also adept in visual design. Married together, Trevor produces interfaces with good hierarchy, typography, vertical rhythm and accessibility all at the same time.<p>
                <p>I thoroughly enjoy working with him and hope to do so again in the future.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Adam Silver</span>
                  <span class="quote__cite-role">Interaction Designer at HM Courts &amp; Tribunals Service</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- Max Powder -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/max-powder.svg" alt="Max Powder">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Thanks to Trevor, we now have a wonderful transformation of our website. We have come out of the dark ages and finally have a mobile/tablet friendly website. Website design is not my area of expertise, so it was refreshing having Trevor bring ideas, and implement them wonderfully.</p>
                <p>Everything was finished to a deadline, and all of it was done perfectly. We have daily comments from customers on the quality of the website. Overall I can’t recommend Trevor and his business enough.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Kirk Dormer-French</span>
                  <span class="quote__cite-role">Managing Director at Max Powder</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- Ministry of Justice -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/ministry-of-justice.svg" alt="Ministry of Justice">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor was a significant addition to the frontend development team on the programme. His arrival took the frontend coded designs from clunky inaccurate screens to smoothly responsive, accessible and pixel–accurate steps in a user journey. He had extensive experience in <a class="link" href="https://www.gov.uk/guidance/government-design-principles" target="_blank" rel="noopener noreferrer">GDS design principles<span class="visually-hidden"> (opens in a new window)</span></a> bringing previous knowledge from other projects of how they work in practice.</p>
                <p>He was able to code designs often improving them so that the iterative rework cycle of designs into code and testing was a shortcut. This was a huge help on a large, complex delivery project.</p>
                <p>Trevor is experienced working collaboratively with user researchers, content designers and developers in agile scrum teams.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Pamela Woods</span>
                  <span class="quote__cite-role">User Experience Lead at Ministry of Justice</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>It’s been a pleasure working with Trevor, and to see him work. His passion and professionalism are superb. We <abbr class="abbr" title="Automated Track Case Management">ATCM</abbr> wouldn’t be where we are without him, and we certainly wouldn’t have released such a well-polished product.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Joe Simpson</span>
                  <span class="quote__cite-role">Delivery Manager at Ministry of Justice</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor is a rare individual that understands beautiful and thoughtful design AND code aesthetics. He is possibly the best user centred creative I’ve come to know and it’s always a pleasure to work with him. I have learned (and continue to learn) from Trevor through his vast understanding of the latest coding standards, UK Government Digital Standards and his intense focus on accessibility.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Larry Miles</span>
                  <span class="quote__cite-role">Senior UX Design Consultant at Ministry of Justice</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- Department for Environment Food and Rural Affairs -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/defra.svg" alt="Department for Environment Food and Rural Affairs">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor provided his fantastic expertise and guidance to help us deliver a front end that looked good, coherent and intuitive.</p>
                <p>Trevor also greatly benefited the team by providing the tools and guidance to achieve the above, so that they could independently and quickly deliver a front end that closely matched the intended style. This saved the team time as Trevor can then work to refine and iterate the product.</p>
                <p>I really enjoyed working with Trevor at a personal and professional level. He is very passionate about what he does, and is very keen on sharing and applying his expertise to ensure that we deliver an excellent experience for the user.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Jonathan Bridger</span>
                  <span class="quote__cite-role">Systems Developer at Defra</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- Premier League -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/premier-league.svg" alt="Premier League">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor has a contemporary eye for web design, which stylishly blends in well-defined user experiences. He has been a pleasure to work with over the last six month and I happily recommend him to any future employer.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Alistair Robertson</span>
                  <span class="quote__cite-role">Senior Business Analyst at The Premier League</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- Motilo -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/motilo.svg" alt="Motilo">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor’s knowledge and understanding of front end development is second to none. He is able to take a complicated brief and deliver beyond expectations. Unafraid to challenge, you know you will always get the best results from a very gifted professional. Even if you are not working directly with him he always makes time to listen to any concerns you may have and offers sound advice on design and coding issues.</p>
                <p>He is also strong strategist and adds real value to any project. In short, Trevor is a great guy and a pleasure to work with.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Alex Outlaw</span>
                  <span class="quote__cite-role">Marketing Director at Motilo</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor is a true expert of front end development. He is not only extremely organized and able to write state of the art <abbr class="abbr" title="Cascading Style Sheets">CSS</abbr> but he also has the precision and eye for detail that any designer would benefit immensely from.</p>
                <p>He thinks out of the box, has a keen interest on new technologies and has always been able to gently steer my designs (and my somewhat chaotic creativity) towards the consistency necessary to help us provide the best user journey possible.</p>
                <p>I found it refreshing to work with someone who has the confidence and knowledge to be able to let us know when we could be doing things in a better way. Trevor set our standards really high and now the only problem we have is to try to find a permanent developer who will be as good as he is!</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Luisa Kos</span>
                  <span class="quote__cite-role">Head of Design at Motilo</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- CAPITA -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/capita.svg" alt="Capita">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor is a first class interface developer. His creative ideas are matched with a solid business acumen and an understanding of development based around real user needs rather than just ‘what looks pretty’. He is diligent, hard working a pleasure to work with. I recommend him whole heartedly.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Piers Saye</span>
                  <span class="quote__cite-role">Agile Delivery Manager &amp; Coach at CAPITA</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor’s work on my team as a User Interface Developer and Designer was superb. He commits fully to the goals of a project and produces polished results every time. His versatility gave us the ability to use him as a Designer for new work as well as relying on his technical ability to work with back end developers and stakeholders. I’d work with Trevor again any time.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Branden Faulls</span>
                  <span class="quote__cite-role">Web Platform Manager at CAPITA</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor is a hard-working asset to any team. He understands the needs of the client and can quickly deliver professional and intuitive designs built around giving users the best experience. He is a pleasure to work with.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Sarah Jones</span>
                  <span class="quote__cite-role">Lead Business Analyst at CAPITA</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Having worked with Trevor over a period of 4 months I have found him to be amiable, professional and most of all very competent. He has a passion for the semantic web and strives to deliver the most effective and accessible <abbr class="abbr" title="User Interface">UI</abbr> he can within the scope of the deliverable at hand.</p>
                <p>I would recommend Trevor wholeheartedly whether it is as a standalone designer/<abbr class="abbr" title="User Interface">UI</abbr> developer or as part of a multidiscipline agile team.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Mark Kobylanski</span>
                  <span class="quote__cite-role">User Experience Designer at CAPITA</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor is an excellent interface developer, with a great feel for intuitive <abbr class="abbr" title="User Interface">UI</abbr>. He’s also an extremely nice bloke and a pleasure to work with.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Colin Sweetman</span>
                  <span class="quote__cite-role">Contract Online Services Programme Manager at CAPITA</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- AKQA -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/akqa.svg" alt="AKQA">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor was a great asset to the Nike Show Your Five site build project, demonstrating problem solving skills and attention to detail while working to aggressive timescales. I’d happily recommend Trevor for future projects at AKQA.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">James Britton</span>
                  <span class="quote__cite-role">Project Manager at AKQA</span>
                </footer>
              </blockquote>
            </div>

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor is a skilled and hard-working front-end web developer. Trevor is design-aware, being a skilled designer in his own right, and therefore recognises the importance of design fidelity and attention to detail when reproducing a web design in <abbr class="abbr" title="Hypertext Markup Language">HTML</abbr> and <abbr class="abbr" title="Cascading Style Sheets">CSS</abbr>. He was a valuable asset to the team, and I would not hesitate to work with him again.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Nick Lockwood</span>
                  <span class="quote__cite-role">Senior Web Developer at AKQA</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

        <!-- Conchango -->
        <div class="testimonial">

          <div class="testimonial__logo">
            <img src="/public/images/logo/conchango.svg" alt="Conchango">
          </div>

          <div class="testimonial__content">

            <div class="testimonial__quote">
              <blockquote class="quote">
                <p>Trevor has done extremely well on the Shop Direct Group project for Conchango and is certainly very capable. His strength lies in pure <abbr class="abbr" title="Extensible Hypertext Markup Language">XHTML</abbr>/<abbr class="abbr" title="Cascading Style Sheets">CSS</abbr> build. I’d certainly recommend him for future projects.</p>
                <footer class="quote__cite">
                  <span class="quote__cite-name">Anni Abel</span>
                  <span class="quote__cite-role">Resource Manager at Conchango</span>
                </footer>
              </blockquote>
            </div>

          </div>

        </div>

      </div>

    </div>
{% endblock %}