{% extends "layout.html" %}

{% set pageId = "home" %}
{% set pageTitle = "Interaction Designer and Frontend Developer in Fleet - Trevor Saint" %}
{% set pageDescription = "Trevor Saint is a digital perfectionist with 17 years of experience designing and developing impressive services for Government departments and digital agencies." %}

{% block content %}
    <div class="section section--masthead">

      <div class="container">

        <div class="contents">

          <h1 class="heading-xxl">I’m an Interaction Designer living in Fleet</h1>

          <p>I’m a digital perfectionist with 17 years of experience designing and developing impressive services for Government departments and digital agencies.</p>

          <p>I’m currently working with Office for National Statistics on Census 2021.</p>

          <a class="button button--secondary override-!-margin-top-6" href="/about">Find out more<span class="visually-hidden"> about Trevor Saint</span></a>

        </div>

      </div>

    </div>
{% endblock %}
