{% extends "layout.html" %}

{% set pageId = "home" %}
{% set pageTitle = "Trevor Saint is an interaction designer working in London and living in Fleet" %}
{% set pageDescription = "Trevor Saint is a digital perfectionist with over 15 years’ experience designing and developing impressive services for GOV.UK, Nike, The FA and the Premier League." %}

{% block content %}
    <div class="section  section--masthead">

      <div class="container">

        <div class="contents">

          <h1 class="heading-xxl">I’m an interaction designer working in London</h1>

          <p>A digital perfectionist with over 15 years’ experience designing and developing impressive services. I’ve designed for big brands like <strong>GOV.UK</strong>, <strong>Nike</strong>, <strong>The FA</strong> and <strong>Premier League</strong>.</p>

          <p>I am currently working with <strong>Servelec</strong> to improve the <abbr class="abbr" title="User Experience">UX</abbr>/<abbr class="abbr" title="User Interface">UI</abbr> of their Mosaic system to transform social care.</p>

          <a class="button  button--secondary  override-!-margin-top-6" href="/about">Find out more<span class="visually-hidden"> about Trevor Saint</span></a>

        </div>

      </div>

    </div>
{% endblock %}