{% extends "layout.html" %}

{% set pageId = "home" %}
{% set pageTitle = "Trevor Saint is an interaction designer working in London and living in Fleet" %}
{% set pageDescription = "Trevor Saint is a digital perfectionist with over 15 years’ experience designing and developing impressive services for GOV.UK, Nike, The FA and the Premier League." %}

{% block content %}
    <div class="section  section--masthead">

      <div class="container">

        <div class="contents">

          <h1 class="heading-xxl">I’m an interaction designer working in London</h1>

          <p>A digital perfectionist with over 15 years’ experience designing and developing impressive services. I’ve designed for big brands
          like <b>GOV.UK</b>, <b>Nike</b>, <b>The FA</b> and the <b>Premier League</b>.</p>

          <a class="button  button--secondary  override-!-margin-top-6" href="/about">Find out more<span class="visually-hidden"> about Trevor Saint</span></a>

        </div>

      </div>

    </div>
{% endblock %}