{% extends "layout.html" %}

{% set pageId = "privacy policy" %}
{% set pageTitle = "Privacy policy" %}
{% set pageDescription = "Google Analytics software is used to collect information about how you use the website." %}

{% block content %}
    <div class="section">
      
      <div class="container">

        <div class="contents">

          <h1 class="heading-xxl">Privacy policy</h1>      

          <p>The personal data I collect from you includes:</p>

          <ul class="list  list--bullet">
            <li>questions or queries you leave including your email address if you contact me</li>
            <li>your Internet Protocol (<abbr>IP</abbr>) address, and the details of which version of web browser you used</li>
            <li>information on how you use the site, using <a href="/cookies">cookies</a> and page tagging techniques</li>
          </ul>

          <h2 class="heading-m  override-!-margin-top-9">Why we need it</h2>

          <p>I use Google Analytics software to collect information about how you use trevorsaint.uk. I do this to help make sure the site is meeting the needs of its users and to help make improvements.</p> 

          <p>Google Analytics stores information about:</p>

          <ul class="list  list--bullet">
            <li>the pages you visit</li>
            <li>how long you spend on each page</li>
            <li>how you got to the site</li>
            <li>what you click on while you’re visiting the site</li>
          </ul>

          <h2 class="heading-m  override-!-margin-top-9">What I do with your data</h2>

          <p>I will not:</p>

          <ul class="list  list--bullet">
            <li>sell or rent your data to third parties</li>
            <li>share your data with third parties for marketing purposes</li>
          </ul>

          <p>I will share your data if I am required to do so by law - for example, by court order, or to prevent fraud or other crime.</p>

        </div>

      </div>

    </div>
{% endblock %}