{% set pageTitle       = "Redesigning the look and feel throughout for Paramount Packaging - Trevor Saint" %}
{% set pageDescription = "Trevor Saint redesigned the look and feel throughout for Paramount Packaging" %}
{% set pageId          = "projects" %}

{% extends "layout.html" %}

{% block content %}


<section class="padding-top-xs padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">


  <div class="container">


    {{
      backLink({
        "url": '/projects',
        "text": 'Back'
      })
    }}


    <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">Redesigning the look and feel throughout for Paramount</h1>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs justify-between">

        <div class="col-11@sm offset-1@sm">
          <h2 class="heading-xl">Overview</h2>
        </div>

        <div class="col-7@sm offset-1@sm">
          <div class="color-contrast-medium text-component">
            <p>Paramount attend a lot of exhibitions and these events are an excellent way to obtain a greater understanding of what customers want to see. Customers are interested in their industry which could be anything from, bakery, produce or pharmaceuticals.</p>
            <p>Emphasis was spent on forming a relationship between an industry and a suitable machine, rather than just showcasing what machines Paramount offer.</p>
            <p>Customers can now find what they are looking for quickly.</p>
          </div>
        </div>

        <div class="col-3@sm">
          <dl>
            <dt class="font-bold">Client</dt>
            <dd class="color-contrast-medium margin-bottom-xxs">Paramount Packaging Systems</dd>
            <dt class="font-bold">Industry</dt>
            <dd class="color-contrast-medium margin-bottom-xxs">Packaging</dd>
            <dt class="font-bold">Year</dt>
            <dd class="color-contrast-medium">2017</dd>
          </dl>
        </div>

      </div>

    </div>


    <figure>

      <div class="grid gap-xs">

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
        </div>

        <div class="col-6@sm">
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
        </div>

      </div>

      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Building a brand identity with clean photography and visual design</figcaption>

    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Photography is ‘Paramount’</h2>
            <div class="color-contrast-medium">
              <p>It was a fantastic opportunity being able to do the photography, because I could really build up the look and feel I wanted.</p>
              <p>I took a collection of team photos in a studio setup, attended exhibitions where I could capture machines, the team and any other creative opportunities I could cast my eyes on.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <div class="grid gap-xs">

      <div class="col-4@sm">
        <figure>
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
          <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">PPMA exhibition event at the NEC in Birmingham</figcaption>
        </figure>
      </div>

      <div class="col-4@sm">
        <figure>
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
          <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Management team profile photography</figcaption>
        </figure>
      </div>

      <div class="col-4@sm">
        <figure>
          <div class="bg-contrast-lower media-wrapper media-wrapper--1:1"></div>
          <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Management team profile photography</figcaption>
        </figure>
      </div>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Style guide and visual design</h2>
            <div class="color-contrast-medium">
              <p>Forming a style for paramount was an important process. Clean typography choice and scale, colour palette, and how elements look and relate to each other on a page all build an important image, brand and awareness.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Style guide to include typography, colour palette, form controls, errors, grid, buttons and ui components</figcaption>
    </figure>


    <figure class="margin-top-xs">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Home page visual design for desktop, tablet and mobile devices</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>Managing their content</h2>
            <div class="color-contrast-medium">
              <p>ExpressionEngine was the content management system of choice. It’s incredibly flexible, secure, and was a perfect fit for Paramount. Everything was built from the ground up to allow them and their marketing company to manage and control all their website content.</p>
              <p>They have the ability to manage news, machines, pack styles, employees and anything else that did not require design intervention.</p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <figure>
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">ExpressionEngine CMS to manage Paramount Packaging online content</figcaption>
    </figure>


    <figure class="margin-top-xs">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
      <figcaption class="color-contrast-medium body-xs margin-top-xxxs text-center">Management profile visual design for desktop, tablet and mobile devices</figcaption>
    </figure>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="grid gap-xs">

        <div class="col-7@sm offset-1@sm">
          <div class="text-component">
            <h2>The results</h2>
            <div class="color-contrast-medium">
              <p>I delivered a website, which was exactly what Paramount Packaging was looking for. This met the needs of the client, their marketing team, and more importantly, their customers. This included:</p>
              <ul>
                <li>design and development</li>
                <li>photography and videography</li>
                <li>MailChimp integration</li>
                <li>ExpressionEngine integration</li>
                <li>mobile friendly design</li>
                <li>continued support and maintenance</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>


    <!-- Previous / Next Links -->
    <ul class="pn-links grid">

      <li class="pn-links__item col-6@md">

        <a class="pn-links__link justify-center justify-between@md" href="/projects/hmcts-design-system" rel="prev">

          <svg class="pn-links__icon icon icon--md" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-back"/></svg>

          <span class="margin-left-sm">
            <i class="sr-only">Previous project: </i>A design system to solve problems and avoid repetition
          </span>

        </a>

      </li>

      <li class="pn-links__item col-6@md">

        <a class="pn-links__link justify-center justify-between@md" href="/projects/rural-payments" rel="next">

          <span class="margin-right-sm">
            <i class="sr-only">Next project: </i>Rural grants and payments to help the farming industry
          </span>

          <svg class="pn-links__icon icon icon--md" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#arrow-forward"/></svg>

        </a>

      </li>

    </ul>


  </div>


</section>


{% endblock %}
