{% set pageTitle       = "Paramount Packaging by Trevor Saint | Redesigning the look and feel throughout for a packaging company" %}
{% set pageDescription = "I designed and developed the website for Paramount Packaging. I also captured studio and machine photography to give a clear and unique Brand Experience for existing and new customers." %}
{% set pageUrl         = "projects/paramount-packaging" %}
{% set pageId          = "projects" %}

{% extends "layout.njk" %}

{% block content %}

  <section class="padding-top-xs">

    <div class="container">

      {{ backLink({
        "url": rootPath + 'projects',
        "text": 'Back to projects'
      }) }}

      <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">Redesigning the look and feel throughout for Paramount</h1>

      <div class="hero">
        <picture>
          <source type="image/webp" srcset="{{rootPath}}images/projects/paramount-packaging/hero.webp, {{rootPath}}images/projects/paramount-packaging/hero@2x.webp 2x">
          <source type="image/png" srcset="{{rootPath}}images/projects/paramount-packaging/hero.png, {{rootPath}}images/projects/paramount-packaging/hero@2x.png 2x">
          <img height="800" width="1200" src="{{rootPath}}images/projects/paramount-packaging/hero.png" alt="" loading="lazy">
        </picture>
      </div>

      <div class="flex@sm justify-between items-start margin-top-md">

        {{ entryDetails({
          "rows": [
            {
              "key": {
                "text": 'Client'
              },
              "value": {
                "text": 'Paramount Packaging Systems'
              }
            },
            {
              "key": {
                "text": 'Industry'
              },
              "value": {
                "text": 'Packaging'
              }
            },
            {
              "key": {
                "text": 'Year'
              },
              "value": {
                "text": '2017 (updated 2020)'
              }
            }
          ]
        }) }}

        <p class="margin-xs margin-bottom-0 margin-0@sm">
          <a class="link link--icon link--underline" href="https://paramount-packaging.co.uk" rel="external" aria-label="Visit website for Paramount Packaging">
            Visit website
            {{
              icon({
                "classes": 'margin-left-xxxxs',
                "icon": 'launch'
              })
            }}
          </a>
        </p>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Overview</h2>

          <div class="color-contrast-medium">
            <p>Paramount attend a lot of exhibitions and these events are an excellent way to obtain a greater understanding of what customers want to see. Customers are interested in their industry which could be anything from, bakery, produce or pharmaceuticals.</p>
            <p>Emphasis was spent on forming a relationship between an industry and a suitable machine, rather than just showcasing what machines Paramount offer. Customers can now find what they are looking for quickly.</p>
          </div>

        </div>

      </div>

      <div class="grid gap-xs">

        <div class="col-6@sm">
          <figure class="figure" role="figure" aria-label="Fuji packaging machine photography">
            <div class="bg-contrast-lower aspect-ratio-1:1">
              <img height="588" width="588" srcset="{{rootPath}}images/projects/paramount-packaging/closeup-fuji-machine-tray.jpg 1x, {{rootPath}}images/projects/paramount-packaging/closeup-fuji-machine-tray@2x.jpg 2x" src="{{rootPath}}images/projects/paramount-packaging/closeup-fuji-machine-tray.jpg" alt="Fuji machine close up of inline feed" loading="lazy">
            </div>
            <figcaption class="figure__caption margin-top-xxs">Fuji packaging machine photography</figcaption>
          </figure>
        </div>

        <div class="col-6@sm">
          <figure class="figure" role="figure" aria-label="Responsive design for mobile">
            <div class="bg-contrast-lower aspect-ratio-1:1">
              <picture>
                <source type="image/webp" srcset="{{rootPath}}images/projects/paramount-packaging/on-iphone.webp, {{rootPath}}images/projects/paramount-packaging/on-iphone@2x.webp 2x">
                <source type="image/png" srcset="{{rootPath}}images/projects/paramount-packaging/on-iphone.png, {{rootPath}}images/projects/paramount-packaging/on-iphone@2x.png 2x">
                <img height="588" width="588" src="{{rootPath}}images/projects/paramount-packaging/on-iphone.png" alt="" loading="lazy">
              </picture>
            </div>
            <figcaption class="figure__caption margin-top-xxs">Responsive design for mobile</figcaption>
          </figure>
        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Photography is ‘Paramount’</h2>

          <div class="color-contrast-medium">
            <p>It was a fantastic opportunity being able to do the photography, because I could really build up the look and feel I wanted.</p>
            <p>I took a collection of team photos in a studio setup, attended exhibitions where I could capture machines, the team and any other creative opportunities I could cast my eyes on.</p>
          </div>

        </div>

      </div>

      <div class="grid gap-xs">

        <div class="col-6@sm">
          <figure class="figure" role="figure" aria-label="PPMA exhibition event at the NEC">
            <div class="bg-contrast-lower aspect-ratio-1:1">
              <img height="588" width="588" srcset="{{rootPath}}images/projects/paramount-packaging/ppma-exhibition-event-at-nec.jpg 1x, {{rootPath}}images/projects/paramount-packaging/ppma-exhibition-event-at-nec@2x.jpg 2x" src="{{rootPath}}images/projects/paramount-packaging/ppma-exhibition-event-at-nec.jpg" alt="Paramount employees sat at a tabke discussion sales and Fuji machines at PPMA" loading="lazy">
            </div>
            <figcaption class="figure__caption margin-top-xxs">PPMA exhibition event at the NEC</figcaption>
          </figure>
        </div>

        <div class="col-6@sm">

          <figure class="figure" role="figure" aria-label="Management team photography">

            <div class="grid gap-xs">

              <div class="col-6">
                <div class="bg-contrast-lower aspect-ratio-1:1">
                  <img height="282" width="282" srcset="{{rootPath}}images/projects/paramount-packaging/management-charles-ingham.jpg 1x, {{rootPath}}images/projects/paramount-packaging/management-charles-ingham@2x.jpg 2x" src="{{rootPath}}images/projects/paramount-packaging/management-charles-ingham.jpg" alt="Portrait of Charles Ingham, Managing Director at Paramount Packaging" loading="lazy">
                </div>
              </div>

              <div class="col-6">
                <div class="bg-contrast-lower aspect-ratio-1:1">
                  <img height="282" width="282" srcset="{{rootPath}}images/projects/paramount-packaging/management-aaron-bessell.jpg 1x, {{rootPath}}images/projects/paramount-packaging/management-aaron-bessell@2x.jpg 2x" src="{{rootPath}}images/projects/paramount-packaging/management-aaron-bessell.jpg" alt="Portrait of Aaron Bessell, Sales Director at Paramount Packaging" loading="lazy">
                </div>
              </div>

              <div class="col-6">
                <div class="bg-contrast-lower aspect-ratio-1:1">
                  <img height="282" width="282" srcset="{{rootPath}}images/projects/paramount-packaging/management-darren-bull.jpg 1x, {{rootPath}}images/projects/paramount-packaging/management-darren-bull@2x.jpg 2x" src="{{rootPath}}images/projects/paramount-packaging/management-darren-bull.jpg" alt="Portrait of Darren Bull, Operations Manager at Paramount Packaging" loading="lazy">
                </div>
              </div>

              <div class="col-6">
                <div class="bg-contrast-lower aspect-ratio-1:1">
                  <img height="282" width="282" src="{{rootPath}}images/projects/paramount-packaging/management-placeholder.svg" alt="" aria-hidden="true" loading="lazy">
                </div>
              </div>

            </div>

            <figcaption class="figure__caption margin-top-xxs">Management team photography</figcaption>

          </figure>

        </div>

        <div class="col-6@sm">
          <figure class="figure" role="figure" aria-label="Meat, Fish and Poultry photography">
            <div class="bg-contrast-lower aspect-ratio-1:1">
              <img height="588" width="588" srcset="{{rootPath}}images/projects/paramount-packaging/meat-fish-poultry-photography.jpg 1x, {{rootPath}}images/projects/paramount-packaging/meat-fish-poultry-photography@2x.jpg 2x" src="{{rootPath}}images/projects/paramount-packaging/meat-fish-poultry-photography.jpg" alt="" loading="lazy">
            </div>
            <figcaption class="figure__caption margin-top-xxs">Meat, Fish and Poultry photography</figcaption>
          </figure>
        </div>

        <div class="col-6@sm">
          <figure class="figure" role="figure" aria-label="Bakery photography">
            <div class="bg-contrast-lower aspect-ratio-1:1">
              <img height="588" width="588" srcset="{{rootPath}}images/projects/paramount-packaging/bakery-photography.jpg 1x, {{rootPath}}images/projects/paramount-packaging/bakery-photography@2x.jpg 2x" src="{{rootPath}}images/projects/paramount-packaging/bakery-photography.jpg" alt="" loading="lazy">
            </div>
            <figcaption class="figure__caption margin-top-xxs">Bakery photography</figcaption>
          </figure>
        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Style guide and visual design</h2>

          <div class="color-contrast-medium">
            <p>Forming a style for paramount was an important process. Clean typography choice and scale, colour palette, and how elements look and relate to each other on a page all build an important image, brand and awareness.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Styleguide includes design foundations">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/paramount-packaging/styleguide-design-foundations.webp, {{rootPath}}images/projects/paramount-packaging/styleguide-design-foundations@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/paramount-packaging/styleguide-design-foundations.png, {{rootPath}}images/projects/paramount-packaging/styleguide-design-foundations@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/paramount-packaging/styleguide-design-foundations.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Styleguide includes design foundations</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Styleguide includes designed components">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/paramount-packaging/styleguide-designed-components.webp, {{rootPath}}images/projects/paramount-packaging/styleguide-designed-components@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/paramount-packaging/styleguide-designed-components.png, {{rootPath}}images/projects/paramount-packaging/styleguide-designed-components@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/paramount-packaging/styleguide-designed-components.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Styleguide includes designed components</figcaption>
      </figure>

      <figure class="figure margin-top-lg" role="figure" aria-label="Home page design utilising styleguide assets">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/paramount-packaging/home-page-design.webp, {{rootPath}}images/projects/paramount-packaging/home-page-design@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/paramount-packaging/home-page-design.png, {{rootPath}}images/projects/paramount-packaging/home-page-design@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/paramount-packaging/home-page-design.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Home page design utilising styleguide assets</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container text-component max-width-sm">

          <h2>Managing their content</h2>

          <div class="color-contrast-medium">
            <p>ExpressionEngine was the content management system of choice. It’s incredibly flexible, secure, and was a perfect fit for Paramount. Everything was built from the ground up to allow them and their marketing company to manage and control all their website content.</p>
            <p>They have the ability to manage news, machines, pack styles, employees and anything else that did not require design intervention.</p>
          </div>

        </div>

      </div>

      <figure class="figure" role="figure" aria-label="Client management of online content">
        <div class="bg-contrast-lower aspect-ratio-16:9">
          <picture>
            <source type="image/webp" srcset="{{rootPath}}images/projects/paramount-packaging/client-management-online-content.webp, {{rootPath}}images/projects/paramount-packaging/client-management-online-content@2x.webp 2x">
            <source type="image/png" srcset="{{rootPath}}images/projects/paramount-packaging/client-management-online-content.png, {{rootPath}}images/projects/paramount-packaging/client-management-online-content@2x.png 2x">
            <img height="675" width="1200" src="{{rootPath}}images/projects/paramount-packaging/client-management-online-content.png" alt="" loading="lazy">
          </picture>
        </div>
        <figcaption class="figure__caption margin-top-xxs">Client management of online content</figcaption>
      </figure>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-bottom">

        <div class="container text-component max-width-sm">

          <h2>The results</h2>

          <div class="color-contrast-medium">
            <p>I delivered a website, which was exactly what Paramount Packaging were looking for. This met the needs of the client, their marketing team, and more importantly, their customers.</p>
            <p class="font-bold">This includes:</p>
            <ul>
              <li>design and development</li>
              <li>photography and videography</li>
              <li>MailChimp integration</li>
              <li>ExpressionEngine integration</li>
              <li>mobile friendly design</li>
              <li>continued support and maintenance</li>
            </ul>
          </div>

        </div>

      </div>

      <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

        <div class="container max-width-sm">

          <div class="margin-bottom-sm">
            <p class="font-bold text-sm text-center">Share this project</p>
          </div>

          {{ socialShare({
            "twitter": {
              "attributes": {
                "data-social": 'twitter',
                "data-text": 'Hi there! https://trevorsaint.uk/projects/paramount-packaging via @trevorsaint',
                "data-hashtags": '#packaging, #japan, #branding, #design, #dev, #ux, #interactiondesign'
              }
            },
            "facebook": {
              "attributes": {
                "data-social": 'facebook',
                "data-url": 'https://trevorsaint.uk/projects/paramount-packaging'
              }
            },
            "pinterest": {
              "attributes": {
                "data-social": 'pinterest',
                "data-url": 'https://trevorsaint.uk/projects/paramount-packaging',
                "data-description": 'Redesigning the look and feel throughout for Paramount Packaging',
                "data-media": 'https://trevorsaint.uk/images/projects/paramount-packaging/pinterest.png'
              }
            },
            "linkedin": {
              "attributes": {
                "data-social": 'linkedin',
                "data-url": 'https://trevorsaint.uk/projects/paramount-packaging'
              }
            },
            "email": {
              "attributes": {
                "data-social": 'mail',
                "data-url": 'https://trevorsaint.uk/projects/paramount-packaging',
                "data-subject": 'Redesigning the look and feel throughout for Paramount Packaging - Trevor Saint',
                "data-body": 'https://trevorsaint.uk/projects/paramount-packaging'
              }
            }
          }) }}

        </div>

      </div>

      <div class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

        {{ previousNextLinks({
          "previousNextLinksItems": [
            {
              "rel": 'prev',
              "text": 'Previous project',
              "url": rootPath + 'projects/servelec-social-care',
              "label": 'An improved User Experience in Mosaic for Servelec’s Social Care'
            },
            {
              "rel": 'next',
              "text": 'Next project',
              "url": rootPath + 'projects/max-powder',
              "label": 'A complete rebrand and design for Max Powder'
            }
          ]
        }) }}

      </div>

    </div>

  </section>

{% endblock %}