{% set pageTitle       = "A once in a decade survey that gives us a better future" %}
{% set pageDescription = "" %}
{% set pageId          = "projects" %}

{% extends "layout.html" %}

{% block content %}


  <div class="container">


    {{ backLink({
      "url": '/projects',
      "text": 'Back'
    }) }}


    <h1 class="heading-xxl margin-y-sm margin-y-lg@sm">A once in a decade survey that gives us a better future</h1>


    <figure class="figure">
      <div class="bg-contrast-lower media-wrapper media-wrapper--3:2"></div>
    </figure>


    <div class="flex justify-between items-start margin-top-md">

      {{ entryDetails({
        "rows": [
          {
            "key": {
              "text": 'Client'
            },
            "value": {
              "text": 'Office for National Statistics'
            }
          },
          {
            "key": {
              "text": 'Industry'
            },
            "value": {
              "text": 'Statistics'
            }
          },
          {
            "key": {
              "text": 'Year'
            },
            "value": {
              "text": '2020'
            }
          }
        ]
      }) }}

      <p>
        <a class="link-icon" href="#0" rel="external">
          <span class="link-icon__label">Visit website</span>
          <svg class="icon icon--sm" width="24" height="24" viewBox="0 0 24 24" role="img" focusable="false" aria-hidden="true"><use xlink:href="/images/sprite.svg#launch"/></svg>
        </a>
      </p>

    </div>


    <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

      <div class="container text-component max-width-sm">

        <h2>Overview</h2>

        <div class="color-contrast-medium">
          <p>Fusce eu dui et mauris viverra commodo sed ut ante. Fusce sed ligula quis nunc varius mollis. Fusce lacinia felis diam, at imperdiet nulla venenatis id. Morbi sed purus eget risus rhoncus sodales. Maecenas molestie ligula nisl. Nam at consequat mi.</p>
          <p>Vivamus faucibus, purus at luctus tristique, elit nulla pulvinar velit, sed fermentum est lacus imperdiet neque.</p>
        </div>

      </div>

    </div>


  </div>


{% endblock %}