/* --------------------------------

Accordion

-------------------------------- */


.accordion {}


.accordion__item {
  border-bottom: 1px solid alpha(var(--color-black), .2);
  display: block;
}


.accordion__header {
  @include typography(24);
  align-items: center;
  display: flex;
  padding-bottom: var(--space-xxs);
  padding-top: var(--space-xxs);
  justify-content: space-between;
  text-align: left;
  width: 100%;
}


.accordion__panel {
  padding-bottom: var(--space-xxs);
}


.accordion__item--is-open > .accordion__header .accordion__icon {
  transform: rotate(-180deg);
}


.js {


  .accordion__header {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:focus span {
      background-color: var(--color-tertiary);
      color: var(--color-contrast-high);
      box-shadow: 0 0 0 var(--space-xxxxs) var(--color-tertiary);
      outline: none;
    }

  }


  .accordion__panel {
    display: none;
  }


  .accordion__item--is-open > .accordion__panel {
    display: block;
  }


}


@include breakpoint(sm) {

  .accordion__header {
    padding-bottom: var(--space-xs);
    padding-top: var(--space-xs);
  }

  .accordion__panel {
    padding-bottom: var(--space-xs);
  }

}