/* --------------------------------
Accordion
-------------------------------- */

.accordion {}


.accordion__item {
  border-bottom: 1px solid alpha(var(--color-black), 0.2);
  display: block;
}


.accordion__header {
  @include typography(24);
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}


.accordion__item--is-open > .accordion__header {

  .accordion__icon {
    transform:rotate(-180deg);
  }

}


.js {


  .accordion__header {
    padding: var(--space-xs);

    &:hover {
      background-color: var(--color-contrast-lower);
      text-decoration: underline;
    }

    &:focus {
      background-color: var(--color-tertiary);
      box-shadow: 0 0 0 var(--space-xxxxs) var(--color-tertiary);
      color: var(--color-contrast-high);
    }

  }


  .accordion__panel {
    display: none;
  }


  .accordion__item--is-open > .accordion__panel {
    display: block;
  }


}