{% set pageTitle       = "Feedback is the breakfast of champions" %}
{% set pageDescription = "Trevor Saint has had positive feedback from clients, colleagues and friends for several different projects." %}
{% set pageUrl         = "testimonials" %}
{% set pageId          = "testimonials" %}


{% extends "layout.njk" %}


{% block content %}


<section class="padding-top-xs padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg">

  <div class="container">

    <div class="max-width-md">

      <h1 class="heading-xxxl margin-bottom-xxs margin-bottom-xs@md margin-bottom-lg@lg">Testimonials</h1>

      <div class="text-component color-contrast-medium body-lg">
        <p>Feedback is the breakfast of champions.</p>
      </div>

    </div>

  </div>

</section>


<div class="container">


  <!-- Ministry of Justice -->
  <div class="padding-bottom-md padding-bottom-lg@sm padding-bottom-xxl@md padding-bottom-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/moj.svg" height="56" width="72" loading="lazy" alt="Ministry of Justice logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
          <p>Trevor is a frontend developer with a keen eye for design. He has a strong emphasis on usability and accessibility and basically making websites and applications that look good and work right. While we were working together he single handedly refactored the Single Justice application, a transformation that totally changed the way the application looked and how are users were able to interact with it.</p>
          <p>On another project, Trevor was instrumental in getting the HMCTS design system up and running, thus helping to reduce design and coding time on the reform project. In addition to his stellar qualities as a designer and developer, Trevor is an all round decent guy who always has time to offer advice and lend a hand. I’d jump at the chance to work with him again.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Femi Soetan</span>
            <span class="quote__cite-role">Senior Business Analyst</span>
          </footer>
        </blockquote>

        <div class="read-more js-read-more" data-button-class="read-more__button" data-button-labels="Show more, Show less" data-ellipsis="off">

          <div class="js-read-more__content">

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>Trevor was a significant addition to the frontend development team on the programme. His arrival took the frontend coded designs from clunky inaccurate screens to smoothly responsive, accessible and pixel–accurate steps in a user journey. He had extensive experience in GDS design principles bringing previous knowledge from other projects of how they work in practice.</p>
              <p>He was able to code designs often improving them so that the iterative rework cycle of designs into code and testing was a shortcut. This was a huge help on a large, complex delivery project.</p>
              <p>Trevor is experienced working collaboratively with user researchers, content designers and developers in agile scrum teams.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Pamela Woods</span>
                <span class="quote__cite-role">User Experience Lead</span>
              </footer>
            </blockquote>

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>It’s been a pleasure working with Trevor, and to see him work. His passion and professionalism are superb. We ATCM wouldn’t be where we are without him, and we certainly wouldn’t have released such a well-polished product.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Joe Simpson</span>
                <span class="quote__cite-role">Delivery Manager</span>
              </footer>
            </blockquote>

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>Trevor is a rare individual that understands beautiful and thoughtful design AND code aesthetics. He is possibly the best user centred creative I’ve come to know and it’s always a pleasure to work with him. I have learned (and continue to learn) from Trevor through his vast understanding of the latest coding standards, UK Government Digital Standards and his intense focus on accessibility.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Larry Miles</span>
                <span class="quote__cite-role">Senior UX Design Consultant</span>
              </footer>
            </blockquote>

          </div>

        </div>

      </div>

    </div>

  </div>


  <!-- HM Courts and Tribunals Service -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/hmcts.svg" height="56" width="121" loading="lazy" alt="HM Courts and Tribunals Service logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
          <p>Trevor worked with me as an Interaction Designer and I can really vouch for his attention to the detail and quality of the UX designs. He was one of the first few team members joined and was quickly able to embed within the agile scrum team working closely with User Researcher and BA.</p>
          <p>Given the high profile of users(Judiciary), Trevor established a harmonious relationship with senior users and product owner enabling collaborative design delivery which was one of the key deliverable for successful discovery phase.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Kalyana Chakravarthi Kakaraparthi</span>
            <span class="quote__cite-role">Agile Delivery Manager</span>
          </footer>
        </blockquote>

        <div class="read-more js-read-more" data-button-class="read-more__button" data-button-labels="Show more, Show less" data-ellipsis="off">

          <div class="js-read-more__content">

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>I think perhaps the best way to describe Trevor is as an artisan of web pages. He has an incredible attention to detail and is extremely skilled at crafting polished HTML. He really cares about good design and creating high quality user experiences.</p>
              <p>I’ve worked with Trevor in two different teams and have enjoyed working with him on both occasions. He has a great work ethic and will always deliver to a very high standard. An excellent professional.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Bill Wessel</span>
                <span class="quote__cite-role">User Researcher</span>
              </footer>
            </blockquote>

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>Trevor has a unique combination of skills: not only is he experienced in designing and coding accessible interfaces using ARIA, but he is also adept in visual design. Married together, Trevor produces interfaces with good hierarchy, typography, vertical rhythm and accessibility all at the same time.</p>
              <p>I thoroughly enjoy working with him and hope to do so again in the future.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Adam Silver</span>
                <span class="quote__cite-role">Interaction Designer</span>
              </footer>
            </blockquote>

          </div>

        </div>

      </div>

    </div>

  </div>


  <!-- Servelec -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/servelec.svg" height="48" width="126" loading="lazy" alt="Servelec logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component">
          <p>I’ve worked with Trevor on a number of projects and I have to say that, without a doubt, he has consistently produced some of the most stunning UI and UX work I have ever seen. His work has influenced many people and his legacy still lives on in several of those projects and will be carried on into other upcoming projects.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Andrew Laidman</span>
            <span class="quote__cite-role">Consultant Business Analyst</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>


  <!-- Elsevier -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/elsevier.svg" height="56" width="51" loading="lazy" alt="Elsevier logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component">
          <p>We brought Trevor on board to help us develop a scalable design system / pattern library based on his experience working with the UK government. While the project ended up not adopting his solution for numerous reasons, his solutions and contributions won a lot of praise and support.</p>
          <p>He also has a great eye for detail, exhibited very strong knowledge in accessibility, and is a genuine hard worker. I highly recommend his services.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Boon Yew Chew</span>
            <span class="quote__cite-role">Principal UX Designer</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>


  <!-- Paramount Packaging -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/paramount-packaging.svg" height="40" width="125" loading="lazy" alt="Paramount Packaging logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component">
          <p>Working with Trevor has been an absolute pleasure and we could not be happier with the results. Trevor patiently took on board the various ideas that we had from Sales, Marketing and Operations (which were often polar opposites!) and managed to pull these into a web site that was exactly what we were looking for. Not only the appearance, but the functionality of the new website is fantastic and makes for such a pleasant user friendly experience for our customers.</p>
          <p>Trevor also created the stunning photography and video content on the web site; his vision and perfectionist nature has made the machines come alive. The professionalism and attention to detail make Trevor a joy to work with and allows him to stand out within his field.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Darren Bull</span>
            <span class="quote__cite-role">Operations Manager</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>


  <!-- Max Powder -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/max-powder.svg" height="24" width="147" loading="lazy" alt="Max Powder logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component">
          <p>Thanks to Trevor, we now have a wonderful transformation of our website. We have come out of the dark ages and finally have a mobile/tablet friendly website. Website design is not my area of expertise, so it was refreshing having Trevor bring ideas, and implement them wonderfully.</p>
          <p>Everything was finished to a deadline, and all of it was done perfectly. We have daily comments from customers on the quality of the website. Overall I can’t recommend Trevor and his business enough.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Kirk Dormer-French</span>
            <span class="quote__cite-role">Managing Director</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>


  <!-- Rural Payments Agency -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/rural-payments-agency.svg" height="56" width="108" loading="lazy" alt="Rural Payments Agency logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component">
          <p>Trevor provided his fantastic expertise and guidance to help us deliver a front end that looked good, coherent and intuitive.</p>
          <p>Trevor also greatly benefited the team by providing the tools and guidance to achieve the above, so that they could independently and quickly deliver a front end that closely matched the intended style. This saved the team time as Trevor can then work to refine and iterate the product.</p>
          <p>I really enjoyed working with Trevor at a personal and professional level. He is very passionate about what he does, and is very keen on sharing and applying his expertise to ensure that we deliver an excellent experience for the user.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Jonathan Bridger</span>
            <span class="quote__cite-role">Systems Developer</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>


  <!-- Premier League -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/premier-league.svg" height="40" width="95" loading="lazy" alt="Premier league logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component">
          <p>Trevor has a contemporary eye for web design, which stylishly blends in well-defined user experiences. He has been a pleasure to work with over the last six month and I happily recommend him to any future employer.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Alistair Robertson</span>
            <span class="quote__cite-role">Senior Business Analyst</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>


  <!-- The FA -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/thefa.svg" height="56" width="39" loading="lazy" alt="The Football Association logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component">
          <p>It was a really big pleasure to meet Trevor and work with him. I can’t say I have ever worked with a more professional and detail-focused web designer. I’ve learnt a lot from his designs and from his guidelines about how the modern web design should look like as well as how important is the close co-operation between designer and front-end developer to achieve a perfect result. Because for Trevor, there is no other way, but a perfect result.</p>
          <p>I recommend Trevor for anyone who is considering working with him.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Tomasz Libich</span>
            <span class="quote__cite-role">Software Engineer</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>


  <!-- Motilo -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/motilo.svg" height="24" width="101" loading="lazy" alt="Motilo logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
          <p>Trevor’s knowledge and understanding of front end development is second to none. He is able to take a complicated brief and deliver beyond expectations. Unafraid to challenge, you know you will always get the best results from a very gifted professional. Even if you are not working directly with him he always makes time to listen to any concerns you may have and offers sound advice on design and coding issues.</p>
          <p>He is also strong strategist and adds real value to any project. In short, Trevor is a great guy and a pleasure to work with.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Alex Outlaw</span>
            <span class="quote__cite-role">Marketing Director</span>
          </footer>
        </blockquote>

        <div class="read-more js-read-more" data-button-class="read-more__button" data-button-labels="Show more, Show less" data-ellipsis="off">

          <div class="js-read-more__content">

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>Trevor is a true expert of front end development. He is not only extremely organized and able to write state of the art CSS but he also has the precision and eye for detail that any designer would benefit immensely from.</p>
              <p>He thinks out of the box, has a keen interest on new technologies and has always been able to gently steer my designs (and my somewhat chaotic creativity) towards the consistency necessary to help us provide the best user journey possible.</p>
              <p>I found it refreshing to work with someone who has the confidence and knowledge to be able to let us know when we could be doing things in a better way. Trevor set our standards really high and now the only problem we have is to try to find a permanent developer who will be as good as he is!</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Luisa Kos</span>
                <span class="quote__cite-role">Head of Design</span>
              </footer>
            </blockquote>

          </div>

        </div>

      </div>

    </div>

  </div>


  <!-- Capita -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/capita.svg" height="37" width="116" loading="lazy" alt="Capita logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
          <p>Trevor is a first class interface developer. His creative ideas are matched with a solid business acumen and an understanding of development based around real user needs rather than just ‘what looks pretty’. He is diligent, hard working a pleasure to work with. I recommend him whole heartedly.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Piers Saye</span>
            <span class="quote__cite-role">Agile Delivery Manager &amp; Coach</span>
          </footer>
        </blockquote>

        <div class="read-more js-read-more" data-button-class="read-more__button" data-button-labels="Show more, Show less" data-ellipsis="off">

          <div class="js-read-more__content">

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>Trevor’s work on my team as a User Interface Developer and Designer was superb. He commits fully to the goals of a project and produces polished results every time. His versatility gave us the ability to use him as a Designer for new work as well as relying on his technical ability to work with back end developers and stakeholders. I’d work with Trevor again any time.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Branden Faulls</span>
                <span class="quote__cite-role">Web Platform Manager</span>
              </footer>
            </blockquote>

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>Trevor is a hard-working asset to any team. He understands the needs of the client and can quickly deliver professional and intuitive designs built around giving users the best experience. He is a pleasure to work with.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Sarah Jones</span>
                <span class="quote__cite-role">Lead Business Analyst</span>
              </footer>
            </blockquote>

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>Having worked with Trevor over a period of 4 months I have found him to be amiable, professional and most of all very competent. He has a passion for the semantic web and strives to deliver the most effective and accessible UI he can within the scope of the deliverable at hand.</p>
              <p>I would recommend Trevor wholeheartedly whether it is as a standalone designer/UI developer or as part of a multidiscipline agile team.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Mark Kobylanski</span>
                <span class="quote__cite-role">User Experience Designer</span>
              </footer>
            </blockquote>

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>Trevor is an excellent interface developer, with a great feel for intuitive UI. He’s also an extremely nice bloke and a pleasure to work with.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Colin Sweetman</span>
                <span class="quote__cite-role">Contract Online Services Programme Manager</span>
              </footer>
            </blockquote>

          </div>

        </div>

      </div>

    </div>

  </div>


  <!-- AKQA -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-offscreen">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/akqa.svg" height="32" width="67" loading="lazy" alt="AKQA logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
          <p>Trevor was a great asset to the Nike Show Your Five site build project, demonstrating problem solving skills and attention to detail while working to aggressive timescales. I’d happily recommend Trevor for future projects at AKQA.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">James Britton</span>
            <span class="quote__cite-role">Project Manager</span>
          </footer>
        </blockquote>

        <div class="read-more js-read-more" data-button-class="read-more__button" data-button-labels="Show more, Show less" data-ellipsis="off">

          <div class="js-read-more__content">

            <blockquote class="quote text-component padding-bottom-xs padding-bottom-lg@md">
              <p>Trevor is a skilled and hard-working front-end web developer. Trevor is design-aware, being a skilled designer in his own right, and therefore recognises the importance of design fidelity and attention to detail when reproducing a web design in HTML and CSS. He was a valuable asset to the team, and I would not hesitate to work with him again.</p>
              <footer class="quote__cite">
                <span class="quote__cite-name">Nick Lockwood</span>
                <span class="quote__cite-role">Senior Web Developer</span>
              </footer>
            </blockquote>

          </div>

        </div>

      </div>

    </div>

  </div>


  <!-- Conchango -->
  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

    <div class="grid gap-xs flex-row-reverse justify-between">

      <div class="col-3@sm offset-1@sm">
        <img class="margin-top-xxxs@sm" src="{{rootPath}}images/clients/conchango.svg" height="24" width="131" loading="lazy" alt="Conchango logo">
      </div>

      <div class="col-7@sm">

        <blockquote class="quote text-component">
          <p>Trevor has done extremely well on the Shop Direct Group project for Conchango and is certainly very capable. His strength lies in pure XHTML/CSS build. I’d certainly recommend him for future projects.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Anni Abel</span>
            <span class="quote__cite-role">Resource Manager</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>


</div>


{% endblock %}