// --------------------------------

// Font face

// --------------------------------

@font-face {
  font-family: "Baskerville";
  src: url("/fonts/Baskerville.woff2") format("woff2"), url("/fonts/Baskerville.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moderat";
  src: url("/fonts/Moderat-Bold.woff2") format("woff2"), url("/fonts/Moderat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moderat";
  src: url("/fonts/Moderat-Regular.woff2") format("woff2"), url("/fonts/Moderat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// font family
:root {
  --font-primary:   "Baskerville", "Baskerville Old Face", "Hoefler Text", "Garamond", "Times New Roman", serif;
  --font-secondary: "Moderat", "Arial", sans-serif
}