{% set pageTitle       = "Feedback is the breakfast of champions" %}
{% set pageDescription = "Trevor Saint has had positive feedback from clients, colleagues and friends." %}
{% set pageId          = "feedback" %}

{% extends "layout.html" %}

{% block content %}

<!-- Masthead -->
<section class="bg-primary padding-y-md padding-y-lg@sm">
  <div class="container">
    <div class="text-component color-white max-width-md">
      <h1>Feedback</h1>
    </div>
  </div>
</section>

<!-- Feedback -->
<div class="container">

  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg border-bottom">

    <div class="grid gap-sm justify-between">

      <div class="col-3@sm">
        <img src="/images/logo/ministry-of-justice.svg" alt="Ministry of Justice">
      </div>

      <div class="col-8@sm">

        <blockquote class="quote text-component padding-bottom-lg">
          <p>Trevor is a frontend developer with a keen eye for design. He has a strong emphasis on usability and accessibility and basically making websites and applications that look good and work right. While we were working together he single handedly refactored the Single Justice application, a transformation that totally changed the way the application looked and how are users were able to interact with it.</p>
          <p>On another project, Trevor was instrumental in getting the HMCTS design system up and running, thus helping to reduce design and coding time on the reform project. In addition to his stellar qualities as a designer and developer, Trevor is an all round decent guy who always has time to offer advice and lend a hand. I’d jump at the chance to work with him again.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Femi Soetan</span>
            <span class="quote__cite-role">Senior Business Analyst</span>
          </footer>
        </blockquote>

        <blockquote class="quote text-component">
          <p>Trevor was a significant addition to the frontend development team on the programme. His arrival took the frontend coded designs from clunky inaccurate screens to smoothly responsive, accessible and pixel–accurate steps in a user journey. He had extensive experience in GDS design principles bringing previous knowledge from other projects of how they work in practice.</p>
          <p>He was able to code designs often improving them so that the iterative rework cycle of designs into code and testing was a shortcut. This was a huge help on a large, complex delivery project.</p>
          <p>Trevor is experienced working collaboratively with user researchers, content designers and developers in agile scrum teams.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Pamela Woods</span>
            <span class="quote__cite-role">User Experience Lead</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>

  <div class="padding-y-md padding-y-lg@sm padding-y-xxl@md padding-y-xxxxl@lg">

    <div class="grid gap-sm justify-between">

      <div class="col-3@sm">
        <img src="/images/logo/servelec.svg" alt="Servelec">
      </div>

      <div class="col-8@sm">

        <blockquote class="quote text-component">
          <p>I’ve worked with Trevor on a number of projects and I have to say that, without a doubt, he has consistently produced some of the most stunning UI and UX work I have ever seen. His work has influenced many people and his legacy still lives on in several of those projects and will be carried on into other upcoming projects.</p>
          <footer class="quote__cite">
            <span class="quote__cite-name">Andrew Laidman</span>
            <span class="quote__cite-role">Consultant Business Analyst</span>
          </footer>
        </blockquote>

      </div>

    </div>

  </div>

</div>

{% endblock %}
