{%- from "back-link/_macro.njk" import backLink -%}
{%- from "entry-details/_macro.njk" import entryDetails -%}
{%- from "previous-next-links/_macro.njk" import previousNextLinks -%}
{%- from "social-sharing/_macro.njk" import socialShare -%}
{%- from "card/_macro.njk" import card -%}
{%- from "quote/_macro.njk" import quote -%}
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{pageTitle}}</title>

    <!-- Add home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{serviceName}}">

    <!-- Search Engine -->
    <meta name="description" content="{{pageDescription}}">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{rootPath}}{{pageUrl}}">
    <meta property="og:title" content="{{pageTitle}}">
    <meta property="og:image" content="{{rootPath}}images/opengraph.png">
    <meta property="og:description" content="{{pageDescription}}">
    <meta property="og:site_name" content="{{serviceName}}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@trevorsaint">
    <meta name="twitter:creator" content="trevorsaint">
    <meta name="twitter:url" content="{{rootPath}}{{pageUrl}}">
    <meta name="twitter:title" content="{{pageTitle}}">
    <meta name="twitter:description" content="{{pageDescription}}">
    <meta name="twitter:image" content="{{rootPath}}images/twitter.png">

    <!-- Android’s Chrome browser -->
    <meta name="theme-color" content="#F24B88">

    <!-- Favicon -->
    <link rel="icon" href="{{rootPath}}images/favicon.svg">

    <!-- Mask icon (Safari) -->
    <link rel="mask-icon" href="{{rootPath}}images/mask-icon.svg" color="#F24B88">

    <!-- Apple touch icon -->
    <link rel="apple-touch-icon" href="{{rootPath}}images/apple-touch-icon.png">

    <!-- Manifest -->
    <link href="{{rootPath}}manifest.json" rel="manifest">

    <!-- Font preloading -->
    <link rel="preload" as="font" type="font/woff2" href="/fonts/Baskerville.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff2" href="/fonts/Moderat-Bold.woff2" crossorigin="anonymous">
    <link rel="preload" as="font" type="font/woff2" href="/fonts/Moderat-Regular.woff2" crossorigin="anonymous">

    <!-- Stylesheet -->
    <link id="trevorsaint" href="{{rootPath}}stylesheets/main.css" rel="stylesheet">

    <!-- Progressive enhancement -->
    <script>document.getElementsByTagName('html')[0].className += ' js';</script>

  </head>
  <body>

  {% include "header.njk" %}

  <main class="content" id="content" role="main">
    {%- block content %}{% endblock %}
  </main>

  {% include "footer.njk" %}
  {% include "scripts.njk" %}

  </body>
</html>