/* --------------------------------

Forms

-------------------------------- */


.form-control {
  background-color: alpha(var(--color-black), 0.05);
  border: 2px solid transparent;
  border-radius: var(--radius-sm);
  padding: calc(var(--space-xxxs) - 2px); // Minus border width
  resize: none;
  width: 100%;

  &::placeholder {
    color: var(--color-contrast-medium);
    opacity: 1; // Firefox
  }

  &:focus {
    background-color: var(--color-white);
    border-color: var(--color-contrast-high);
    box-shadow: 0 0 0 var(--space-xxxxs) var(--color-tertiary);
    outline: none;
  }

}


.form-label {
  display: inline-block;
  margin-bottom: var(--space-xxxs);
}


// Error
.form-group--error {
  border-left: var(--space-xxxxs) solid var(--color-error);
  padding-left: var(--space-xxs);
}


.form-control--error {
  background-color: var(--color-white);
  border-color: var(--color-error);

  &:focus {
    border-color: var(--color-error);
    box-shadow: 0 0 0 3px alpha(var(--color-error), 0.2);
    outline: none;
  }

}